In [1]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
import numpy as np

In [2]:
data=pd.read_csv('personal_train.csv')

In [3]:
# Check column names
data.columns

Index(['Unnamed: 0', 'name', 'address', 'age', 'sex', 'date_of_birth'], dtype='object')

In [4]:
# Check data
data.head(30)

,Unnamed: 0,name,address,age,sex,date_of_birth
0,0,Roscoe Bohannon,"7183 Osborne Ways Apt. 651\r\nEast Andrew, OH ...",60,Male,1959-09-26
1,1,Ernest Kline,"391 Ball Road Suite 961\r\nFlowersborough, IN ...",52,Male,1966-10-28
2,2,Harold Hendriks,"8702 Vincent Square\r\nNew Jerryfurt, CO 30614",60,Male,1959-06-16
3,3,Randy Baptiste,"2751 Harris Crossroad\r\nWest Ashley, CA 30311",39,Male,1980-09-09
4,4,Anthony Colucci,"904 Robert Cliffs Suite 186\r\nWest Kyle, CO 7...",49,Male,1970-02-22
5,5,Ronald Lange,"30973 Martinez Shores\r\nJameston, CA 70245",46,Male,1973-09-25
6,6,Boyd Eiselein,29941 Christopher Curve Apt. 682\r\nRaychester...,54,Female,1964-10-31
7,7,Raymond Smith,53487 Scott Extensions Apt. 824\r\nMccartytown...,67,Male,1952-07-23
8,8,Harold Miller,"8514 Elizabeth Crescent\r\nWest Joseland, GA 4...",52,Male,1967-06-28
9,9,Charles Czachorowski,"6798 Wagner Locks Suite 377\r\nLake Brenda, DC...",30,Male,1988-11-07
10,10,Robert Grantham,"822 Adams Plains\r\nNew Karen, AK 92114",38,Male,1981-05-01
11,11,Joel Lam,61296 Reginald Rapids Suite 783\r\nWest Timoth...,62,Male,1957-08-10
12,12,Irving Gil,"90757 Amanda Views Suite 604\r\nPort Paul, TX ...",56,Male,16/11/1962
13,13,Terry Reynolds,0019 Jensen Land Apt. 513\r\nPort Timothyville...,76,Male,21/04/1943
14,14,Kurt Littlefield,"822 Wilson Meadow\r\nMitchellmouth, RI 05935",NaN,Male,1985-11-03
15,15,Andy Grayson,"2573 Ryan Mission\r\nShortton, DC 01129",67,Male,1952-08-06
16,16,Chauncey Suarez,"481 Wilson Prairie\r\nKimberlymouth, LA 20064",46,Female,1973-06-27
17,17,Wallace Street,"9909 John Creek\r\nEast Heather, NY 31266",44,Male,1975-01-10
18,18,Daniel Crossman,"74669 Robles Drive\r\nPort Madisonbury, LA 63565",45,Male,1973-12-24
19,19,Steve Ripp,"7629 Ramos Knoll\r\nOwensmouth, NC 34420",54,Female,1965-05-06
20,20,George Hairston,"18356 Benjamin Roads\r\nSouth Nancy, NJ 58120",51,Male,1968-09-07
21,21,Jeffrey Taylor,USNV Kim\r\nFPO AA 96043,39,Female,1980-06-11 00 00 00
22,22,David Mealy,"0873 Diaz Village\r\nSandrastad, DE 05796",53,Male,1966-10-21
23,23,Garfield Bowen,"3678 Gloria Pine Apt. 652\r\nKevinfort, LA 80839",54,Male,1965/04/25
24,24,Thaddeus Mackerl,"8122 Jessica Knolls Apt. 880\r\nDakotafurt, WV...",47,Male,1972-07-10
25,25,Gerald Pack,"6146 Roman Shores\r\nNew Christine, OR 28920",55,Male,1963-12-19
26,26,Jonathon Nemith,"875 David Road\r\nPhillipfort, NC 26174",51,Male,1968-03-02
27,27,Roger Groce,"781 Berry Spring\r\nTravismouth, NJ 11603",46,Female,1972-12-11
28,28,Harold Odowd,7842 Curtis Vista Apt. 188\r\nLake Samuelburgh...,55,Male,1963-12-06
29,29,Stanley Forrest,"9532 Jesse Roads Suite 253\r\nNorth Toni, NC 7...",52,Male,1967-09-04 00:00:00

In [5]:
# Remove useless column 'Unnamed: 0'
data=data.drop(columns = 'Unnamed: 0')
data.head(30)

,name,address,age,sex,date_of_birth
0,Roscoe Bohannon,"7183 Osborne Ways Apt. 651\r\nEast Andrew, OH ...",60,Male,1959-09-26
1,Ernest Kline,"391 Ball Road Suite 961\r\nFlowersborough, IN ...",52,Male,1966-10-28
2,Harold Hendriks,"8702 Vincent Square\r\nNew Jerryfurt, CO 30614",60,Male,1959-06-16
3,Randy Baptiste,"2751 Harris Crossroad\r\nWest Ashley, CA 30311",39,Male,1980-09-09
4,Anthony Colucci,"904 Robert Cliffs Suite 186\r\nWest Kyle, CO 7...",49,Male,1970-02-22
5,Ronald Lange,"30973 Martinez Shores\r\nJameston, CA 70245",46,Male,1973-09-25
6,Boyd Eiselein,29941 Christopher Curve Apt. 682\r\nRaychester...,54,Female,1964-10-31
7,Raymond Smith,53487 Scott Extensions Apt. 824\r\nMccartytown...,67,Male,1952-07-23
8,Harold Miller,"8514 Elizabeth Crescent\r\nWest Joseland, GA 4...",52,Male,1967-06-28
9,Charles Czachorowski,"6798 Wagner Locks Suite 377\r\nLake Brenda, DC...",30,Male,1988-11-07
10,Robert Grantham,"822 Adams Plains\r\nNew Karen, AK 92114",38,Male,1981-05-01
11,Joel Lam,61296 Reginald Rapids Suite 783\r\nWest Timoth...,62,Male,1957-08-10
12,Irving Gil,"90757 Amanda Views Suite 604\r\nPort Paul, TX ...",56,Male,16/11/1962
13,Terry Reynolds,0019 Jensen Land Apt. 513\r\nPort Timothyville...,76,Male,21/04/1943
14,Kurt Littlefield,"822 Wilson Meadow\r\nMitchellmouth, RI 05935",NaN,Male,1985-11-03
15,Andy Grayson,"2573 Ryan Mission\r\nShortton, DC 01129",67,Male,1952-08-06
16,Chauncey Suarez,"481 Wilson Prairie\r\nKimberlymouth, LA 20064",46,Female,1973-06-27
17,Wallace Street,"9909 John Creek\r\nEast Heather, NY 31266",44,Male,1975-01-10
18,Daniel Crossman,"74669 Robles Drive\r\nPort Madisonbury, LA 63565",45,Male,1973-12-24
19,Steve Ripp,"7629 Ramos Knoll\r\nOwensmouth, NC 34420",54,Female,1965-05-06
20,George Hairston,"18356 Benjamin Roads\r\nSouth Nancy, NJ 58120",51,Male,1968-09-07
21,Jeffrey Taylor,USNV Kim\r\nFPO AA 96043,39,Female,1980-06-11 00 00 00
22,David Mealy,"0873 Diaz Village\r\nSandrastad, DE 05796",53,Male,1966-10-21
23,Garfield Bowen,"3678 Gloria Pine Apt. 652\r\nKevinfort, LA 80839",54,Male,1965/04/25
24,Thaddeus Mackerl,"8122 Jessica Knolls Apt. 880\r\nDakotafurt, WV...",47,Male,1972-07-10
25,Gerald Pack,"6146 Roman Shores\r\nNew Christine, OR 28920",55,Male,1963-12-19
26,Jonathon Nemith,"875 David Road\r\nPhillipfort, NC 26174",51,Male,1968-03-02
27,Roger Groce,"781 Berry Spring\r\nTravismouth, NJ 11603",46,Female,1972-12-11
28,Harold Odowd,7842 Curtis Vista Apt. 188\r\nLake Samuelburgh...,55,Male,1963-12-06
29,Stanley Forrest,"9532 Jesse Roads Suite 253\r\nNorth Toni, NC 7...",52,Male,1967-09-04 00:00:00

In [6]:
# Remove time from the date_of_birth
data['date_of_birth'] = data['date_of_birth'].str.split(' ',expand=True)[0]
data.head(30)

,name,address,age,sex,date_of_birth
0,Roscoe Bohannon,"7183 Osborne Ways Apt. 651\r\nEast Andrew, OH ...",60,Male,1959-09-26
1,Ernest Kline,"391 Ball Road Suite 961\r\nFlowersborough, IN ...",52,Male,1966-10-28
2,Harold Hendriks,"8702 Vincent Square\r\nNew Jerryfurt, CO 30614",60,Male,1959-06-16
3,Randy Baptiste,"2751 Harris Crossroad\r\nWest Ashley, CA 30311",39,Male,1980-09-09
4,Anthony Colucci,"904 Robert Cliffs Suite 186\r\nWest Kyle, CO 7...",49,Male,1970-02-22
5,Ronald Lange,"30973 Martinez Shores\r\nJameston, CA 70245",46,Male,1973-09-25
6,Boyd Eiselein,29941 Christopher Curve Apt. 682\r\nRaychester...,54,Female,1964-10-31
7,Raymond Smith,53487 Scott Extensions Apt. 824\r\nMccartytown...,67,Male,1952-07-23
8,Harold Miller,"8514 Elizabeth Crescent\r\nWest Joseland, GA 4...",52,Male,1967-06-28
9,Charles Czachorowski,"6798 Wagner Locks Suite 377\r\nLake Brenda, DC...",30,Male,1988-11-07
10,Robert Grantham,"822 Adams Plains\r\nNew Karen, AK 92114",38,Male,1981-05-01
11,Joel Lam,61296 Reginald Rapids Suite 783\r\nWest Timoth...,62,Male,1957-08-10
12,Irving Gil,"90757 Amanda Views Suite 604\r\nPort Paul, TX ...",56,Male,16/11/1962
13,Terry Reynolds,0019 Jensen Land Apt. 513\r\nPort Timothyville...,76,Male,21/04/1943
14,Kurt Littlefield,"822 Wilson Meadow\r\nMitchellmouth, RI 05935",NaN,Male,1985-11-03
15,Andy Grayson,"2573 Ryan Mission\r\nShortton, DC 01129",67,Male,1952-08-06
16,Chauncey Suarez,"481 Wilson Prairie\r\nKimberlymouth, LA 20064",46,Female,1973-06-27
17,Wallace Street,"9909 John Creek\r\nEast Heather, NY 31266",44,Male,1975-01-10
18,Daniel Crossman,"74669 Robles Drive\r\nPort Madisonbury, LA 63565",45,Male,1973-12-24
19,Steve Ripp,"7629 Ramos Knoll\r\nOwensmouth, NC 34420",54,Female,1965-05-06
20,George Hairston,"18356 Benjamin Roads\r\nSouth Nancy, NJ 58120",51,Male,1968-09-07
21,Jeffrey Taylor,USNV Kim\r\nFPO AA 96043,39,Female,1980-06-11
22,David Mealy,"0873 Diaz Village\r\nSandrastad, DE 05796",53,Male,1966-10-21
23,Garfield Bowen,"3678 Gloria Pine Apt. 652\r\nKevinfort, LA 80839",54,Male,1965/04/25
24,Thaddeus Mackerl,"8122 Jessica Knolls Apt. 880\r\nDakotafurt, WV...",47,Male,1972-07-10
25,Gerald Pack,"6146 Roman Shores\r\nNew Christine, OR 28920",55,Male,1963-12-19
26,Jonathon Nemith,"875 David Road\r\nPhillipfort, NC 26174",51,Male,1968-03-02
27,Roger Groce,"781 Berry Spring\r\nTravismouth, NJ 11603",46,Female,1972-12-11
28,Harold Odowd,7842 Curtis Vista Apt. 188\r\nLake Samuelburgh...,55,Male,1963-12-06
29,Stanley Forrest,"9532 Jesse Roads Suite 253\r\nNorth Toni, NC 7...",52,Male,1967-09-04

In [7]:
# Replace '/' characters to '-' characters in date_of_birth
data['date_of_birth'] = data['date_of_birth'].str.replace('/','-')
data.head(30)

,name,address,age,sex,date_of_birth
0,Roscoe Bohannon,"7183 Osborne Ways Apt. 651\r\nEast Andrew, OH ...",60,Male,1959-09-26
1,Ernest Kline,"391 Ball Road Suite 961\r\nFlowersborough, IN ...",52,Male,1966-10-28
2,Harold Hendriks,"8702 Vincent Square\r\nNew Jerryfurt, CO 30614",60,Male,1959-06-16
3,Randy Baptiste,"2751 Harris Crossroad\r\nWest Ashley, CA 30311",39,Male,1980-09-09
4,Anthony Colucci,"904 Robert Cliffs Suite 186\r\nWest Kyle, CO 7...",49,Male,1970-02-22
5,Ronald Lange,"30973 Martinez Shores\r\nJameston, CA 70245",46,Male,1973-09-25
6,Boyd Eiselein,29941 Christopher Curve Apt. 682\r\nRaychester...,54,Female,1964-10-31
7,Raymond Smith,53487 Scott Extensions Apt. 824\r\nMccartytown...,67,Male,1952-07-23
8,Harold Miller,"8514 Elizabeth Crescent\r\nWest Joseland, GA 4...",52,Male,1967-06-28
9,Charles Czachorowski,"6798 Wagner Locks Suite 377\r\nLake Brenda, DC...",30,Male,1988-11-07
10,Robert Grantham,"822 Adams Plains\r\nNew Karen, AK 92114",38,Male,1981-05-01
11,Joel Lam,61296 Reginald Rapids Suite 783\r\nWest Timoth...,62,Male,1957-08-10
12,Irving Gil,"90757 Amanda Views Suite 604\r\nPort Paul, TX ...",56,Male,16-11-1962
13,Terry Reynolds,0019 Jensen Land Apt. 513\r\nPort Timothyville...,76,Male,21-04-1943
14,Kurt Littlefield,"822 Wilson Meadow\r\nMitchellmouth, RI 05935",NaN,Male,1985-11-03
15,Andy Grayson,"2573 Ryan Mission\r\nShortton, DC 01129",67,Male,1952-08-06
16,Chauncey Suarez,"481 Wilson Prairie\r\nKimberlymouth, LA 20064",46,Female,1973-06-27
17,Wallace Street,"9909 John Creek\r\nEast Heather, NY 31266",44,Male,1975-01-10
18,Daniel Crossman,"74669 Robles Drive\r\nPort Madisonbury, LA 63565",45,Male,1973-12-24
19,Steve Ripp,"7629 Ramos Knoll\r\nOwensmouth, NC 34420",54,Female,1965-05-06
20,George Hairston,"18356 Benjamin Roads\r\nSouth Nancy, NJ 58120",51,Male,1968-09-07
21,Jeffrey Taylor,USNV Kim\r\nFPO AA 96043,39,Female,1980-06-11
22,David Mealy,"0873 Diaz Village\r\nSandrastad, DE 05796",53,Male,1966-10-21
23,Garfield Bowen,"3678 Gloria Pine Apt. 652\r\nKevinfort, LA 80839",54,Male,1965-04-25
24,Thaddeus Mackerl,"8122 Jessica Knolls Apt. 880\r\nDakotafurt, WV...",47,Male,1972-07-10
25,Gerald Pack,"6146 Roman Shores\r\nNew Christine, OR 28920",55,Male,1963-12-19
26,Jonathon Nemith,"875 David Road\r\nPhillipfort, NC 26174",51,Male,1968-03-02
27,Roger Groce,"781 Berry Spring\r\nTravismouth, NJ 11603",46,Female,1972-12-11
28,Harold Odowd,7842 Curtis Vista Apt. 188\r\nLake Samuelburgh...,55,Male,1963-12-06
29,Stanley Forrest,"9532 Jesse Roads Suite 253\r\nNorth Toni, NC 7...",52,Male,1967-09-04

In [8]:
# Replace NaN with 0
data = data.fillna(value = 0)
data.head(30)

,name,address,age,sex,date_of_birth
0,Roscoe Bohannon,"7183 Osborne Ways Apt. 651\r\nEast Andrew, OH ...",60,Male,1959-09-26
1,Ernest Kline,"391 Ball Road Suite 961\r\nFlowersborough, IN ...",52,Male,1966-10-28
2,Harold Hendriks,"8702 Vincent Square\r\nNew Jerryfurt, CO 30614",60,Male,1959-06-16
3,Randy Baptiste,"2751 Harris Crossroad\r\nWest Ashley, CA 30311",39,Male,1980-09-09
4,Anthony Colucci,"904 Robert Cliffs Suite 186\r\nWest Kyle, CO 7...",49,Male,1970-02-22
5,Ronald Lange,"30973 Martinez Shores\r\nJameston, CA 70245",46,Male,1973-09-25
6,Boyd Eiselein,29941 Christopher Curve Apt. 682\r\nRaychester...,54,Female,1964-10-31
7,Raymond Smith,53487 Scott Extensions Apt. 824\r\nMccartytown...,67,Male,1952-07-23
8,Harold Miller,"8514 Elizabeth Crescent\r\nWest Joseland, GA 4...",52,Male,1967-06-28
9,Charles Czachorowski,"6798 Wagner Locks Suite 377\r\nLake Brenda, DC...",30,Male,1988-11-07
10,Robert Grantham,"822 Adams Plains\r\nNew Karen, AK 92114",38,Male,1981-05-01
11,Joel Lam,61296 Reginald Rapids Suite 783\r\nWest Timoth...,62,Male,1957-08-10
12,Irving Gil,"90757 Amanda Views Suite 604\r\nPort Paul, TX ...",56,Male,16-11-1962
13,Terry Reynolds,0019 Jensen Land Apt. 513\r\nPort Timothyville...,76,Male,21-04-1943
14,Kurt Littlefield,"822 Wilson Meadow\r\nMitchellmouth, RI 05935",0,Male,1985-11-03
15,Andy Grayson,"2573 Ryan Mission\r\nShortton, DC 01129",67,Male,1952-08-06
16,Chauncey Suarez,"481 Wilson Prairie\r\nKimberlymouth, LA 20064",46,Female,1973-06-27
17,Wallace Street,"9909 John Creek\r\nEast Heather, NY 31266",44,Male,1975-01-10
18,Daniel Crossman,"74669 Robles Drive\r\nPort Madisonbury, LA 63565",45,Male,1973-12-24
19,Steve Ripp,"7629 Ramos Knoll\r\nOwensmouth, NC 34420",54,Female,1965-05-06
20,George Hairston,"18356 Benjamin Roads\r\nSouth Nancy, NJ 58120",51,Male,1968-09-07
21,Jeffrey Taylor,USNV Kim\r\nFPO AA 96043,39,Female,1980-06-11
22,David Mealy,"0873 Diaz Village\r\nSandrastad, DE 05796",53,Male,1966-10-21
23,Garfield Bowen,"3678 Gloria Pine Apt. 652\r\nKevinfort, LA 80839",54,Male,1965-04-25
24,Thaddeus Mackerl,"8122 Jessica Knolls Apt. 880\r\nDakotafurt, WV...",47,Male,1972-07-10
25,Gerald Pack,"6146 Roman Shores\r\nNew Christine, OR 28920",55,Male,1963-12-19
26,Jonathon Nemith,"875 David Road\r\nPhillipfort, NC 26174",51,Male,1968-03-02
27,Roger Groce,"781 Berry Spring\r\nTravismouth, NJ 11603",46,Female,1972-12-11
28,Harold Odowd,7842 Curtis Vista Apt. 188\r\nLake Samuelburgh...,55,Male,1963-12-06
29,Stanley Forrest,"9532 Jesse Roads Suite 253\r\nNorth Toni, NC 7...",52,Male,1967-09-04

In [9]:
#Fix non-numeric age values
def fix_age(age):
    try:
        return int(age)
    except:
        return 0
data['age']=data['age'].apply(fix_age)

In [10]:
# Check people with age greater than 90, 
# to know how to properly convert 2 digit date_of_birth year field values to 4 digit one
data[data['age']>90]

,name,address,age,sex,date_of_birth
1458,Edward Freas,"3415 Davis Centers\r\nLake Matthew, WA 20714",93,Male,27-03-1926
2195,Richard Alvarez,"92341 Matthew Trail Suite 673\r\nEast Janet, I...",97,Male,1922-09-05
2865,Charles Gillespie,62025 Michael Turnpike\r\nSouth Stephaniemouth...,99,Male,1920-03-03

In [13]:
# Fix the date format in the date_of_birth, make it consistently being yyyy-mm-dd
def fix_date(date):
    s = date.split('-')
    if len(s[0]) == 4: # Don't need to fix anything if the first field is a 4 digit year number
        return date
    if len(s[2]) == 4: # Replace dd-mm-yyyy format to yyyy-mm-dd format
        return s[2]+"-"+s[1]+"-"+s[0]
    # Replace yy-mm-dd format to yyyy-mm-dd format
    #
    # If the last 2 digit of the 4 digit year field is bigger than 20,
    # then we expect a date of birth between 1921 and 1999, otherwise between 2000 and 2020,
    # because we have verified earlier that we don't have people older than 90 years old in such date format
    if int(s[0]) > 20: 
        return '20'+s[0]+'-'+s[1]+'-'+s[2]
    else:
        return '19'+s[0]+'-'+s[1]+'-'+s[2]
    return date
data['date_of_birth']=data['date_of_birth'].apply(fix_date)
data.head(30)

,name,address,age,sex,date_of_birth
0,Roscoe Bohannon,"7183 Osborne Ways Apt. 651\r\nEast Andrew, OH ...",60,Male,1959-09-26
1,Ernest Kline,"391 Ball Road Suite 961\r\nFlowersborough, IN ...",52,Male,1966-10-28
2,Harold Hendriks,"8702 Vincent Square\r\nNew Jerryfurt, CO 30614",60,Male,1959-06-16
3,Randy Baptiste,"2751 Harris Crossroad\r\nWest Ashley, CA 30311",39,Male,1980-09-09
4,Anthony Colucci,"904 Robert Cliffs Suite 186\r\nWest Kyle, CO 7...",49,Male,1970-02-22
5,Ronald Lange,"30973 Martinez Shores\r\nJameston, CA 70245",46,Male,1973-09-25
6,Boyd Eiselein,29941 Christopher Curve Apt. 682\r\nRaychester...,54,Female,1964-10-31
7,Raymond Smith,53487 Scott Extensions Apt. 824\r\nMccartytown...,67,Male,1952-07-23
8,Harold Miller,"8514 Elizabeth Crescent\r\nWest Joseland, GA 4...",52,Male,1967-06-28
9,Charles Czachorowski,"6798 Wagner Locks Suite 377\r\nLake Brenda, DC...",30,Male,1988-11-07
10,Robert Grantham,"822 Adams Plains\r\nNew Karen, AK 92114",38,Male,1981-05-01
11,Joel Lam,61296 Reginald Rapids Suite 783\r\nWest Timoth...,62,Male,1957-08-10
12,Irving Gil,"90757 Amanda Views Suite 604\r\nPort Paul, TX ...",56,Male,1962-11-16
13,Terry Reynolds,0019 Jensen Land Apt. 513\r\nPort Timothyville...,76,Male,1943-04-21
14,Kurt Littlefield,"822 Wilson Meadow\r\nMitchellmouth, RI 05935",0,Male,1985-11-03
15,Andy Grayson,"2573 Ryan Mission\r\nShortton, DC 01129",67,Male,1952-08-06
16,Chauncey Suarez,"481 Wilson Prairie\r\nKimberlymouth, LA 20064",46,Female,1973-06-27
17,Wallace Street,"9909 John Creek\r\nEast Heather, NY 31266",44,Male,1975-01-10
18,Daniel Crossman,"74669 Robles Drive\r\nPort Madisonbury, LA 63565",45,Male,1973-12-24
19,Steve Ripp,"7629 Ramos Knoll\r\nOwensmouth, NC 34420",54,Female,1965-05-06
20,George Hairston,"18356 Benjamin Roads\r\nSouth Nancy, NJ 58120",51,Male,1968-09-07
21,Jeffrey Taylor,USNV Kim\r\nFPO AA 96043,39,Female,1980-06-11
22,David Mealy,"0873 Diaz Village\r\nSandrastad, DE 05796",53,Male,1966-10-21
23,Garfield Bowen,"3678 Gloria Pine Apt. 652\r\nKevinfort, LA 80839",54,Male,1965-04-25
24,Thaddeus Mackerl,"8122 Jessica Knolls Apt. 880\r\nDakotafurt, WV...",47,Male,1972-07-10
25,Gerald Pack,"6146 Roman Shores\r\nNew Christine, OR 28920",55,Male,1963-12-19
26,Jonathon Nemith,"875 David Road\r\nPhillipfort, NC 26174",51,Male,1968-03-02
27,Roger Groce,"781 Berry Spring\r\nTravismouth, NJ 11603",46,Female,1972-12-11
28,Harold Odowd,7842 Curtis Vista Apt. 188\r\nLake Samuelburgh...,55,Male,1963-12-06
29,Stanley Forrest,"9532 Jesse Roads Suite 253\r\nNorth Toni, NC 7...",52,Male,1967-09-04

In [18]:
# Approximate the date of the dataset by adding the age of people to their date_of_birth. Choose the highest value.
def add_age(row):
    return str(int(row['date_of_birth'][:4])+row['age'])+row['date_of_birth'][4:]
dataset_date=data.apply(add_age,axis=1)
print(dataset_date)

0       2019-09-26
1       2018-10-28
2       2019-06-16
3       2019-09-09
4       2019-02-22
           ...
3928    2019-09-17
3929    2019-08-26
3930    2019-08-25
3931    2019-03-30
3932    2019-04-27
Length: 3933, dtype: object

In [ ]:
# Calculate the age of people based on the start of the analysis date (25th of October 2019)