In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
import numpy as np

In [2]:
data=pd.read_csv('personal_train.csv')

In [3]:
data.head(3)

,Unnamed: 0,name,address,age,sex,date_of_birth
0,0,Roscoe Bohannon,"7183 Osborne Ways Apt. 651\r\nEast Andrew, OH ...",60,Male,1959-09-26
1,1,Ernest Kline,"391 Ball Road Suite 961\r\nFlowersborough, IN ...",52,Male,1966-10-28
2,2,Harold Hendriks,"8702 Vincent Square\r\nNew Jerryfurt, CO 30614",60,Male,1959-06-16

In [4]:
data.head(20)

,Unnamed: 0,name,address,age,sex,date_of_birth
0,0,Roscoe Bohannon,"7183 Osborne Ways Apt. 651\r\nEast Andrew, OH ...",60,Male,1959-09-26
1,1,Ernest Kline,"391 Ball Road Suite 961\r\nFlowersborough, IN ...",52,Male,1966-10-28
2,2,Harold Hendriks,"8702 Vincent Square\r\nNew Jerryfurt, CO 30614",60,Male,1959-06-16
3,3,Randy Baptiste,"2751 Harris Crossroad\r\nWest Ashley, CA 30311",39,Male,1980-09-09
4,4,Anthony Colucci,"904 Robert Cliffs Suite 186\r\nWest Kyle, CO 7...",49,Male,1970-02-22
5,5,Ronald Lange,"30973 Martinez Shores\r\nJameston, CA 70245",46,Male,1973-09-25
6,6,Boyd Eiselein,29941 Christopher Curve Apt. 682\r\nRaychester...,54,Female,1964-10-31
7,7,Raymond Smith,53487 Scott Extensions Apt. 824\r\nMccartytown...,67,Male,1952-07-23
8,8,Harold Miller,"8514 Elizabeth Crescent\r\nWest Joseland, GA 4...",52,Male,1967-06-28
9,9,Charles Czachorowski,"6798 Wagner Locks Suite 377\r\nLake Brenda, DC...",30,Male,1988-11-07
10,10,Robert Grantham,"822 Adams Plains\r\nNew Karen, AK 92114",38,Male,1981-05-01
11,11,Joel Lam,61296 Reginald Rapids Suite 783\r\nWest Timoth...,62,Male,1957-08-10
12,12,Irving Gil,"90757 Amanda Views Suite 604\r\nPort Paul, TX ...",56,Male,16/11/1962
13,13,Terry Reynolds,0019 Jensen Land Apt. 513\r\nPort Timothyville...,76,Male,21/04/1943
14,14,Kurt Littlefield,"822 Wilson Meadow\r\nMitchellmouth, RI 05935",NaN,Male,1985-11-03
15,15,Andy Grayson,"2573 Ryan Mission\r\nShortton, DC 01129",67,Male,1952-08-06
16,16,Chauncey Suarez,"481 Wilson Prairie\r\nKimberlymouth, LA 20064",46,Female,1973-06-27
17,17,Wallace Street,"9909 John Creek\r\nEast Heather, NY 31266",44,Male,1975-01-10
18,18,Daniel Crossman,"74669 Robles Drive\r\nPort Madisonbury, LA 63565",45,Male,1973-12-24
19,19,Steve Ripp,"7629 Ramos Knoll\r\nOwensmouth, NC 34420",54,Female,1965-05-06