# Intellligent Data Analysis

- **Data Set:** #31
- **Author 1:** Juraj Baráth
- **Author 2:** Vladimír Svitok

## Strojové učenie (max. 15b)

Pri dátovej analýze nemusí byť naším cieľom získať len znalosti obsiahnuté v aktuálnych dátach, ale aj natrénovať model, ktorý bude schopný robiť rozumné predikcie pre nové pozorovania. Na to sa využívajú techniky strojového učenia. V tomto projekte sa zameriame na rozhodovacie stromy vzhľadom na ich jednoduchú interpretovateľnosť.

V tejto fáze dostanete nový dataset, na ktorom oddemonštrujete znovupoužiteľnosť vami realizovaného predspracovania. Vami natrénované klasifikátory budú porovnané medzi sebou; uvidíte tak, ako dobre ste sa umiestnili v rámci vášho cvičenia, resp. celého predmetu.

V poslednej fáze sa od vás očakáva:
- **Predspracovanie nového datasetu vami realizovaným postupom predspracovania a opis prípadných zmien (2b).** Spustite postup predspracovania realizovaný v predchádzajúcej fáze nad novým datasetom. Nový dataset bude mať rovnakú štruktúru ako váš pôvodný, nebudú sa v ňom však možno nachádzať niektoré problémy (nové vám nepribudnú). Ak si spustenie predspracovania vyžiada zmeny v kóde, opíšte ich.
- **Manuálne vytvorenie a vyhodnotenie rozhodovacích pravidiel pre klasifikáciu (3b).** Vyskúšajte jednoduché pravidlá zahŕňajúce jeden atribút, ale aj komplikovanejšie zahŕňajúce viacero atribútov (ich kombinácie). Pravidlá by v tomto kroku mali byť vytvorené manuálne na základe pozorovaných závislostí v dátach. Pravidlá (manuálne vytvorené klasifikátory) vyhodnoťte pomocou metrík správnosť (angl. *accuracy*), presnosť (angl. *precision*) a úplnosť (angl. *recall*). 
- **Natrénovanie a vyhodnotenie klasifikátora s využitím rozhodovacích stromov (4b).** Na trénovanie využite algoritmus dostupný v knižnici `scikit-learn` (`CART`). Vizualizujte natrénované pravidlá. Vyhodnoťte natrénovaný rozhodovací strom pomocou metrík správnosť (angl. *accuracy*), presnosť (angl. *precision*) a úplnosť (angl. *recall*). Porovnajte natrénovaný klasifikátor s vašimi manuálne vytvorenými pravidlami z druhého kroku. 
- **Optimalizácia hyperparametrov (4b).** Preskúmajte hyperparametre klasifikačného algoritmu `CART` a vyskúšajte ich rôzne nastavenie tak, aby ste minimalizovali preučenie. Vysvetlite, čo jednotlivé hyperparametre robia. Pri nastavovaní hyperparametrov algoritmu využite 10-násobnú krížovú validáciu na trénovacej množine.
- **Vyhodnotenie vplyvu zvolenej stratégie riešenia chýbajúcich hodnôt na správnosť klasifikácie (2b).** Zistite, či použitie zvolených stratégií riešenia chýbajúcich hodnôt vplýva na správnosť (angl. accuracy) klasifikácie. Ktorá stratégia sa ukázala ako vhodnejšia pre daný problém?

Správa sa odovzdáva v 12. týždni semestra na cvičení (dvojica svojmu cvičiacemu odprezentuje výsledky strojového učenia v `Jupyter Notebooku`). Následne správu elektronicky odovzdá jeden člen z  dvojice do systému AIS do **nedele 15.12.2019 do 23:59**.

In [1]:
# Automatically reformat python code
# Check https://medium.com/openplanetary/code-formatting-in-jupyter-cells-8fee4eda072f for more info
# %load_ext lab_black

# Data analysis and debugging helper methods

In [2]:
"""
    Checks the not availability of a value
"""


def is_nan(v):
    sv = str(v)
    return sv == "?" or sv == "NaN" or sv == "nan"

In [3]:
"""
    Prints the possible values of columns having less than 50 possible values
    For columns having numeric values prints the min, 5% percentile, 95% percentile, max, mean, median
"""


def print_col_values(d):

    """ Formats a number by converting floats to 4 decimals and keeps integers"""

    def format_num(num):
        num = round(num, 4)
        return int(num) if num == int(num) else num

    cols = list(d.columns)
    cols.sort()

    for c in cols:
        if str(d.iloc[0][c]).replace(".", "").isdigit():
            v = d[c].apply(
                lambda n: float(n) if str(n).replace(".", "").isdigit() else np.nan
            )
            print(
                "••► " + c + ": min = {}, 5% = {}, 95% = {}, max = {},"
                " mean = {}, median = {}".format(
                    format_num(v.min()),
                    format_num(np.nanpercentile(v, 5)),
                    format_num(np.nanpercentile(v, 95)),
                    format_num(v.max()),
                    format_num(v.mean()),
                    format_num(v.median()),
                ),
                end="\n\n",
            )
        else:
            l = list(d.drop_duplicates(c)[c])
            if len(l) < 50:
                print("••► " + c + " (" + str(len(l)) + "): " + str(l), end="\n\n")
            else:
                print("••► " + c + " (" + str(len(l)) + ")", end="\n\n")

In [4]:
"""
    Prints the statistics of both personal and other train data at a certain stage
"""


def print_data_stats(stage, data, data2):
    print(
        "=========================="
        + stage
        + " ======================"
    )
    print("===== Data =====")
    print_col_values(data)
    print("==== Data 2 =====")
    print_col_values(data2)

In [5]:
"""
    Draws a chart of a column in the data set with the given label
"""


def draw_chart(label, data, column):
    data.plot.scatter(label=label, x="id", y=column, figsize=(15, 5)).plot()

In [6]:
"""
    Draws charts of the medical metrics data against the class with the given titles in the given data sets
"""


def draw_md_charts(titles, data_array):
    for gl in [
        "skewness_glucose",
        "mean_glucose",
        "kurtosis_glucose",
        "std_glucose",
        "mean_oxygen",
        "std_oxygen",
        "kurtosis_oxygen",
        "skewness_oxygen",
    ]:
        for cl in range(2):
            for i in range(len(data_array)):
                d_source = data_array[i]
                d = d_source[d_source["class"] == cl]
                draw_chart(titles[i] + " - " + gl + " - Class " + str(cl), d, gl)

# Data transformations

In [7]:
"""
    Renames the Unnamed: 0 column to id
"""


def rename_id_column(data, data2, debug):
    data.rename(columns={data.columns[0]: "id"}, inplace=True)
    data2.rename(columns={data2.columns[0]: "id"}, inplace=True)
    return data, data2

In [8]:
""" 
    Extracts the 4 columns of the medical info from data2 and puts them as new columns, removes the old column
"""


def extract_medical_info(data, data2, debug):
    # Generate the list of columns we need to extract from medical_info
    mi_cols = list(dict(eval(data2["medical_info"][0])).keys())
    # Extract the 4 data included in the medical_info column and put it to 4 separate columns
    for c in mi_cols:
        data2[c] = data2["medical_info"].apply(
            lambda d: 0.0 if str(d) == "nan" else float(dict(eval(str(d)))[c])
        )
    data2.drop(columns="medical_info", inplace=True)
    return data, data2

In [9]:
""" 
    Removes the time from the date_of_birth and replaces "/" characters to "-" characters in it
"""


def fix_date_of_birth(data, data2, debug):
    # Remove time from the date_of_birth
    data["date_of_birth"] = data["date_of_birth"].str.split(" ", expand=True)[0]

    # Replace '/' characters to '-' characters in date_of_birth
    data["date_of_birth"] = data["date_of_birth"].str.replace("/", "-")
    return data, data2

In [10]:
"""
    Replace non numeric age values with 0
"""


def fix_non_numeric_age_values(data, data2, debug):
    data["age"] = data["age"].apply(
        lambda age: int(age) if str(age).replace(".", "", 1).isdigit() else 0
    )
    return data, data2

In [11]:
"""
    Fix the date format in the date_of_birth, make it consistently being yyyy-mm-dd
"""


def fix_date_format(data, data2, debug):
    def fix_date(date):
        s = date.split("-")
        if (
            len(s[0]) == 4
        ):  # Don't need to fix anything if the first field is a 4 digit year number
            return date
        if len(s[2]) == 4:  # Replace dd-mm-yyyy format to yyyy-mm-dd format
            return s[2] + "-" + s[1] + "-" + s[0]

        # Replace yy-mm-dd format to yyyy-mm-dd format
        #
        # If the last 2 digit of the 4 digit year field is bigger than 20,
        # then we expect a date of birth between 1921 and 1999, otherwise between 2000 and 2020,
        # because we have verified earlier that we don't have people older than 90 years old in such date format
        if int(s[0]) > 20:
            return "19" + s[0] + "-" + s[1] + "-" + s[2]
        else:
            return "20" + s[0] + "-" + s[1] + "-" + s[2]

        return date

    data["date_of_birth"] = data["date_of_birth"].apply(fix_date)
    return data, data2

In [12]:
"""
    Calculate the missing ages of people based on the dataset date
"""


def calc_missing_ages_from_date_of_birth(data, data2, debug):
    # Approximate the date of the dataset by adding the age of people to their date_of_birth. Choose the highest value.
    def add_age(row):
        return (
            str(int(row["date_of_birth"][:4]) + row["age"]) + row["date_of_birth"][4:]
        )

    # Fixes the age based on the previously calculated dataset age
    def fix_age(row):
        if row["age"] == 0:
            birth = [int(i) for i in row["date_of_birth"].split("-")]
            dif = [ds_date[0] - birth[0], ds_date[1] - birth[1], ds_date[2] - birth[2]]
            if debug:
                print(ds_date, "-", birth, "=", dif, end=" --> age = ")
            if dif[2] < 0:
                dif[1] -= 1
            if dif[1] < 0:
                dif[0] -= 1
            if debug:
                print(dif[0])
            return dif[0]
        return row["age"]

    ds_date = [int(i) for i in data.apply(add_age, axis=1).max().split("-")]
    if debug:
        print("Data set age:", ds_date)

    data["age"] = data.apply(lambda row: fix_age(row), axis=1)
    return data, data2

In [13]:
"""
    Trim all the leading spaces from every String data
"""


def trim_leading_spaces(data, data2, debug):
    for d in (data, data2):
        for c in d.columns:
            d[c] = d[c].apply(lambda s: s if type(s) != str else s.strip())
    return data, data2

In [14]:
"""
    Merge duplicate rows by choosing the average of every available data,
    for non numeric data using the first available match.

    If one of the numeric value is 0, while a none zero value exist, ignore the zero value
"""


def merge_duplicate_rows(data, data2, debug):
    if debug:
        print("Detecting duplicates based on names...")

    duplicate_names = list(data2[data2.duplicated(["name"])]["name"])
    if debug:
        print("Found", len(duplicate_names), "duplicates, merging them...")

    fixed_rows = []

    for name in duplicate_names:
        rows = data2[data2["name"] == name]
        l = len(rows)
        if debug:
            print("\nMerging", l, "rows of name " + name + "...")
        bestRow = rows.iloc[0].copy()
        for c in data2.columns:
            if c == "id":  # Do not merge the id column
                continue
            if debug:
                print(c, list(rows[c]), end=" --> ")
            m = 1
            for i in range(1, l):
                row = rows.iloc[i]
                if is_nan(row[c]):
                    continue
                if is_nan(bestRow[c]):
                    bestRow[c] = row[c]
                    m = 1
                elif (type(row[c]) != str) and row[c] != 0 and row[c] != 0.0:
                    bestRow[c] += row[c]
                    if bestRow[c] != row[c]:
                        m += 1
            if type(bestRow[c]) != str and m > 0:
                bestRow[c] /= m
            if debug:
                print([bestRow[c]], end="\n")
        fixed_rows.append(bestRow)

    if debug:
        print("Applying changes...")

    data2.drop_duplicates(subset=["name"], keep=False, inplace=True)
    for r in fixed_rows:
        data2 = data2.append(r)
    return data, data2

In [15]:
"""
    Fixes the pregnant column values, keeps nan rows, changes others to 1 
    if they start with t (case insensitive), changes them to 0 otherwise
"""


def fix_pregnant(data, data2, debug):
    data2["pregnant"] = data2["pregnant"].apply(
        lambda p: np.nan if str(p) == "nan" else int(p[0].lower() == "t")
    )
    return data, data2

In [16]:
"""
    Replaces missing data with median values for numbers and
    with the data having the highest occurance at Strings
"""


def replace_missing_data_with_medians(data, data2, debug):
    if debug:
        print("Filling missing data with median values...")
    data2med = data2.copy()
    for c in data2.columns:
        med = (
            data2[c].value_counts().idxmax()
            if type(data2.iloc[0][c]) == str
            else data2[c].median()
        )
        if debug:
            print(c, "-->", med)
        rdata2[c] = rdata2[c].apply(lambda v: med if is_nan(v) else v)
    return data2, rdata2

In [17]:
"""
    Replaces missing data with linear regression for numbers and
    with the data having the highest occurance at Strings
"""


def replace_missing_data_with_regr(data, data2, rdata, rdata2, debug):
    if debug:
        print("Filling missing data with linear regression values...")
    model1 = LinearRegression()
    model2 = LinearRegression()
    modeldata = data2[data2[['mean_glucose','std_glucose']].notnull().all(axis=1)]
    x = np.array(modeldata['mean_glucose']).reshape(-1,1)
    y = np.array(modeldata['std_glucose']).reshape(-1,1)
    model1.fit(x, y)
    model2.fit(y, x)
    data2['mean_glucose'] = data2.apply(lambda row: (
        row['mean_glucose'] if not is_nan(row['mean_glucose']) else (model2.intercept_ + model2.coef_ * row['std_glucose'])[0][0] if not is_nan(row['std_glucose']) else np.nan
    ), axis=1)
    data2['std_glucose'] = data2.apply(lambda row: (
        row['std_glucose'] if not is_nan(row['std_glucose']) else (model1.intercept_ + model1.coef_ * row['mean_glucose'])[0][0] if not is_nan(row['mean_glucose']) else np.nan
    ), axis=1)
    rdata2['mean_glucose'] = rdata2.apply(lambda row: (
        row['mean_glucose'] if not is_nan(row['mean_glucose']) else (model2.intercept_ + model2.coef_ * row['std_glucose'])[0][0] if not is_nan(row['std_glucose']) else np.nan
    ), axis=1)
    rdata2['std_glucose'] = rdata2.apply(lambda row: (
        row['std_glucose'] if not is_nan(row['std_glucose']) else (model1.intercept_ + model1.coef_ * row['mean_glucose'])[0][0] if not is_nan(row['mean_glucose']) else np.nan
    ), axis=1)
    return data2, rdata2

In [18]:
"""
    Replaces outlying values in every numeric column the following way:
    --> Applies 95% percentil for values >90% percentil * 2 of the data set
    --> Applies 5% percentil for values <10% percentil * 0.5 of the data set
"""


def replace_outlying_0595(data, data2, rdata, rdata2, debug):
    for c in data2.columns:
        if type(data2.iloc[0][c]) == str or len(list(data2.drop_duplicates(c)[c])) <= 10:
            continue
        pct05 = np.nanpercentile(data2[c], 5)
        pct95 = np.nanpercentile(data2[c], 95)
        data2[c] = data2[c].apply(
            lambda d: pct95 if d > pct95 * 2 else pct05 if d < pct05 else d
        )
        rdata2[c] = rdata2[c].apply(
            lambda d: pct95 if d > pct95 * 2 else pct05 if d < pct05 else d
        )

    return data2, rdata2

# Invokers of the data transformations

In [19]:
"""
    Transforms the train data into a usable trainable form
"""


def fix_data(data, data2, rdata, rdata2, debug):

    data, data2 = rename_id_column(data, data2, debug)
    data, data2 = extract_medical_info(data, data2, debug)
    data, data2 = fix_date_of_birth(data, data2, debug)
    data, data2 = fix_non_numeric_age_values(data, data2, debug)
    data, data2 = fix_date_format(data, data2, debug)
    data, data2 = calc_missing_ages_from_date_of_birth(data, data2, debug)
    data, data2 = trim_leading_spaces(data, data2, debug)
    data, data2 = merge_duplicate_rows(data, data2, debug)
    data, data2 = fix_pregnant(data, data2, debug)
    
    rdata, rdata2 = rename_id_column(rdata, rdata2, debug)
    rdata, rdata2 = extract_medical_info(rdata, rdata2, debug)
    rdata, rdata2 = fix_date_of_birth(rdata, rdata2, debug)
    rdata, rdata2 = fix_non_numeric_age_values(rdata, rdata2, debug)
    rdata, rdata2 = fix_date_format(rdata, rdata2, debug)
    rdata, rdata2 = calc_missing_ages_from_date_of_birth(rdata, rdata2, debug)
    rdata, rdata2 = trim_leading_spaces(rdata, rdata2, debug)
    rdata, rdata2 = merge_duplicate_rows(rdata, rdata2, debug)
    rdata, rdata2 = fix_pregnant(rdata, rdata2, debug)
    
    data2, rdata2 = replace_missing_data_with_medians(data, replace_missing_data_with_regr(data, data2, rdata, rdata2, debug)[1], debug)
    data2, rdata2 = replace_outlying_0595(data, data2, rdata, rdata2, debug)
    return pd.merge(data, data2, on = 'name'), pd.merge(rdata, rdata2, on = 'name')

# Here starts the actual program

In [20]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
import numpy as np
from sklearn.linear_model import LinearRegression
import json
import seaborn as sea

In [21]:
# Read train data
data = pd.read_csv("personal_train.csv")
data2 = pd.read_csv("other_train.csv")
rdata = pd.read_csv("personal_valid.csv")
rdata2 = pd.read_csv("other_valid.csv")

In [22]:
# Print train data before fix
print_data_stats("BEFORE FIX - TRAIN", data, data2)

==========================BEFORE FIX - TRAIN ======================
===== Data =====
••► Unnamed: 0: min = 0, 5% = 196.6, 95% = 3735.4, max = 3932, mean = 1966, median = 1966

••► address (3933)

••► age: min = 3, 5% = 32, 95% = 70, max = 99, mean = 51.8638, median = 52

••► date_of_birth (3706)

••► name (3933)

••► sex (2): [' Male', ' Female']

==== Data 2 =====
••► Unnamed: 0: min = 0, 5% = 199.1, 95% = 3782.9, max = 3982, mean = 1991, median = 1991

••► address (3933)

••► capital-gain: min = 0, 5% = 0, 95% = 4697.95, max = 99999, mean = 1021.0453, median = 0

••► capital-loss: min = 0, 5% = 0, 95% = 0, max = 4356, mean = 89.8525, median = 0

••► class: min = 0, 5% = 0, 95% = 1, max = 1, mean = 0.2559, median = 0

••► education (17): [' Assoc-acdm', ' HS-grad', ' Some-college', ' Bachelors', ' Assoc-voc', ' 10th', ' Doctorate', ' 5th-6th', ' Masters', ' 12th', ' 9th', ' 11th', ' 7th-8th', nan, ' Prof-school', ' 1st-4th', ' Preschool']

••► education-num: min = 1, 5% = 5, 95% = 14, max = 16, mean = 10.1058, median = 10

••► fnlwgt: min = 19302, 5% = 38949.4, 95% = 387679.7, max = 1268339, mean = 190680.4516, median = 177426

••► hours-per-week: min = 1, 5% = 16.35, 95% = 60, max = 99, mean = 40.4138, median = 40

••► income (3): [' >50K', ' <=50K', nan]

••► kurtosis_glucose: min = 0.0002, 5% = 0.0379, 95% = 5.3127, max = 8.0695, mean = 1.185, median = 0.411

••► marital-status (8): [' Married-civ-spouse', ' Divorced', ' Never-married', ' Widowed', ' Married-spouse-absent', ' Separated', nan, ' Married-AF-spouse']

••► mean_glucose: min = 6.1875, 5% = 26.9973, 95% = 140.6473, max = 189.7344, mean = 101.3162, median = 110.6719

••► medical_info (3934)

••► name (3933)

••► native-country (40): [' Canada', ' United-States', ' Mexico', ' France', ' Nicaragua', nan, ' Cuba', ' Vietnam', ' ?', ' South', ' India', ' El-Salvador', ' Philippines', ' Guatemala', ' Portugal', ' Jamaica', ' England', ' Germany', ' Ecuador', ' Haiti', ' Japan', ' Puerto-Rico', ' Peru', ' Columbia', ' Iran', ' China', ' Greece', ' Thailand', ' Italy', ' Dominican-Republic', ' Laos', ' Taiwan', ' Ireland', ' Yugoslavia', ' Trinadad&Tobago', ' Cambodia', ' Poland', ' Honduras', ' Hong', ' Scotland']

••► occupation (16): [' Prof-specialty', ' Craft-repair', ' Tech-support', ' Transport-moving', ' Adm-clerical', ' Sales', ' Other-service', ' Exec-managerial', ' Machine-op-inspct', ' Protective-serv', ' Farming-fishing', ' Handlers-cleaners', ' ?', ' Priv-house-serv', nan, ' Armed-Forces']

••► pregnant (7): ['f', 't', 'F', 'FALSE', 'T', nan, 'TRUE']

••► race (6): [' White', ' Amer-Indian-Eskimo', ' Black', nan, ' Asian-Pac-Islander', ' Other']

••► relationship (7): [' Husband', ' Unmarried', ' Not-in-family', ' Own-child', ' Wife', ' Other-relative', nan]

••► skewness_glucose: min = 0.0026, 5% = 0.063, 95% = 33.9059, max = 68.1016, mean = 6.2709, median = 1.0513

••► std_glucose: min = 25.6952, 5% = 31.2791, 95% = 2860.0135, max = 7510.7631, mean = 272.0991, median = 46.3684

••► workclass (9): [' Local-gov', ' Private', ' Self-emp-not-inc', ' Self-emp-inc', ' Federal-gov', ' State-gov', ' ?', ' Without-pay', nan]

In [23]:
# Print real data before fix
print_data_stats("BEFORE FIX - REAL", rdata, rdata2)

==========================BEFORE FIX - REAL ======================
===== Data =====
••► Unnamed: 0: min = 0, 5% = 65.5, 95% = 1244.5, max = 1310, mean = 655, median = 655

••► address (1311)

••► age: min = 15, 5% = 32, 95% = 71, max = 98, mean = 51.9983, median = 52

••► date_of_birth (1289)

••► name (1311)

••► sex (2): [' Female', ' Male']

==== Data 2 =====
••► Unnamed: 0: min = 0, 5% = 68, 95% = 1292, max = 1360, mean = 680, median = 680

••► address (1311)

••► capital-gain: min = 0, 5% = 0, 95% = 4646.65, max = 99999, mean = 886.2723, median = 0

••► capital-loss: min = 0, 5% = 0, 95% = 0, max = 2547, mean = 81.8586, median = 0

••► class: min = 0, 5% = 0, 95% = 1, max = 1, mean = 0.2628, median = 0

••► education (17): [' HS-grad', ' Some-college', ' Bachelors', ' Masters', ' Prof-school', ' 12th', ' Assoc-acdm', ' 7th-8th', ' 9th', ' 10th', ' 11th', ' 5th-6th', ' Assoc-voc', ' Doctorate', nan, ' 1st-4th', ' Preschool']

••► education-num: min = 1, 5% = 6, 95% = 14, max = 16, mean = 10.1119, median = 10

••► fnlwgt: min = 20534, 5% = 41814.8, 95% = 364091, max = 1085515, mean = 187111.8007, median = 177526

••► hours-per-week: min = 1, 5% = 16, 95% = 60, max = 99, mean = 40.255, median = 40

••► income (3): [' <=50K', ' >50K', nan]

••► kurtosis_glucose (1312)

••► marital-status (8): [' Married-civ-spouse', ' Widowed', ' Never-married', ' Divorced', ' Separated', ' Married-spouse-absent', nan, ' Married-AF-spouse']

••► mean_glucose: min = 7.6328, 5% = 28.2414, 95% = 140.2352, max = 174.4453, mean = 100.7125, median = 110.1953

••► medical_info (1311)

••► name (1311)

••► native-country (32): [' United-States', ' South', ' India', ' ?', nan, ' Mexico', ' Greece', ' Cuba', ' Poland', ' Germany', ' Thailand', ' Philippines', ' Canada', ' El-Salvador', ' Portugal', ' Puerto-Rico', ' Japan', ' Taiwan', ' Vietnam', ' Nicaragua', ' Iran', ' England', ' Peru', ' Outlying-US(Guam-USVI-etc)', ' Jamaica', ' Dominican-Republic', ' Ecuador', ' Yugoslavia', ' Trinadad&Tobago', ' Haiti', ' Guatemala', ' France']

••► occupation (15): [' Transport-moving', ' Craft-repair', ' Prof-specialty', ' Exec-managerial', ' Other-service', ' Sales', ' Adm-clerical', ' Farming-fishing', ' ?', ' Handlers-cleaners', ' Machine-op-inspct', ' Protective-serv', ' Tech-support', nan, ' Priv-house-serv']

••► pregnant (6): ['f', 'FALSE', 'F', 't', nan, 'TRUE']

••► race (6): [' White', ' Asian-Pac-Islander', ' Black', nan, ' Other', ' Amer-Indian-Eskimo']

••► relationship (7): [' Husband', ' Own-child', ' Not-in-family', ' Unmarried', ' Wife', nan, ' Other-relative']

••► skewness_glucose: min = 0.002, 5% = 0.0627, 95% = 33.0185, max = 63.4664, mean = 6.8052, median = 1.3015

••► std_glucose: min = 24.8982, 5% = 31.0614, 95% = 62.711, max = 6005.3865, mean = 243.947, median = 46.2306

••► workclass (9): [' Private', ' Self-emp-not-inc', ' Self-emp-inc', ' Federal-gov', ' Local-gov', ' State-gov', ' ?', ' Never-worked', nan]

In [24]:
data.head(50)

,Unnamed: 0,name,address,age,sex,date_of_birth
0,0,Roscoe Bohannon,"7183 Osborne Ways Apt. 651\r\nEast Andrew, OH ...",60,Male,1959-09-26
1,1,Ernest Kline,"391 Ball Road Suite 961\r\nFlowersborough, IN ...",52,Male,1966-10-28
2,2,Harold Hendriks,"8702 Vincent Square\r\nNew Jerryfurt, CO 30614",60,Male,1959-06-16
3,3,Randy Baptiste,"2751 Harris Crossroad\r\nWest Ashley, CA 30311",39,Male,1980-09-09
4,4,Anthony Colucci,"904 Robert Cliffs Suite 186\r\nWest Kyle, CO 7...",49,Male,1970-02-22
5,5,Ronald Lange,"30973 Martinez Shores\r\nJameston, CA 70245",46,Male,1973-09-25
6,6,Boyd Eiselein,29941 Christopher Curve Apt. 682\r\nRaychester...,54,Female,1964-10-31
7,7,Raymond Smith,53487 Scott Extensions Apt. 824\r\nMccartytown...,67,Male,1952-07-23
8,8,Harold Miller,"8514 Elizabeth Crescent\r\nWest Joseland, GA 4...",52,Male,1967-06-28
9,9,Charles Czachorowski,"6798 Wagner Locks Suite 377\r\nLake Brenda, DC...",30,Male,1988-11-07
10,10,Robert Grantham,"822 Adams Plains\r\nNew Karen, AK 92114",38,Male,1981-05-01
11,11,Joel Lam,61296 Reginald Rapids Suite 783\r\nWest Timoth...,62,Male,1957-08-10
12,12,Irving Gil,"90757 Amanda Views Suite 604\r\nPort Paul, TX ...",56,Male,16/11/1962
13,13,Terry Reynolds,0019 Jensen Land Apt. 513\r\nPort Timothyville...,76,Male,21/04/1943
14,14,Kurt Littlefield,"822 Wilson Meadow\r\nMitchellmouth, RI 05935",NaN,Male,1985-11-03
15,15,Andy Grayson,"2573 Ryan Mission\r\nShortton, DC 01129",67,Male,1952-08-06
16,16,Chauncey Suarez,"481 Wilson Prairie\r\nKimberlymouth, LA 20064",46,Female,1973-06-27
17,17,Wallace Street,"9909 John Creek\r\nEast Heather, NY 31266",44,Male,1975-01-10
18,18,Daniel Crossman,"74669 Robles Drive\r\nPort Madisonbury, LA 63565",45,Male,1973-12-24
19,19,Steve Ripp,"7629 Ramos Knoll\r\nOwensmouth, NC 34420",54,Female,1965-05-06
20,20,George Hairston,"18356 Benjamin Roads\r\nSouth Nancy, NJ 58120",51,Male,1968-09-07
21,21,Jeffrey Taylor,USNV Kim\r\nFPO AA 96043,39,Female,1980-06-11 00 00 00
22,22,David Mealy,"0873 Diaz Village\r\nSandrastad, DE 05796",53,Male,1966-10-21
23,23,Garfield Bowen,"3678 Gloria Pine Apt. 652\r\nKevinfort, LA 80839",54,Male,1965/04/25
24,24,Thaddeus Mackerl,"8122 Jessica Knolls Apt. 880\r\nDakotafurt, WV...",47,Male,1972-07-10
25,25,Gerald Pack,"6146 Roman Shores\r\nNew Christine, OR 28920",55,Male,1963-12-19
26,26,Jonathon Nemith,"875 David Road\r\nPhillipfort, NC 26174",51,Male,1968-03-02
27,27,Roger Groce,"781 Berry Spring\r\nTravismouth, NJ 11603",46,Female,1972-12-11
28,28,Harold Odowd,7842 Curtis Vista Apt. 188\r\nLake Samuelburgh...,55,Male,1963-12-06
29,29,Stanley Forrest,"9532 Jesse Roads Suite 253\r\nNorth Toni, NC 7...",52,Male,1967-09-04 00:00:00
30,30,David Jones,"2455 Richardson Forks\r\nNorth Seanside, AL 57677",51,Male,1968-10-12
31,31,Darrin Cusumano,"3167 Thomas Glen\r\nDaniellebury, AK 96676",??,Male,1961-04-03
32,32,Scott Thomas,41100 Serrano Fields Suite 008\r\nSouth Cather...,61,Male,1958/06/06
33,33,William Morago,609 Matthew Causeway Apt. 234\r\nLake Victoria...,54,Male,1965-01-14
34,34,Jose Arias,"089 Ramirez Groves\r\nSouth Michaelchester, UT...",56,Male,1962-12-01
35,35,Elmer King,29688 Lindsey Dale Suite 077\r\nNorth Cassandr...,38,Male,12/08/1981
36,36,Edgar Holbrook,"902 Figueroa Fields Suite 708\r\nDavishaven, O...",71,Male,1948-02-25 00:00:00
37,37,Francis Finley,"PSC 6079, Box 8979\r\nAPO AP 22407",23,Male,1996-06-13
38,38,Roy Then,"8241 Stephanie Trail\r\nMorenobury, MA 36060",36,Male,16/04/1983
39,39,Todd Pagel,Unit 3142 Box 1661\r\nDPO AE 50179,40,Male,21/02/1979
40,40,Tony Kint,620 James Shores Apt. 302\r\nWest Christopherf...,69,Female,1950-09-03
41,41,Stephen Genova,"512 Duffy Lakes\r\nAlexmouth, WY 86476",56,Male,1963-03-22
42,42,Nicolas Sardina,"8054 Bryce Shoal\r\nAmyfort, SC 57887",61,Male,1958-10-19
43,43,Gordon Hauer,"521 Aaron Fork\r\nNew Kimberly, MI 89361",43,Male,1976-01-05
44,44,Michael Hintz,Unit 2178 Box 4941\r\nDPO AP 69245,51,Female,68-07-29
45,45,Steve Hawkins,"362 Charles Inlet Apt. 184\r\nIngramchester, I...",59,Female,1960-02-01
46,46,Robert Agnello,"73927 Timothy Brook\r\nJustinfurt, WA 25518",74,Female,1945-05-22 00 00 00
47,47,Brian Sartwell,4581 Melody Corners Apt. 401\r\nEast Alfredpor...,39,Male,1980-06-18
48,48,Michale Collins,"PSC 9092, Box 6253\r\nAPO AE 77636",52,Female,1966-11-29
49,49,Marlon Pickett,"343 Davis Forest\r\nPort Michelefurt, NY 67344",51,Female,1968-06-27

In [25]:
data2.head(50)

,Unnamed: 0,name,address,race,marital-status,occupation,pregnant,education-num,relationship,skewness_glucose,...,education,fnlwgt,class,std_glucose,income,medical_info,native-country,hours-per-week,capital-loss,workclass
0,0,Mike Riley,023 Joseph Estate Suite 799\r\nLake Andrewvill...,White,Married-civ-spouse,Prof-specialty,f,12.0,Husband,1.605420,...,Assoc-acdm,251396.0,0.0,37.450318,>50K,"{'mean_oxygen':'10.03511706','std_oxygen':'35....",Canada,45.0,0.0,Local-gov
1,1,Earl Hoffmann,"700 Darlene Mill\r\nJackburgh, GA 99369",White,Divorced,Craft-repair,f,9.0,Unmarried,10.994893,...,HS-grad,157446.0,1.0,33.842927,<=50K,"{'mean_oxygen':'7.834448161','std_oxygen':'33....",United-States,45.0,0.0,Private
2,2,Lorenzo Mann,"56863 Stephen Island\r\nSouth Danielle, NV 40760",White,Divorced,Craft-repair,t,10.0,Not-in-family,-0.290893,...,Some-college,106014.0,0.0,51.123164,<=50K,"{'mean_oxygen':'3.505852843','std_oxygen':'19....",United-States,60.0,0.0,Private
3,3,Justin Trevino,"18446 Pace Junction\r\nNew Christyfurt, SD 32280",White,Never-married,Tech-support,f,13.0,Not-in-family,13.476089,...,Bachelors,189590.0,1.0,45.923142,<=50K,"{'mean_oxygen':'83.55351171','std_oxygen':'66....",United-States,40.0,0.0,Private
4,4,Thomas Davis,"67753 Wilson Ford\r\nNew Rachelport, NV 50148",White,Married-civ-spouse,Transport-moving,f,9.0,Husband,0.680234,...,HS-grad,134768.0,0.0,46.867134,>50K,"{'mean_oxygen':'2.602842809','std_oxygen':'18....",United-States,40.0,0.0,Private
5,5,Lynn Quist,"2232 Flores Ridge\r\nSanchezstad, IL 31455",White,Divorced,Transport-moving,f,9.0,Not-in-family,1.315007,...,HS-grad,143542.0,0.0,40.466252,<=50K,"{'mean_oxygen':'4.886287625','std_oxygen':'24....",United-States,40.0,0.0,Private
6,6,Roscoe Shelton,"6954 Carrillo Shoals Apt. 139\r\nSandersview, ...",White,Married-civ-spouse,Adm-clerical,f,13.0,Husband,2.731511,...,Bachelors,259840.0,0.0,35.750382,<=50K,"{'mean_oxygen':'1.705685619','std_oxygen':'17....",United-States,45.0,0.0,Private
7,7,Jose Aigner,"76756 Ashley Mount\r\nGomezchester, NV 49283",White,Divorced,Sales,f,13.0,Not-in-family,2.022478,...,Bachelors,364548.0,0.0,39.279398,>50K,"{'mean_oxygen':'2.117056856','std_oxygen':'15....",United-States,40.0,0.0,Private
8,8,Robert Gerke,"820 Mark Drives\r\nMichaelchester, OH 64396",White,Married-civ-spouse,Sales,F,10.0,Husband,0.169639,...,Some-college,114520.0,0.0,49.502052,<=50K,"{'mean_oxygen':'5.197324415','std_oxygen':'26....",United-States,40.0,0.0,Self-emp-not-inc
9,9,Andre Bennett,"25878 Hector Canyon\r\nJerryfurt, AZ 38098",White,Never-married,Prof-specialty,f,11.0,Not-in-family,0.743007,...,Assoc-voc,436770.0,0.0,40.479149,<=50K,"{'mean_oxygen':'0.766722408','std_oxygen':'9.5...",United-States,40.0,0.0,Private
10,10,Carson Judy,"9121 Steven Lake\r\nNew Christopher, NC 18321",White,Never-married,Other-service,f,9.0,Unmarried,6.810020,...,HS-grad,217030.0,1.0,34.902038,<=50K,"{'mean_oxygen':'15.68394649','std_oxygen':'49....",United-States,30.0,0.0,Self-emp-not-inc
11,11,John Reeves,"1111 Lisa Roads\r\nMatthewfurt, MN 95571",White,Never-married,Exec-managerial,f,10.0,Own-child,0.732969,...,Some-college,86860.0,0.0,42.969091,<=50K,"{'mean_oxygen':'0.984113712','std_oxygen':'10....",United-States,15.0,0.0,Private
12,12,Kevin Richardson,"2847 Tracy Mission Suite 159\r\nLyonschester, ...",White,Married-civ-spouse,Machine-op-inspct,f,9.0,Husband,-0.244356,...,HS-grad,296317.0,0.0,NaN,<=50K,"{'mean_oxygen':'2.195652174','std_oxygen':'16....",Mexico,40.0,0.0,Private
13,13,William Rao,"27786 Perez Mall Suite 843\r\nLake Parkerton, ...",White,Married-civ-spouse,Protective-serv,f,11.0,Husband,-0.317422,...,Assoc-voc,392668.0,0.0,NaN,>50K,"{'mean_oxygen':'2.384615385','std_oxygen':'15....",United-States,40.0,0.0,Local-gov
14,14,John Whisler,"50702 Wu Springs Suite 692\r\nNew Curtis, NE 7...",White,Married-civ-spouse,Farming-fishing,f,13.0,Husband,-0.252281,...,Bachelors,271753.0,0.0,53.694409,<=50K,"{'mean_oxygen':'3.151337793','std_oxygen':'21....",United-States,40.0,0.0,Private
15,15,Andre Mcdonald,"448 Miller Ports\r\nLake Samuel, FL 25888",White,Divorced,Tech-support,f,10.0,Not-in-family,-0.034468,...,Some-college,237833.0,0.0,NaN,<=50K,"{'mean_oxygen':'5.050167224','std_oxygen':'27....",United-States,40.0,0.0,Private
16,16,Cedric Matthews,"2010 Ross Place\r\nRodriguezport, NH 07286",White,Widowed,Exec-managerial,f,9.0,Not-in-family,6.426509,...,HS-grad,113324.0,1.0,NaN,<=50K,"{'mean_oxygen':'20.9632107','std_oxygen':'53.4...",United-States,40.0,0.0,Local-gov
17,17,Roy Colella,"7226 Green Tunnel\r\nNorth Lisa, NC 23945",Amer-Indian-Eskimo,Married-civ-spouse,Adm-clerical,t,13.0,Own-child,27.688922,...,Bachelors,31387.0,1.0,NaN,<=50K,"{'mean_oxygen':'14.42725753','std_oxygen':'44....",United-States,25.0,0.0,Private
18,18,James Chau,"21561 Mary Spring\r\nJosephhaven, SD 61945",White,Never-married,Exec-managerial,f,13.0,Not-in-family,0.348163,...,Bachelors,135296.0,0.0,50.163444,>50K,"{'mean_oxygen':'10.090301','std_oxygen':'38.94...",United-States,45.0,2258.0,Private
19,19,Jose Fraser,"521 Gallegos Islands\r\nWest Brian, KS 37357",White,Married-civ-spouse,Exec-managerial,f,9.0,Husband,-0.169973,...,HS-grad,368797.0,0.0,48.177750,<=50K,"{'mean_oxygen':'1.272575251','std_oxygen':'15....",United-States,40.0,0.0,Self-emp-inc
20,20,Byron Saari,"520 Amanda Path\r\nPort Loriborough, AR 42069",White,Divorced,Adm-clerical,f,9.0,Not-in-family,4.229062,...,HS-grad,113176.0,1.0,40.519002,<=50K,"{'mean_oxygen':'8.204849498','std_oxygen':'39....",United-States,40.0,0.0,Private
21,21,Manuel Trombley,1525 Henry Station Suite 174\r\nEast Marcshire...,White,Married-civ-spouse,Other-service,f,6.0,Husband,0.275385,...,10th,163870.0,0.0,45.160953,<=50K,"{'mean_oxygen':'1.08361204','std_oxygen':'11.4...",United-States,40.0,0.0,Private
22,22,John Hart,Unit 0995 Box 2264\r\nDPO AE 51337,White,Married-civ-spouse,Tech-support,f,9.0,Husband,0.409075,...,HS-grad,177647.0,0.0,44.350158,>50K,"{'mean_oxygen':'7.419732441','std_oxygen':'30....",France,40.0,0.0,Federal-gov
23,23,Joseph Conn,"PSC 8070, Box 8717\r\nAPO AE 45843",White,Married-civ-spouse,Handlers-cleaners,f,9.0,Husband,-0.403627,...,HS-grad,250791.0,0.0,52.601631,<=50K,"{'mean_oxygen':'1.048494983','std_oxygen':'10....",United-States,48.0,0.0,Private
24,24,Claude Rodriguez,"31740 Jeffrey Falls\r\nPort Faithstad, IA 94696",Black,Divorced,Machine-op-inspct,f,9.0,Own-child,-0.275503,...,HS-grad,508891.0,0.0,52.411959,<=50K,"{'mean_oxygen':'2.43645485','std_oxygen':'19.5...",United-States,40.0,0.0,Private
25,25,Jody Nalls,"69736 John Shoal Apt. 744\r\nJenkinstown, TN 6...",White,Married-civ-spouse,Sales,f,13.0,Husband,35.520105,...,Bachelors,121124.0,1.0,31.063859,>50K,"{'mean_oxygen':'58.11371237','std_oxygen':'66....",United-States,40.0,0.0,Self-emp-not-inc
26,26,Edwin Laster,"392 Jones Place Suite 295\r\nNorth Jared, IN 0...",White,Never-married,Adm-clerical,f,10.0,Own-child,0.574901,...,Some-college,186014.0,0.0,NaN,<=50K,"{'mean_oxygen':'4.62541806','std_oxygen':'28.2...",United-States,15.0,0.0,Private
27,27,Bryon Gallegos,"7923 Perez Route\r\nLake Vincent, MO 14843",White,Married-civ-spouse,Handlers-cleaners,f,9.0,Husband,-0.210235,...,HS-grad,112077.0,0.0,56.990465,<=50K,"{'mean_oxygen':'4.431438127','std_oxygen':'23....",United-States,40.0,0.0,Private
28,28,Raul Sutton,7326 Rodriguez Mountains Apt. 840\r\nAshleyton...,White,Divorced,Tech-support,f,10.0,Not-in-family,0.121619,...,Some-college,168625.0,0.0,42.953600,>50K,"{'mean_oxygen':'1.739966555','std_oxygen':'12....",United-States,12.0,0.0,Self-emp-not-inc
29,29,Jesse Seaton,USS Sanchez\r\nFPO AA 92212,White,Married-civ-spouse,Handlers-cleaners,f,10.0,Husband,1.441155,...,Some-college,173851.0,0.0,42.494841,<=50K,"{'mean_oxygen':'1.276755853','std_oxygen':'16....",United-States,40.0,0.0,Private
30,30,Justin Lemme,"6047 Bird Hill\r\nNew Daniel, AZ 35409",White,Never-married,Adm-clerical,f,10.0,Not-in-family,0.033583,...,Some-college,104439.0,0.0,43.976456,<=50K,"{'mean_oxygen':'4.316053512','std_oxygen':'24....",United-States,50.0,0.0,Private
31,31,Rufus Galvin,04352 Cardenas Lock Suite 929\r\nEast Cristian...,White,Divorced,Other-service,f,9.0,Own-child,-0.181679,...,HS-grad,233571.0,0.0,49.902522,<=50K,"{'mean_oxygen':'3.755016722','std_oxygen':'20....",United-States,50.0,0.0,Private
32,32,Ted Watson,"9951 Olsen Village\r\nMartinezhaven, MI 91113",White,Married-civ-spouse,Adm-clerical,f,13.0,Husband,-0.531683,...,Bachelors,146268.0,0.0,54.564968,>50K,"{'mean_oxygen':'5.337792642','std_oxygen':'27....",United-States,40.0,0.0,Private
33,33,Ashley Lyons,"4166 Sara Points\r\nHernandezview, WY 62853",White,Never-married,Prof-specialty,f,16.0,Not-in-family,0.785615,...,Doctorate,44464.0,0.0,44.031125,<=50K,"{'mean_oxygen':'2.413043478','std_oxygen':'15....",United-States,60.0,0.0,State-gov
34,34,David Overton,"4812 Hansen Well Apt. 635\r\nPort Dianeport, A...",White,Never-married,Handlers-cleaners,FALSE,9.0,Not-in-family,-0.492390,...,HS-grad,218178.0,0.0,50.512063,<=50K,"{'mean_oxygen':'1.959866221','std_oxygen':'15....",United-States,40.0,0.0,Private
35,35,Gary Anderson,"80176 Karen Locks\r\nSherryland, NC 20857",White,Never-married,?,f,9.0,Not-in-family,-0.265173,...,HS-grad,196816.0,0.0,-5113.265374,<=50K,"{'mean_oxygen':'3.971571906','std_oxygen':'21....",United-States,30.0,0.0,?
36,36,Raul Vernon,"198 Wright Street Suite 397\r\nWendyshire, TN ...",NaN,Never-married,Machine-op-inspct,f,9.0,Not-in-family,0.466080,...,HS-grad,221447.0,0.0,43.502110,<=50K,"{'mean_oxygen':'5.973244147000001','std_oxygen...",United-States,40.0,0.0,Private
37,37,Bruce Wright,"801 Jeremy Path\r\nEast Brandontown, WI 38497",White,Never-married,Machine-op-inspct,f,9.0,Unmarried,-0.309684,...,HS-grad,98765.0,0.0,47.617889,<=50K,"{'mean_oxygen':'0.785117057','std_oxygen':'11....",Canada,40.0,0.0,Private
38,38,Ryan Tate,"PSC 6227, Box 5746\r\nAPO AA 55252",White,Never-married,Priv-house-serv,f,3.0,Unmarried,2.371052,...,5th-6th,377140.0,0.0,37.913807,<=50K,"{'mean_oxygen':'1.974080268','std_oxygen':'14....",Nicaragua,35.0,0.0,Private
39,39,Bryan Robertson,1412 Becky Extensions Suite 729\r\nNorth Joshu...,White,Divorced,Adm-clerical,f,14.0,Unmarried,1.232636,...,Masters,187873.0,1.0,NaN,<=50K,"{'mean_oxygen':'13.36538462','std_oxygen':'48....",United-States,40.0,0.0,Federal-gov
40,40,Todd Thornton,"2167 Woods Divide\r\nKariborough, SD 65649",Black,Never-married,Prof-specialty,f,14.0,Not-in-family,-0.349444,...,Masters,188352.0,0.0,48.470047,<=50K,"{'mean_oxygen':'4.711538462','std_oxygen':'27....",United-States,50.0,0.0,Private
41,41,William Spomer,"0361 Miguel Lane Apt. 613\r\nOlsonfurt, NJ 60256",White,Married-civ-spouse,Craft-repair,FALSE,8.0,Husband,-0.077262,...,12th,122442.0,0.0,47.791905,<=50K,"{'mean_oxygen':'0.780936455','std_oxygen':'9.4...",United-States,40.0,0.0,Private
42,42,Henry Glenn,6345 Deborah Keys Suite 890\r\nNorth Christoph...,White,Divorced,Machine-op-inspct,f,9.0,Not-in-family,46.273959,...,HS-grad,204829.0,1.0,29.197660,<=50K,"{'mean_oxygen':'62.85033445','std_oxygen':'78....",United-States,40.0,0.0,Private
43,43,Joe Gay,"121 Bennett Grove\r\nNew Johnburgh, VA 66601",White,Never-married,Sales,f,10.0,Own-child,0.088699,...,Some-college,280728.0,0.0,48.572792,<=50K,"{'mean_oxygen':'2.06187291','std_oxygen':'17.5...",United-States,32.0,0.0,Federal-gov
44,44,Jamie Aguilar,"0667 Kenneth Mountain\r\nEricchester, WY 50206",White,Married-civ-spouse,Prof-specialty,f,14.0,Husband,0.102856,...,Masters,22211.0,0.0,NaN,>50K,"{'mean_oxygen':'2.9590301','std_oxygen':'22.11...",United-States,50.0,0.0,Private
45,45,William Houpe,8515 Miller Trafficway Apt. 218\r\nSouth Matth...,Amer-Indian-Eskimo,Never-married,Exec-managerial,f,10.0,Own-child,-0.268634,...,Some-college,50442.0,0.0,50.195280,<=50K,"{'mean_oxygen':'5.915551839','std_oxygen':'30....",United-States,32.0,0.0,Local-gov
46,46,Dusty Lochrico,"78283 Oliver Hills Apt. 730\r\nMichaelaside, C...",White,Married-civ-spouse,Craft-repair,f,9.0,Husband,0.130420,...,HS-grad,412296.0,0.0,48.762458,>50K,"{'mean_oxygen':'2.107859532','std_oxygen':'13....",Mexico,35.0,0.0,Private
47,47,Peter Chestnut,"09982 Craig Bridge\r\nWest Nicholas, AK 19817",Black,Married-civ-spouse,Other-service,F,5.0,Husband,35.342124,...,9th,271431.0,1.0,30.759078,<=50K,"{'mean_oxygen':'102.0443144','std_oxygen':'73....",United-States,42.0,0.0,Private
48,48,Steven Jacobs,"84245 Williamson Trail\r\nEast Pamelaside, AL ...",White,Never-married,Sales,t,10.0,Not-in-family,-0.155325,...,Some-college,267955.0,0.0,49.174472,<=50K,"{'mean_oxygen':'8.107859532','std_oxygen':'34....",United-States,40.0,0.0,Private
49,49,Scott Gilbert,"496 Nathaniel Turnpike Apt. 132\r\nJuliestad, ...",White,Married-civ-spouse,Craft-repair,f,12.0,Husband,-0.380075,...,Assoc-acdm,34377.0,0.0,55.593774,>50K,"{'mean_oxygen':'1.601170569','std_oxygen':'13....",United-States,40.0,0.0,Private

In [26]:
# Fix data
data, rdata = fix_data(data, data2, rdata, rdata2, True)

Data set age: [2019, 12, 2]
[2019, 12, 2] - [1985, 11, 3] = [34, 1, -1] --> age = 34
[2019, 12, 2] - [1961, 4, 3] = [58, 8, -1] --> age = 58
[2019, 12, 2] - [1980, 7, 30] = [39, 5, -28] --> age = 39
[2019, 12, 2] - [1974, 11, 19] = [45, 1, -17] --> age = 45
[2019, 12, 2] - [1970, 8, 18] = [49, 4, -16] --> age = 49
[2019, 12, 2] - [1984, 9, 9] = [35, 3, -7] --> age = 35
[2019, 12, 2] - [1937, 8, 18] = [82, 4, -16] --> age = 82
[2019, 12, 2] - [1981, 10, 15] = [38, 2, -13] --> age = 38
[2019, 12, 2] - [1972, 12, 18] = [47, 0, -16] --> age = 46
[2019, 12, 2] - [1955, 11, 14] = [64, 1, -12] --> age = 64
[2019, 12, 2] - [1953, 9, 30] = [66, 3, -28] --> age = 66
[2019, 12, 2] - [1955, 8, 13] = [64, 4, -11] --> age = 64
[2019, 12, 2] - [1961, 5, 29] = [58, 7, -27] --> age = 58
[2019, 12, 2] - [1976, 7, 23] = [43, 5, -21] --> age = 43
[2019, 12, 2] - [1963, 3, 24] = [56, 9, -22] --> age = 56
[2019, 12, 2] - [1955, 5, 2] = [64, 7, 0] --> age = 64
[2019, 12, 2] - [1967, 3, 7] = [52, 9, -5] --> age = 52
[2019, 12, 2] - [1965, 11, 18] = [54, 1, -16] --> age = 54
[2019, 12, 2] - [1951, 8, 19] = [68, 4, -17] --> age = 68
[2019, 12, 2] - [1965, 11, 25] = [54, 1, -23] --> age = 54
[2019, 12, 2] - [1955, 9, 30] = [64, 3, -28] --> age = 64
[2019, 12, 2] - [1966, 11, 14] = [53, 1, -12] --> age = 53
[2019, 12, 2] - [1970, 3, 9] = [49, 9, -7] --> age = 49
[2019, 12, 2] - [1952, 12, 29] = [67, 0, -27] --> age = 66
[2019, 12, 2] - [1977, 2, 23] = [42, 10, -21] --> age = 42
[2019, 12, 2] - [1973, 10, 27] = [46, 2, -25] --> age = 46
[2019, 12, 2] - [1970, 4, 16] = [49, 8, -14] --> age = 49
[2019, 12, 2] - [1968, 11, 2] = [51, 1, 0] --> age = 51
[2019, 12, 2] - [1961, 2, 4] = [58, 10, -2] --> age = 58
[2019, 12, 2] - [1969, 1, 30] = [50, 11, -28] --> age = 50
[2019, 12, 2] - [1985, 9, 7] = [34, 3, -5] --> age = 34
[2019, 12, 2] - [1972, 3, 20] = [47, 9, -18] --> age = 47
[2019, 12, 2] - [1978, 4, 21] = [41, 8, -19] --> age = 41
[2019, 12, 2] - [1962, 2, 3] = [57, 10, -1] --> age = 57
[2019, 12, 2] - [1950, 1, 30] = [69, 11, -28] --> age = 69
[2019, 12, 2] - [1957, 10, 19] = [62, 2, -17] --> age = 62
[2019, 12, 2] - [1960, 4, 30] = [59, 8, -28] --> age = 59
[2019, 12, 2] - [1972, 4, 12] = [47, 8, -10] --> age = 47
[2019, 12, 2] - [2003, 5, 8] = [16, 7, -6] --> age = 16
[2019, 12, 2] - [1946, 6, 23] = [73, 6, -21] --> age = 73
[2019, 12, 2] - [1976, 3, 29] = [43, 9, -27] --> age = 43
[2019, 12, 2] - [1964, 1, 27] = [55, 11, -25] --> age = 55
[2019, 12, 2] - [1960, 11, 15] = [59, 1, -13] --> age = 59
[2019, 12, 2] - [1954, 10, 28] = [65, 2, -26] --> age = 65
[2019, 12, 2] - [1951, 9, 24] = [68, 3, -22] --> age = 68
[2019, 12, 2] - [1965, 3, 1] = [54, 9, 1] --> age = 54
[2019, 12, 2] - [1963, 1, 14] = [56, 11, -12] --> age = 56
[2019, 12, 2] - [1953, 3, 3] = [66, 9, -1] --> age = 66
[2019, 12, 2] - [1965, 10, 30] = [54, 2, -28] --> age = 54
[2019, 12, 2] - [1980, 10, 19] = [39, 2, -17] --> age = 39
[2019, 12, 2] - [1975, 11, 21] = [44, 1, -19] --> age = 44
[2019, 12, 2] - [1957, 7, 1] = [62, 5, 1] --> age = 62
[2019, 12, 2] - [1963, 10, 19] = [56, 2, -17] --> age = 56
[2019, 12, 2] - [1960, 2, 9] = [59, 10, -7] --> age = 59
[2019, 12, 2] - [1965, 6, 28] = [54, 6, -26] --> age = 54
[2019, 12, 2] - [1992, 1, 21] = [27, 11, -19] --> age = 27
[2019, 12, 2] - [1962, 7, 13] = [57, 5, -11] --> age = 57
[2019, 12, 2] - [1967, 4, 24] = [52, 8, -22] --> age = 52
[2019, 12, 2] - [1948, 6, 9] = [71, 6, -7] --> age = 71
[2019, 12, 2] - [1956, 12, 5] = [63, 0, -3] --> age = 62
[2019, 12, 2] - [1986, 2, 16] = [33, 10, -14] --> age = 33
[2019, 12, 2] - [1956, 3, 21] = [63, 9, -19] --> age = 63
[2019, 12, 2] - [1976, 1, 20] = [43, 11, -18] --> age = 43
[2019, 12, 2] - [1975, 3, 4] = [44, 9, -2] --> age = 44
[2019, 12, 2] - [1979, 12, 24] = [40, 0, -22] --> age = 39
[2019, 12, 2] - [1965, 12, 26] = [54, 0, -24] --> age = 53
[2019, 12, 2] - [1938, 4, 30] = [81, 8, -28] --> age = 81
[2019, 12, 2] - [1979, 4, 5] = [40, 8, -3] --> age = 40
[2019, 12, 2] - [1975, 1, 6] = [44, 11, -4] --> age = 44
[2019, 12, 2] - [1973, 9, 30] = [46, 3, -28] --> age = 46
[2019, 12, 2] - [1958, 2, 18] = [61, 10, -16] --> age = 61
[2019, 12, 2] - [1985, 9, 30] = [34, 3, -28] --> age = 34
[2019, 12, 2] - [1961, 3, 6] = [58, 9, -4] --> age = 58
[2019, 12, 2] - [1986, 4, 5] = [33, 8, -3] --> age = 33
[2019, 12, 2] - [1970, 4, 19] = [49, 8, -17] --> age = 49
[2019, 12, 2] - [1974, 5, 21] = [45, 7, -19] --> age = 45
[2019, 12, 2] - [1972, 12, 11] = [47, 0, -9] --> age = 46
[2019, 12, 2] - [1973, 12, 25] = [46, 0, -23] --> age = 45
[2019, 12, 2] - [1949, 3, 23] = [70, 9, -21] --> age = 70
[2019, 12, 2] - [1944, 12, 3] = [75, 0, -1] --> age = 74
[2019, 12, 2] - [1957, 8, 10] = [62, 4, -8] --> age = 62
[2019, 12, 2] - [1967, 8, 27] = [52, 4, -25] --> age = 52
[2019, 12, 2] - [1953, 9, 13] = [66, 3, -11] --> age = 66
[2019, 12, 2] - [1981, 2, 21] = [38, 10, -19] --> age = 38
[2019, 12, 2] - [1960, 5, 7] = [59, 7, -5] --> age = 59
[2019, 12, 2] - [1976, 10, 15] = [43, 2, -13] --> age = 43
[2019, 12, 2] - [1969, 8, 10] = [50, 4, -8] --> age = 50
[2019, 12, 2] - [1955, 8, 20] = [64, 4, -18] --> age = 64
[2019, 12, 2] - [1989, 4, 4] = [30, 8, -2] --> age = 30
[2019, 12, 2] - [1960, 9, 22] = [59, 3, -20] --> age = 59
[2019, 12, 2] - [1980, 1, 15] = [39, 11, -13] --> age = 39
[2019, 12, 2] - [1989, 3, 12] = [30, 9, -10] --> age = 30
[2019, 12, 2] - [1970, 3, 15] = [49, 9, -13] --> age = 49
[2019, 12, 2] - [1980, 7, 8] = [39, 5, -6] --> age = 39
[2019, 12, 2] - [1969, 10, 1] = [50, 2, 1] --> age = 50
[2019, 12, 2] - [1971, 3, 3] = [48, 9, -1] --> age = 48
[2019, 12, 2] - [1963, 5, 2] = [56, 7, 0] --> age = 56
[2019, 12, 2] - [1906, 4, 29] = [113, 8, -27] --> age = 113
[2019, 12, 2] - [1966, 10, 23] = [53, 2, -21] --> age = 53
[2019, 12, 2] - [1991, 6, 18] = [28, 6, -16] --> age = 28
[2019, 12, 2] - [1957, 5, 15] = [62, 7, -13] --> age = 62
[2019, 12, 2] - [1961, 9, 25] = [58, 3, -23] --> age = 58
[2019, 12, 2] - [1977, 9, 7] = [42, 3, -5] --> age = 42
[2019, 12, 2] - [1951, 11, 22] = [68, 1, -20] --> age = 68
[2019, 12, 2] - [1952, 4, 7] = [67, 8, -5] --> age = 67
[2019, 12, 2] - [1975, 4, 19] = [44, 8, -17] --> age = 44
[2019, 12, 2] - [1957, 4, 19] = [62, 8, -17] --> age = 62
[2019, 12, 2] - [1978, 11, 6] = [41, 1, -4] --> age = 41
[2019, 12, 2] - [1976, 5, 19] = [43, 7, -17] --> age = 43
[2019, 12, 2] - [1948, 9, 9] = [71, 3, -7] --> age = 71
[2019, 12, 2] - [1980, 11, 23] = [39, 1, -21] --> age = 39
[2019, 12, 2] - [1964, 5, 9] = [55, 7, -7] --> age = 55
[2019, 12, 2] - [1961, 5, 7] = [58, 7, -5] --> age = 58
[2019, 12, 2] - [1950, 11, 11] = [69, 1, -9] --> age = 69
[2019, 12, 2] - [1956, 5, 22] = [63, 7, -20] --> age = 63
[2019, 12, 2] - [1972, 6, 23] = [47, 6, -21] --> age = 47
[2019, 12, 2] - [1977, 10, 8] = [42, 2, -6] --> age = 42
[2019, 12, 2] - [1983, 7, 1] = [36, 5, 1] --> age = 36
[2019, 12, 2] - [1967, 6, 7] = [52, 6, -5] --> age = 52
[2019, 12, 2] - [1979, 9, 26] = [40, 3, -24] --> age = 40
[2019, 12, 2] - [1970, 5, 3] = [49, 7, -1] --> age = 49
[2019, 12, 2] - [1952, 7, 30] = [67, 5, -28] --> age = 67
[2019, 12, 2] - [1967, 9, 13] = [52, 3, -11] --> age = 52
[2019, 12, 2] - [1965, 1, 6] = [54, 11, -4] --> age = 54
[2019, 12, 2] - [1976, 4, 15] = [43, 8, -13] --> age = 43
[2019, 12, 2] - [1989, 2, 9] = [30, 10, -7] --> age = 30
[2019, 12, 2] - [1958, 10, 14] = [61, 2, -12] --> age = 61
[2019, 12, 2] - [1953, 3, 10] = [66, 9, -8] --> age = 66
[2019, 12, 2] - [1966, 9, 3] = [53, 3, -1] --> age = 53
[2019, 12, 2] - [1961, 9, 13] = [58, 3, -11] --> age = 58
[2019, 12, 2] - [1963, 6, 12] = [56, 6, -10] --> age = 56
[2019, 12, 2] - [1984, 6, 30] = [35, 6, -28] --> age = 35
[2019, 12, 2] - [1984, 10, 12] = [35, 2, -10] --> age = 35
[2019, 12, 2] - [1974, 5, 31] = [45, 7, -29] --> age = 45
[2019, 12, 2] - [1956, 6, 14] = [63, 6, -12] --> age = 63
[2019, 12, 2] - [1979, 10, 21] = [40, 2, -19] --> age = 40
[2019, 12, 2] - [1950, 8, 22] = [69, 4, -20] --> age = 69
[2019, 12, 2] - [1965, 10, 21] = [54, 2, -19] --> age = 54
[2019, 12, 2] - [1972, 2, 21] = [47, 10, -19] --> age = 47
[2019, 12, 2] - [1993, 1, 30] = [26, 11, -28] --> age = 26
[2019, 12, 2] - [1950, 6, 7] = [69, 6, -5] --> age = 69
[2019, 12, 2] - [1963, 5, 26] = [56, 7, -24] --> age = 56
[2019, 12, 2] - [1973, 11, 23] = [46, 1, -21] --> age = 46
[2019, 12, 2] - [1946, 12, 31] = [73, 0, -29] --> age = 72
[2019, 12, 2] - [1949, 1, 17] = [70, 11, -15] --> age = 70
[2019, 12, 2] - [1967, 7, 9] = [52, 5, -7] --> age = 52
[2019, 12, 2] - [1965, 10, 29] = [54, 2, -27] --> age = 54
[2019, 12, 2] - [1966, 2, 2] = [53, 10, 0] --> age = 53
[2019, 12, 2] - [1974, 1, 12] = [45, 11, -10] --> age = 45
[2019, 12, 2] - [1977, 1, 1] = [42, 11, 1] --> age = 42
[2019, 12, 2] - [1971, 5, 14] = [48, 7, -12] --> age = 48
[2019, 12, 2] - [1957, 10, 14] = [62, 2, -12] --> age = 62
[2019, 12, 2] - [1981, 9, 6] = [38, 3, -4] --> age = 38
[2019, 12, 2] - [1971, 9, 18] = [48, 3, -16] --> age = 48
[2019, 12, 2] - [1958, 6, 21] = [61, 6, -19] --> age = 61
[2019, 12, 2] - [1967, 2, 1] = [52, 10, 1] --> age = 52
[2019, 12, 2] - [1964, 11, 1] = [55, 1, 1] --> age = 55
[2019, 12, 2] - [1959, 7, 22] = [60, 5, -20] --> age = 60
[2019, 12, 2] - [1967, 3, 25] = [52, 9, -23] --> age = 52
[2019, 12, 2] - [1961, 11, 28] = [58, 1, -26] --> age = 58
[2019, 12, 2] - [1964, 10, 16] = [55, 2, -14] --> age = 55
[2019, 12, 2] - [1990, 3, 30] = [29, 9, -28] --> age = 29
[2019, 12, 2] - [1957, 5, 26] = [62, 7, -24] --> age = 62
[2019, 12, 2] - [1952, 5, 1] = [67, 7, 1] --> age = 67
[2019, 12, 2] - [1970, 2, 21] = [49, 10, -19] --> age = 49
[2019, 12, 2] - [1950, 5, 3] = [69, 7, -1] --> age = 69
[2019, 12, 2] - [1950, 11, 26] = [69, 1, -24] --> age = 69
[2019, 12, 2] - [1956, 3, 9] = [63, 9, -7] --> age = 63
[2019, 12, 2] - [1972, 2, 29] = [47, 10, -27] --> age = 47
[2019, 12, 2] - [1979, 1, 1] = [40, 11, 1] --> age = 40
[2019, 12, 2] - [1959, 12, 12] = [60, 0, -10] --> age = 59
[2019, 12, 2] - [1970, 9, 30] = [49, 3, -28] --> age = 49
[2019, 12, 2] - [2002, 10, 30] = [17, 2, -28] --> age = 17
[2019, 12, 2] - [1961, 7, 8] = [58, 5, -6] --> age = 58
[2019, 12, 2] - [1960, 10, 19] = [59, 2, -17] --> age = 59
[2019, 12, 2] - [1975, 9, 1] = [44, 3, 1] --> age = 44
[2019, 12, 2] - [1961, 6, 9] = [58, 6, -7] --> age = 58
[2019, 12, 2] - [1974, 9, 28] = [45, 3, -26] --> age = 45
[2019, 12, 2] - [1965, 12, 19] = [54, 0, -17] --> age = 53
[2019, 12, 2] - [1956, 1, 20] = [63, 11, -18] --> age = 63
[2019, 12, 2] - [1961, 3, 9] = [58, 9, -7] --> age = 58
[2019, 12, 2] - [1983, 11, 12] = [36, 1, -10] --> age = 36
[2019, 12, 2] - [1949, 5, 7] = [70, 7, -5] --> age = 70
[2019, 12, 2] - [1948, 6, 22] = [71, 6, -20] --> age = 71
[2019, 12, 2] - [1951, 6, 13] = [68, 6, -11] --> age = 68
[2019, 12, 2] - [1963, 9, 24] = [56, 3, -22] --> age = 56
[2019, 12, 2] - [1972, 11, 9] = [47, 1, -7] --> age = 47
[2019, 12, 2] - [1972, 5, 22] = [47, 7, -20] --> age = 47
[2019, 12, 2] - [1955, 6, 3] = [64, 6, -1] --> age = 64
[2019, 12, 2] - [1968, 12, 8] = [51, 0, -6] --> age = 50
[2019, 12, 2] - [1953, 4, 10] = [66, 8, -8] --> age = 66
[2019, 12, 2] - [1969, 4, 12] = [50, 8, -10] --> age = 50
[2019, 12, 2] - [1968, 3, 20] = [51, 9, -18] --> age = 51
[2019, 12, 2] - [1981, 5, 21] = [38, 7, -19] --> age = 38
[2019, 12, 2] - [1977, 7, 9] = [42, 5, -7] --> age = 42
[2019, 12, 2] - [1968, 8, 16] = [51, 4, -14] --> age = 51
[2019, 12, 2] - [1983, 1, 16] = [36, 11, -14] --> age = 36
[2019, 12, 2] - [1956, 12, 11] = [63, 0, -9] --> age = 62
[2019, 12, 2] - [1968, 2, 21] = [51, 10, -19] --> age = 51
[2019, 12, 2] - [1964, 9, 15] = [55, 3, -13] --> age = 55
[2019, 12, 2] - [1960, 5, 25] = [59, 7, -23] --> age = 59
[2019, 12, 2] - [1981, 2, 5] = [38, 10, -3] --> age = 38
[2019, 12, 2] - [1953, 7, 5] = [66, 5, -3] --> age = 66
[2019, 12, 2] - [1978, 3, 15] = [41, 9, -13] --> age = 41
[2019, 12, 2] - [1985, 2, 23] = [34, 10, -21] --> age = 34
[2019, 12, 2] - [1966, 8, 14] = [53, 4, -12] --> age = 53
[2019, 12, 2] - [1953, 8, 5] = [66, 4, -3] --> age = 66
[2019, 12, 2] - [1965, 5, 10] = [54, 7, -8] --> age = 54
[2019, 12, 2] - [1957, 12, 23] = [62, 0, -21] --> age = 61
[2019, 12, 2] - [1969, 12, 17] = [50, 0, -15] --> age = 49
[2019, 12, 2] - [1978, 9, 18] = [41, 3, -16] --> age = 41
[2019, 12, 2] - [1972, 11, 12] = [47, 1, -10] --> age = 47
[2019, 12, 2] - [1955, 9, 5] = [64, 3, -3] --> age = 64
[2019, 12, 2] - [1961, 2, 17] = [58, 10, -15] --> age = 58
[2019, 12, 2] - [1983, 10, 5] = [36, 2, -3] --> age = 36
[2019, 12, 2] - [1972, 10, 26] = [47, 2, -24] --> age = 47
[2019, 12, 2] - [1957, 6, 10] = [62, 6, -8] --> age = 62
[2019, 12, 2] - [1968, 10, 27] = [51, 2, -25] --> age = 51
[2019, 12, 2] - [1979, 11, 3] = [40, 1, -1] --> age = 40
[2019, 12, 2] - [1987, 11, 23] = [32, 1, -21] --> age = 32
[2019, 12, 2] - [1967, 7, 20] = [52, 5, -18] --> age = 52
[2019, 12, 2] - [1960, 12, 15] = [59, 0, -13] --> age = 58
[2019, 12, 2] - [1981, 5, 26] = [38, 7, -24] --> age = 38
[2019, 12, 2] - [1990, 12, 7] = [29, 0, -5] --> age = 28
[2019, 12, 2] - [1965, 10, 12] = [54, 2, -10] --> age = 54
[2019, 12, 2] - [1985, 11, 3] = [34, 1, -1] --> age = 34
[2019, 12, 2] - [1969, 10, 12] = [50, 2, -10] --> age = 50
[2019, 12, 2] - [1966, 10, 25] = [53, 2, -23] --> age = 53
[2019, 12, 2] - [1968, 6, 29] = [51, 6, -27] --> age = 51
[2019, 12, 2] - [1948, 11, 1] = [71, 1, 1] --> age = 71
[2019, 12, 2] - [1994, 2, 3] = [25, 10, -1] --> age = 25
[2019, 12, 2] - [2019, 12, 2] = [0, 0, 0] --> age = 0
[2019, 12, 2] - [1961, 12, 11] = [58, 0, -9] --> age = 57
[2019, 12, 2] - [1964, 12, 11] = [55, 0, -9] --> age = 54
[2019, 12, 2] - [1958, 10, 23] = [61, 2, -21] --> age = 61
[2019, 12, 2] - [1965, 5, 30] = [54, 7, -28] --> age = 54
[2019, 12, 2] - [1971, 7, 26] = [48, 5, -24] --> age = 48
[2019, 12, 2] - [1975, 8, 31] = [44, 4, -29] --> age = 44
[2019, 12, 2] - [1961, 2, 12] = [58, 10, -10] --> age = 58
[2019, 12, 2] - [1986, 6, 30] = [33, 6, -28] --> age = 33
[2019, 12, 2] - [1982, 8, 16] = [37, 4, -14] --> age = 37
[2019, 12, 2] - [1959, 2, 22] = [60, 10, -20] --> age = 60
[2019, 12, 2] - [1970, 11, 5] = [49, 1, -3] --> age = 49
[2019, 12, 2] - [1942, 6, 22] = [77, 6, -20] --> age = 77
[2019, 12, 2] - [1973, 9, 14] = [46, 3, -12] --> age = 46
[2019, 12, 2] - [1986, 9, 11] = [33, 3, -9] --> age = 33
[2019, 12, 2] - [1962, 11, 11] = [57, 1, -9] --> age = 57
[2019, 12, 2] - [1972, 8, 28] = [47, 4, -26] --> age = 47
[2019, 12, 2] - [1964, 5, 14] = [55, 7, -12] --> age = 55
[2019, 12, 2] - [1957, 2, 18] = [62, 10, -16] --> age = 62
[2019, 12, 2] - [1979, 8, 20] = [40, 4, -18] --> age = 40
[2019, 12, 2] - [1963, 5, 15] = [56, 7, -13] --> age = 56
[2019, 12, 2] - [1959, 6, 11] = [60, 6, -9] --> age = 60
[2019, 12, 2] - [1976, 11, 11] = [43, 1, -9] --> age = 43
[2019, 12, 2] - [1969, 2, 28] = [50, 10, -26] --> age = 50
[2019, 12, 2] - [1965, 1, 18] = [54, 11, -16] --> age = 54
[2019, 12, 2] - [1951, 6, 30] = [68, 6, -28] --> age = 68
[2019, 12, 2] - [1975, 9, 25] = [44, 3, -23] --> age = 44
[2019, 12, 2] - [1969, 9, 14] = [50, 3, -12] --> age = 50
[2019, 12, 2] - [1961, 12, 26] = [58, 0, -24] --> age = 57
[2019, 12, 2] - [1970, 8, 31] = [49, 4, -29] --> age = 49
[2019, 12, 2] - [1971, 3, 25] = [48, 9, -23] --> age = 48
[2019, 12, 2] - [1949, 8, 17] = [70, 4, -15] --> age = 70
[2019, 12, 2] - [1992, 4, 9] = [27, 8, -7] --> age = 27
[2019, 12, 2] - [1958, 5, 21] = [61, 7, -19] --> age = 61
[2019, 12, 2] - [1964, 7, 25] = [55, 5, -23] --> age = 55
[2019, 12, 2] - [1960, 3, 9] = [59, 9, -7] --> age = 59
[2019, 12, 2] - [1968, 7, 21] = [51, 5, -19] --> age = 51
[2019, 12, 2] - [1967, 11, 29] = [52, 1, -27] --> age = 52
[2019, 12, 2] - [1955, 8, 19] = [64, 4, -17] --> age = 64
[2019, 12, 2] - [1958, 7, 16] = [61, 5, -14] --> age = 61
[2019, 12, 2] - [1980, 8, 14] = [39, 4, -12] --> age = 39
[2019, 12, 2] - [1945, 12, 6] = [74, 0, -4] --> age = 73
[2019, 12, 2] - [1946, 7, 9] = [73, 5, -7] --> age = 73
[2019, 12, 2] - [1961, 9, 12] = [58, 3, -10] --> age = 58
[2019, 12, 2] - [1953, 6, 24] = [66, 6, -22] --> age = 66
[2019, 12, 2] - [1974, 8, 27] = [45, 4, -25] --> age = 45
[2019, 12, 2] - [1970, 11, 16] = [49, 1, -14] --> age = 49
[2019, 12, 2] - [1974, 5, 25] = [45, 7, -23] --> age = 45
[2019, 12, 2] - [1992, 1, 12] = [27, 11, -10] --> age = 27
[2019, 12, 2] - [1961, 1, 11] = [58, 11, -9] --> age = 58
[2019, 12, 2] - [1960, 2, 29] = [59, 10, -27] --> age = 59
[2019, 12, 2] - [1959, 12, 1] = [60, 0, 1] --> age = 60
[2019, 12, 2] - [1976, 3, 18] = [43, 9, -16] --> age = 43
[2019, 12, 2] - [1956, 11, 27] = [63, 1, -25] --> age = 63
[2019, 12, 2] - [1981, 4, 18] = [38, 8, -16] --> age = 38
[2019, 12, 2] - [1951, 1, 25] = [68, 11, -23] --> age = 68
[2019, 12, 2] - [1960, 3, 27] = [59, 9, -25] --> age = 59
[2019, 12, 2] - [1974, 2, 13] = [45, 10, -11] --> age = 45
[2019, 12, 2] - [1978, 6, 25] = [41, 6, -23] --> age = 41
[2019, 12, 2] - [1967, 3, 23] = [52, 9, -21] --> age = 52
[2019, 12, 2] - [1974, 9, 25] = [45, 3, -23] --> age = 45
[2019, 12, 2] - [1963, 11, 22] = [56, 1, -20] --> age = 56
[2019, 12, 2] - [1968, 9, 27] = [51, 3, -25] --> age = 51
[2019, 12, 2] - [1966, 1, 14] = [53, 11, -12] --> age = 53
[2019, 12, 2] - [1959, 10, 19] = [60, 2, -17] --> age = 60
[2019, 12, 2] - [1944, 11, 15] = [75, 1, -13] --> age = 75
[2019, 12, 2] - [1963, 3, 24] = [56, 9, -22] --> age = 56
[2019, 12, 2] - [1969, 5, 19] = [50, 7, -17] --> age = 50
[2019, 12, 2] - [1973, 2, 24] = [46, 10, -22] --> age = 46
[2019, 12, 2] - [1971, 7, 13] = [48, 5, -11] --> age = 48
[2019, 12, 2] - [1960, 4, 24] = [59, 8, -22] --> age = 59
[2019, 12, 2] - [1961, 11, 20] = [58, 1, -18] --> age = 58
[2019, 12, 2] - [1984, 10, 19] = [35, 2, -17] --> age = 35
[2019, 12, 2] - [1980, 8, 11] = [39, 4, -9] --> age = 39
[2019, 12, 2] - [1966, 12, 4] = [53, 0, -2] --> age = 52
[2019, 12, 2] - [1954, 7, 26] = [65, 5, -24] --> age = 65
[2019, 12, 2] - [1975, 11, 10] = [44, 1, -8] --> age = 44
[2019, 12, 2] - [1955, 10, 23] = [64, 2, -21] --> age = 64
[2019, 12, 2] - [1968, 6, 14] = [51, 6, -12] --> age = 51
[2019, 12, 2] - [1976, 10, 6] = [43, 2, -4] --> age = 43
[2019, 12, 2] - [1967, 4, 17] = [52, 8, -15] --> age = 52
[2019, 12, 2] - [1972, 7, 26] = [47, 5, -24] --> age = 47
[2019, 12, 2] - [1944, 5, 17] = [75, 7, -15] --> age = 75
[2019, 12, 2] - [1985, 5, 28] = [34, 7, -26] --> age = 34
[2019, 12, 2] - [1977, 9, 12] = [42, 3, -10] --> age = 42
[2019, 12, 2] - [1965, 11, 2] = [54, 1, 0] --> age = 54
[2019, 12, 2] - [1977, 5, 14] = [42, 7, -12] --> age = 42
[2019, 12, 2] - [1967, 11, 23] = [52, 1, -21] --> age = 52
[2019, 12, 2] - [1989, 1, 1] = [30, 11, 1] --> age = 30
[2019, 12, 2] - [1984, 2, 12] = [35, 10, -10] --> age = 35
[2019, 12, 2] - [1972, 4, 27] = [47, 8, -25] --> age = 47
[2019, 12, 2] - [1973, 3, 5] = [46, 9, -3] --> age = 46
[2019, 12, 2] - [1979, 3, 9] = [40, 9, -7] --> age = 40
[2019, 12, 2] - [1971, 2, 8] = [48, 10, -6] --> age = 48
[2019, 12, 2] - [1963, 10, 4] = [56, 2, -2] --> age = 56
[2019, 12, 2] - [1959, 4, 1] = [60, 8, 1] --> age = 60
[2019, 12, 2] - [1987, 12, 10] = [32, 0, -8] --> age = 31
[2019, 12, 2] - [1989, 8, 13] = [30, 4, -11] --> age = 30
[2019, 12, 2] - [1970, 9, 10] = [49, 3, -8] --> age = 49
[2019, 12, 2] - [1969, 7, 21] = [50, 5, -19] --> age = 50
[2019, 12, 2] - [1965, 1, 4] = [54, 11, -2] --> age = 54
[2019, 12, 2] - [1989, 6, 28] = [30, 6, -26] --> age = 30
[2019, 12, 2] - [1977, 12, 18] = [42, 0, -16] --> age = 41
[2019, 12, 2] - [1996, 1, 1] = [23, 11, 1] --> age = 23
[2019, 12, 2] - [1971, 7, 19] = [48, 5, -17] --> age = 48
[2019, 12, 2] - [1964, 11, 16] = [55, 1, -14] --> age = 55
[2019, 12, 2] - [1971, 11, 16] = [48, 1, -14] --> age = 48
[2019, 12, 2] - [1982, 10, 23] = [37, 2, -21] --> age = 37
[2019, 12, 2] - [1983, 9, 8] = [36, 3, -6] --> age = 36
[2019, 12, 2] - [1948, 4, 3] = [71, 8, -1] --> age = 71
[2019, 12, 2] - [1978, 5, 21] = [41, 7, -19] --> age = 41
[2019, 12, 2] - [1973, 10, 22] = [46, 2, -20] --> age = 46
[2019, 12, 2] - [1966, 9, 9] = [53, 3, -7] --> age = 53
[2019, 12, 2] - [1959, 3, 17] = [60, 9, -15] --> age = 60

[2019, 12, 2] - [1978, 6, 26] = [41, 6, -24] --> age = 41
[2019, 12, 2] - [1986, 8, 27] = [33, 4, -25] --> age = 33
[2019, 12, 2] - [1970, 1, 16] = [49, 11, -14] --> age = 49
[2019, 12, 2] - [1985, 8, 24] = [34, 4, -22] --> age = 34
[2019, 12, 2] - [1955, 12, 30] = [64, 0, -28] --> age = 63
[2019, 12, 2] - [1969, 6, 24] = [50, 6, -22] --> age = 50
[2019, 12, 2] - [1967, 11, 13] = [52, 1, -11] --> age = 52
[2019, 12, 2] - [1958, 11, 27] = [61, 1, -25] --> age = 61
[2019, 12, 2] - [1968, 6, 8] = [51, 6, -6] --> age = 51
[2019, 12, 2] - [1969, 7, 29] = [50, 5, -27] --> age = 50
[2019, 12, 2] - [1966, 3, 6] = [53, 9, -4] --> age = 53
[2019, 12, 2] - [1972, 6, 13] = [47, 6, -11] --> age = 47
[2019, 12, 2] - [1998, 9, 29] = [21, 3, -27] --> age = 21
[2019, 12, 2] - [1973, 5, 21] = [46, 7, -19] --> age = 46
[2019, 12, 2] - [1959, 1, 29] = [60, 11, -27] --> age = 60
[2019, 12, 2] - [1971, 6, 17] = [48, 6, -15] --> age = 48
[2019, 12, 2] - [1979, 2, 20] = [40, 10, -18] --> age = 40
[2019, 12, 2] - [1983, 6, 27] = [36, 6, -25] --> age = 36
Detecting duplicates based on names...
Found 50 duplicates, merging them...

Merging 2 rows of name Maurice Riley...
name ['Maurice Riley', 'Maurice Riley'] --> ['Maurice Riley']
address ['58487 Schneider Street\r\nGriffinfurt, RI 56689', '58487 Schneider Street\r\nGriffinfurt, RI 56689'] --> ['58487 Schneider Street\r\nGriffinfurt, RI 56689']
race ['White', 'White'] --> ['White']
marital-status ['Divorced', 'Divorced'] --> ['Divorced']
occupation ['Machine-op-inspct', 'Machine-op-inspct'] --> ['Machine-op-inspct']
pregnant ['f', 'f'] --> ['f']
education-num [9.0, 9.0] --> [9.0]
relationship ['Own-child', nan] --> ['Own-child']
skewness_glucose [0.220758964, 0.220758964] --> [0.220758964]
mean_glucose [121.0234375, 121.0234375] --> [121.0234375]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [0.311997839, 0.311997839] --> [0.311997839]
education [nan, 'HS-grad'] --> ['HS-grad']
fnlwgt [199816.0, 199816.0] --> [199816.0]
class [0.0, 0.0] --> [0.0]
std_glucose [-4594.807954, -4594.807954] --> [-4594.807954]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country [nan, 'United-States'] --> ['United-States']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [0.0, nan] --> [0.0]
workclass [nan, 'Private'] --> ['Private']
mean_oxygen [0.0, 2.526755853] --> [2.526755853]
std_oxygen [0.0, 14.28771907] --> [14.28771907]
kurtosis_oxygen [0.0, 8.427850384] --> [8.427850384]
skewness_oxygen [0.0, 100.9300203] --> [100.9300203]

Merging 2 rows of name Raymundo Marceau...
name ['Raymundo Marceau', 'Raymundo Marceau'] --> ['Raymundo Marceau']
address ['993 Heather View\r\nCarolynhaven, UT 99182', '993 Heather View\r\nCarolynhaven, UT 99182'] --> ['993 Heather View\r\nCarolynhaven, UT 99182']
race [nan, 'White'] --> ['White']
marital-status ['Never-married', 'Never-married'] --> ['Never-married']
occupation [nan, 'Adm-clerical'] --> ['Adm-clerical']
pregnant ['f', 'f'] --> ['f']
education-num [nan, 9.0] --> [9.0]
relationship ['Own-child', 'Own-child'] --> ['Own-child']
skewness_glucose [0.9128628, 0.9128628] --> [0.9128628]
mean_glucose [89.9609375, 89.9609375] --> [89.9609375]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [0.69710048, 0.69710048] --> [0.69710048]
education ['HS-grad', 'HS-grad'] --> ['HS-grad']
fnlwgt [161063.0, 161063.0] --> [161063.0]
class [0.0, 0.0] --> [0.0]
std_glucose [45.06009916, 45.06009916] --> [45.06009916]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country [nan, 'United-States'] --> ['United-States']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [2.034280936, 2.034280936] --> [2.034280936]
std_oxygen [15.26082034, 15.26082034] --> [15.26082034]
kurtosis_oxygen [9.965459227, 9.965459227] --> [9.965459227]
skewness_oxygen [116.5456637, 116.5456637] --> [116.5456637]

Merging 2 rows of name Jackson Moorehouse...
name ['Jackson Moorehouse', 'Jackson Moorehouse'] --> ['Jackson Moorehouse']
address ['621 William Skyway\r\nPort Mark, LA 44554', '621 William Skyway\r\nPort Mark, LA 44554'] --> ['621 William Skyway\r\nPort Mark, LA 44554']
race ['White', 'White'] --> ['White']
marital-status [nan, 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Adm-clerical', 'Adm-clerical'] --> ['Adm-clerical']
pregnant ['f', nan] --> ['f']
education-num [13.0, nan] --> [13.0]
relationship ['Husband', 'Husband'] --> ['Husband']
skewness_glucose [0.251592504, 0.251592504] --> [0.251592504]
mean_glucose [116.2890625, 116.2890625] --> [116.2890625]
capital-gain [5178.0, 5178.0] --> [5178.0]
kurtosis_glucose [0.293090485, 0.293090485] --> [0.293090485]
education [nan, 'Bachelors'] --> ['Bachelors']
fnlwgt [176814.0, 176814.0] --> [176814.0]
class [0.0, 0.0] --> [0.0]
std_glucose [5004.234962, 5004.234962] --> [5004.234962]
income ['>50K', '>50K'] --> ['>50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [40.0, nan] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [2.581103679, 2.581103679] --> [2.581103679]
std_oxygen [16.575940900000006, 16.575940900000006] --> [16.575940900000006]
kurtosis_oxygen [8.850970509, 8.850970509] --> [8.850970509]
skewness_oxygen [92.53187169, 92.53187169] --> [92.53187169]

Merging 2 rows of name Adam Perry...
name ['Adam Perry', 'Adam Perry'] --> ['Adam Perry']
address ['02726 Hale Lane\r\nLynchmouth, HI 33466', '02726 Hale Lane\r\nLynchmouth, HI 33466'] --> ['02726 Hale Lane\r\nLynchmouth, HI 33466']
race ['White', 'White'] --> ['White']
marital-status ['Widowed', 'Widowed'] --> ['Widowed']
occupation ['Adm-clerical', 'Adm-clerical'] --> ['Adm-clerical']
pregnant ['f', 'f'] --> ['f']
education-num [10.0, 10.0] --> [10.0]
relationship ['Unmarried', 'Unmarried'] --> ['Unmarried']
skewness_glucose [18.53141618, nan] --> [18.53141618]
mean_glucose [21.015625, 21.015625] --> [21.015625]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [4.452062155, nan] --> [4.452062155]
education ['Some-college', 'Some-college'] --> ['Some-college']
fnlwgt [156089.0, 156089.0] --> [156089.0]
class [1.0, 1.0] --> [1.0]
std_glucose [45.07406828, 45.07406828] --> [45.07406828]
income ['<=50K', nan] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', nan] --> ['Private']
mean_oxygen [121.30602009999998, 0.0] --> [121.30602009999998]
std_oxygen [67.25000775, 0.0] --> [67.25000775]
kurtosis_oxygen [-0.014069783999999998, 0.0] --> [-0.014069783999999998]
skewness_oxygen [-0.8117794429999999, 0.0] --> [-0.8117794429999999]

Merging 2 rows of name Michael Atchison...
name ['Michael Atchison', 'Michael Atchison'] --> ['Michael Atchison']
address ['4214 Kim Path\r\nLake Crystalstad, PA 11945', '4214 Kim Path\r\nLake Crystalstad, PA 11945'] --> ['4214 Kim Path\r\nLake Crystalstad, PA 11945']
race [nan, 'White'] --> ['White']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Sales', 'Sales'] --> ['Sales']
pregnant ['f', 'f'] --> ['f']
education-num [13.0, nan] --> [13.0]
relationship ['Husband', 'Husband'] --> ['Husband']
skewness_glucose [0.765885591, 0.765885591] --> [0.765885591]
mean_glucose [125.7578125, 125.7578125] --> [125.7578125]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [nan, 0.062112591] --> [0.062112591]
education ['Bachelors', 'Bachelors'] --> ['Bachelors']
fnlwgt [198223.0, 198223.0] --> [198223.0]
class [nan, 0.0] --> [0.0]
std_glucose [43.97526757, 43.97526757] --> [43.97526757]
income [nan, '>50K'] --> ['>50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [45.0, 45.0] --> [45.0]
capital-loss [1902.0, 1902.0] --> [1902.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [0.0, 2.956521739] --> [2.956521739]
std_oxygen [0.0, 15.09462182] --> [15.09462182]
kurtosis_oxygen [0.0, 7.916994533] --> [7.916994533]
skewness_oxygen [0.0, 87.67514097] --> [87.67514097]

Merging 2 rows of name Thomas Porter...
name ['Thomas Porter', 'Thomas Porter'] --> ['Thomas Porter']
address ['930 Calvin Highway Suite 062\r\nEast Samuel, HI 21245', '930 Calvin Highway Suite 062\r\nEast Samuel, HI 21245'] --> ['930 Calvin Highway Suite 062\r\nEast Samuel, HI 21245']
race ['White', nan] --> ['White']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Machine-op-inspct', 'Machine-op-inspct'] --> ['Machine-op-inspct']
pregnant ['f', 'f'] --> ['f']
education-num [9.0, 9.0] --> [9.0]
relationship ['Husband', 'Husband'] --> ['Husband']
skewness_glucose [-0.774892751, nan] --> [-0.774892751]
mean_glucose [147.5, 147.5] --> [147.5]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [-0.30567424, -0.30567424] --> [-0.30567424]
education ['HS-grad', 'HS-grad'] --> ['HS-grad']
fnlwgt [192588.0, 192588.0] --> [192588.0]
class [0.0, 0.0] --> [0.0]
std_glucose [61.31565359, 61.31565359] --> [61.31565359]
income [nan, nan] --> [nan]
native-country ['United-States', nan] --> ['United-States']

hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass [nan, 'Private'] --> ['Private']
mean_oxygen [91.55183946, 91.55183946] --> [91.55183946]
std_oxygen [102.500925, 102.500925] --> [102.500925]
kurtosis_oxygen [0.330277214, 0.330277214] --> [0.330277214]
skewness_oxygen [-1.784581873, -1.784581873] --> [-1.784581873]

Merging 2 rows of name Michael Barnum...
name ['Michael Barnum', 'Michael Barnum'] --> ['Michael Barnum']
address ['9740 Joshua Roads\r\nVazquezmouth, TN 15386', '9740 Joshua Roads\r\nVazquezmouth, TN 15386'] --> ['9740 Joshua Roads\r\nVazquezmouth, TN 15386']
race ['White', nan] --> ['White']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Exec-managerial', 'Exec-managerial'] --> ['Exec-managerial']
pregnant ['f', 'f'] --> ['f']
education-num [9.0, nan] --> [9.0]
relationship ['Husband', 'Husband'] --> ['Husband']
skewness_glucose [0.796409978, 0.796409978] --> [0.796409978]
mean_glucose [136.875, 136.875] --> [136.875]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [-0.044242101, -0.044242101] --> [-0.044242101]
education ['HS-grad', 'HS-grad'] --> ['HS-grad']
fnlwgt [223327.0, 223327.0] --> [223327.0]
class [0.0, nan] --> [0.0]
std_glucose [40.81360067, 40.81360067] --> [40.81360067]
income ['>50K', '>50K'] --> ['>50K']
native-country ['United-States', nan] --> ['United-States']
hours-per-week [40.0, nan] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [1.180602007, 0.0] --> [1.180602007]
std_oxygen [13.925596300000002, 0.0] --> [13.925596300000002]
kurtosis_oxygen [13.89251477, 0.0] --> [13.89251477]
skewness_oxygen [209.9093542, 0.0] --> [209.9093542]

Merging 2 rows of name Raul Vernon...
name ['Raul Vernon', 'Raul Vernon'] --> ['Raul Vernon']
address ['198 Wright Street Suite 397\r\nWendyshire, TN 04059', '198 Wright Street Suite 397\r\nWendyshire, TN 04059'] --> ['198 Wright Street Suite 397\r\nWendyshire, TN 04059']
race [nan, 'Black'] --> ['Black']
marital-status ['Never-married', 'Never-married'] --> ['Never-married']
occupation ['Machine-op-inspct', nan] --> ['Machine-op-inspct']
pregnant ['f', 'f'] --> ['f']
education-num [9.0, 9.0] --> [9.0]
relationship ['Not-in-family', 'Not-in-family'] --> ['Not-in-family']
skewness_glucose [0.466079669, nan] --> [0.466079669]
mean_glucose [89.6875, 89.6875] --> [89.6875]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [0.437277565, 0.437277565] --> [0.437277565]
education ['HS-grad', 'HS-grad'] --> ['HS-grad']
fnlwgt [221447.0, nan] --> [221447.0]
class [0.0, 0.0] --> [0.0]
std_glucose [43.50211022, nan] --> [43.50211022]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['United-States', nan] --> ['United-States']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [5.973244147000001, 5.973244147000001] --> [5.973244147000001]
std_oxygen [31.32576626, 31.32576626] --> [31.32576626]
kurtosis_oxygen [5.831691247, 5.831691247] --> [5.831691247]
skewness_oxygen [34.73560627, 34.73560627] --> [34.73560627]

Merging 2 rows of name William Valdez...
name ['William Valdez', 'William Valdez'] --> ['William Valdez']
address ['51548 John Branch\r\nEast Zacharyberg, AZ 21129', '51548 John Branch\r\nEast Zacharyberg, AZ 21129'] --> ['51548 John Branch\r\nEast Zacharyberg, AZ 21129']
race ['White', 'White'] --> ['White']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Exec-managerial', 'Exec-managerial'] --> ['Exec-managerial']
pregnant ['f', 'f'] --> ['f']
education-num [9.0, 9.0] --> [9.0]
relationship [nan, 'Husband'] --> ['Husband']
skewness_glucose [0.28442479800000003, 0.28442479800000003] --> [0.28442479800000003]
mean_glucose [100.921875, nan] --> [100.921875]
capital-gain [0.0, nan] --> [0.0]
kurtosis_glucose [0.330426798, 0.330426798] --> [0.330426798]
education [nan, 'HS-grad'] --> ['HS-grad']
fnlwgt [165667.0, 165667.0] --> [165667.0]
class [0.0, 0.0] --> [0.0]
std_glucose [44.13165838, nan] --> [44.13165838]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Self-emp-inc', 'Self-emp-inc'] --> ['Self-emp-inc']
mean_oxygen [0.0, 6.505016722000001] --> [6.505016722000001]
std_oxygen [0.0, 31.94852373] --> [31.94852373]
kurtosis_oxygen [0.0, 5.2170482730000005] --> [5.2170482730000005]
skewness_oxygen [0.0, 27.27336922] --> [27.27336922]

Merging 2 rows of name David Amaya...
name ['David Amaya', 'David Amaya'] --> ['David Amaya']
address ['4394 Rebecca Extension Suite 442\r\nNorth Jessicaborough, TX 66714', '4394 Rebecca Extension Suite 442\r\nNorth Jessicaborough, TX 66714'] --> ['4394 Rebecca Extension Suite 442\r\nNorth Jessicaborough, TX 66714']
race ['White', 'White'] --> ['White']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Craft-repair', nan] --> ['Craft-repair']
pregnant ['f', 'f'] --> ['f']
education-num [nan, 9.0] --> [9.0]
relationship ['Husband', 'Husband'] --> ['Husband']
skewness_glucose [-0.7243369820000001, -0.7243369820000001] --> [-0.7243369820000001]
mean_glucose [130.3828125, 130.3828125] --> [130.3828125]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [nan, 0.099512815] --> [0.099512815]
education ['HS-grad', 'HS-grad'] --> ['HS-grad']
fnlwgt [207668.0, 207668.0] --> [207668.0]
class [nan, 0.0] --> [0.0]
std_glucose [51.44522589, 51.44522589] --> [51.44522589]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [50.0, 50.0] --> [50.0]
capital-loss [nan, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [0.0, 2.843645485] --> [2.843645485]
std_oxygen [0.0, 20.99095524] --> [20.99095524]
kurtosis_oxygen [0.0, 8.237226935] --> [8.237226935]
skewness_oxygen [0.0, 72.26463286] --> [72.26463286]

Merging 2 rows of name Anthony Sauer...
name ['Anthony Sauer', 'Anthony Sauer'] --> ['Anthony Sauer']
address ['29005 Gonzalez Drive\r\nJuanbury, MN 72336', '29005 Gonzalez Drive\r\nJuanbury, MN 72336'] --> ['29005 Gonzalez Drive\r\nJuanbury, MN 72336']
race ['White', 'White'] --> ['White']
marital-status [nan, 'Never-married'] --> ['Never-married']
occupation ['Farming-fishing', 'Farming-fishing'] --> ['Farming-fishing']
pregnant ['f', 'f'] --> ['f']
education-num [10.0, 10.0] --> [10.0]
relationship ['Own-child', 'Own-child'] --> ['Own-child']
skewness_glucose [12.39396866, 12.39396866] --> [12.39396866]
mean_glucose [66.78125, 66.78125] --> [66.78125]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [2.623626489, 2.623626489] --> [2.623626489]
education [nan, 'Some-college'] --> ['Some-college']
fnlwgt [25631.0, 25631.0] --> [25631.0]
class [1.0, nan] --> [1.0]
std_glucose [nan, nan] --> [nan]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['United-States', nan] --> ['United-States']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Self-emp-not-inc', nan] --> ['Self-emp-not-inc']
mean_oxygen [14.80852843, 0.0] --> [14.80852843]
std_oxygen [46.38263458, 0.0] --> [46.38263458]
kurtosis_oxygen [3.617249692, 0.0] --> [3.617249692]
skewness_oxygen [12.61488438, 0.0] --> [12.61488438]

Merging 2 rows of name Richard Stokes...
name ['Richard Stokes', 'Richard Stokes'] --> ['Richard Stokes']
address ['PSC 6026, Box 2244\r\nAPO AA 76838', 'PSC 6026, Box 2244\r\nAPO AA 76838'] --> ['PSC 6026, Box 2244\r\nAPO AA 76838']
race [nan, 'Black'] --> ['Black']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Protective-serv', 'Protective-serv'] --> ['Protective-serv']
pregnant ['f', 'f'] --> ['f']
education-num [nan, 13.0] --> [13.0]
relationship ['Husband', 'Husband'] --> ['Husband']
skewness_glucose [nan, -0.359567906] --> [-0.359567906]
mean_glucose [124.2421875, 124.2421875] --> [124.2421875]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [0.115073981, 0.115073981] --> [0.115073981]
education ['Bachelors', 'Bachelors'] --> ['Bachelors']
fnlwgt [247205.0, 247205.0] --> [247205.0]
class [0.0, 0.0] --> [0.0]
std_glucose [51.61133991, 51.61133991] --> [51.61133991]
income [nan, '<=50K'] --> ['<=50K']
native-country ['England', 'England'] --> ['England']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [0.0, 4.122909699] --> [4.122909699]
std_oxygen [0.0, 23.74433452] --> [23.74433452]
kurtosis_oxygen [0.0, 6.826181114] --> [6.826181114]
skewness_oxygen [0.0, 51.37034912] --> [51.37034912]

Merging 2 rows of name Mike Rm...
name ['Mike Rm', 'Mike Rm'] --> ['Mike Rm']
address ['8317 Sarah Streets Apt. 987\r\nWrighttown, NY 94031', '8317 Sarah Streets Apt. 987\r\nWrighttown, NY 94031'] --> ['8317 Sarah Streets Apt. 987\r\nWrighttown, NY 94031']
race ['Other', nan] --> ['Other']
marital-status ['Divorced', 'Divorced'] --> ['Divorced']
occupation ['Craft-repair', 'Craft-repair'] --> ['Craft-repair']
pregnant ['f', nan] --> ['f']
education-num [9.0, 9.0] --> [9.0]
relationship ['Not-in-family', nan] --> ['Not-in-family']
skewness_glucose [0.45914166, nan] --> [0.45914166]
mean_glucose [137.0078125, 137.0078125] --> [137.0078125]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [-0.1151464, -0.1151464] --> [-0.1151464]
education ['HS-grad', 'HS-grad'] --> ['HS-grad']
fnlwgt [228723.0, 228723.0] --> [228723.0]
class [0.0, 0.0] --> [0.0]
std_glucose [41.42585547, 41.42585547] --> [41.42585547]
income ['>50K', '>50K'] --> ['>50K']
native-country ['?', nan] --> ['?']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Local-gov', nan] --> ['Local-gov']
mean_oxygen [1.429765886, 1.429765886] --> [1.429765886]
std_oxygen [11.30110467, 11.30110467] --> [11.30110467]
kurtosis_oxygen [13.02145739, 13.02145739] --> [13.02145739]
skewness_oxygen [234.077558, 234.077558] --> [234.077558]

Merging 2 rows of name Roy Wiederwax...
name ['Roy Wiederwax', 'Roy Wiederwax'] --> ['Roy Wiederwax']
address ['36618 Dawn Forks\r\nJosephmouth, ME 24976', '36618 Dawn Forks\r\nJosephmouth, ME 24976'] --> ['36618 Dawn Forks\r\nJosephmouth, ME 24976']
race ['White', 'White'] --> ['White']
marital-status ['Divorced', 'Divorced'] --> ['Divorced']
occupation ['Prof-specialty', 'Prof-specialty'] --> ['Prof-specialty']
pregnant ['f', 'f'] --> ['f']
education-num [15.0, 15.0] --> [15.0]
relationship ['Not-in-family', 'Not-in-family'] --> ['Not-in-family']
skewness_glucose [0.013982403, 0.013982403] --> [0.013982403]
mean_glucose [113.0, 113.0] --> [113.0]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [0.25406438, nan] --> [0.25406438]
education ['Prof-school', 'Prof-school'] --> ['Prof-school']
fnlwgt [66504.0, nan] --> [66504.0]
class [0.0, 0.0] --> [0.0]
std_glucose [52.7206672, 52.7206672] --> [52.7206672]
income ['>50K', nan] --> ['>50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [50.0, nan] --> [50.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Federal-gov', nan] --> ['Federal-gov']
mean_oxygen [2.987458194, 2.987458194] --> [2.987458194]
std_oxygen [18.92934433, 18.92934433] --> [18.92934433]
kurtosis_oxygen [8.020098696, 8.020098696] --> [8.020098696]
skewness_oxygen [73.22285347, 73.22285347] --> [73.22285347]

Merging 2 rows of name John Cuff...
name ['John Cuff', 'John Cuff'] --> ['John Cuff']
address ['87184 Jesus Pines Apt. 478\r\nEdwardtown, AK 57408', '87184 Jesus Pines Apt. 478\r\nEdwardtown, AK 57408'] --> ['87184 Jesus Pines Apt. 478\r\nEdwardtown, AK 57408']
race [nan, 'White'] --> ['White']
marital-status [nan, 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Other-service', 'Other-service'] --> ['Other-service']
pregnant ['f', 'f'] --> ['f']
education-num [nan, 7.0] --> [7.0]
relationship ['Wife', 'Wife'] --> ['Wife']
skewness_glucose [0.182466129, 0.182466129] --> [0.182466129]
mean_glucose [98.359375, 98.359375] --> [98.359375]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [0.5677573370000001, 0.5677573370000001] --> [0.5677573370000001]
education ['11th', '11th'] --> ['11th']
fnlwgt [194962.0, 194962.0] --> [194962.0]
class [nan, 0.0] --> [0.0]
std_glucose [46.30178425, 46.30178425] --> [46.30178425]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [nan, 6.0] --> [6.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [0.837792642, 0.837792642] --> [0.837792642]
std_oxygen [12.74730386, 12.74730386] --> [12.74730386]
kurtosis_oxygen [16.94832782, 16.94832782] --> [16.94832782]
skewness_oxygen [305.536961, 305.536961] --> [305.536961]

Merging 2 rows of name Jay Wells...
name ['Jay Wells', 'Jay Wells'] --> ['Jay Wells']
address ['063 Day Flats\r\nJudymouth, FL 61565', '063 Day Flats\r\nJudymouth, FL 61565'] --> ['063 Day Flats\r\nJudymouth, FL 61565']
race ['Black', 'Black'] --> ['Black']
marital-status [nan, 'Divorced'] --> ['Divorced']
occupation ['Other-service', 'Other-service'] --> ['Other-service']
pregnant [nan, nan] --> [nan]
education-num [11.0, 11.0] --> [11.0]
relationship ['Unmarried', nan] --> ['Unmarried']
skewness_glucose [0.060911664, 0.060911664] --> [0.060911664]
mean_glucose [106.71875, 106.71875] --> [106.71875]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [0.48313819, 0.48313819] --> [0.48313819]
education ['Assoc-voc', 'Assoc-voc'] --> ['Assoc-voc']
fnlwgt [211751.0, 211751.0] --> [211751.0]
class [1.0, 1.0] --> [1.0]
std_glucose [48.59991922, 48.59991922] --> [48.59991922]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [nan, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [0.0, 6.269230769] --> [6.269230769]
std_oxygen [0.0, 29.92992523] --> [29.92992523]
kurtosis_oxygen [0.0, 6.026227617999999] --> [6.026227617999999]
skewness_oxygen [0.0, 38.46886389] --> [38.46886389]

Merging 2 rows of name Frank Holland...
name ['Frank Holland', 'Frank Holland'] --> ['Frank Holland']
address ['0382 Smith Groves\r\nBriannafurt, OH 35432', '0382 Smith Groves\r\nBriannafurt, OH 35432'] --> ['0382 Smith Groves\r\nBriannafurt, OH 35432']
race ['White', 'White'] --> ['White']
marital-status ['Divorced', 'Divorced'] --> ['Divorced']
occupation ['Other-service', nan] --> ['Other-service']
pregnant [nan, 'FALSE'] --> ['FALSE']
education-num [9.0, 9.0] --> [9.0]
relationship ['Unmarried', 'Unmarried'] --> ['Unmarried']
skewness_glucose [0.899046895, 0.899046895] --> [0.899046895]
mean_glucose [95.5546875, 95.5546875] --> [95.5546875]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [0.547778175, 0.547778175] --> [0.547778175]
education ['HS-grad', 'HS-grad'] --> ['HS-grad']
fnlwgt [30063.0, 30063.0] --> [30063.0]
class [0.0, 0.0] --> [0.0]
std_glucose [43.76996127, 43.76996127] --> [43.76996127]
income [nan, '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [32.0, 32.0] --> [32.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [2.315217391, 2.315217391] --> [2.315217391]
std_oxygen [14.36097471, 14.36097471] --> [14.36097471]
kurtosis_oxygen [9.431659666, 9.431659666] --> [9.431659666]
skewness_oxygen [116.9497257, 116.9497257] --> [116.9497257]

Merging 2 rows of name Clark Smith...
name ['Clark Smith', 'Clark Smith'] --> ['Clark Smith']
address ['9472 Megan Forge\r\nNorth Selenaborough, NV 88450', '9472 Megan Forge\r\nNorth Selenaborough, NV 88450'] --> ['9472 Megan Forge\r\nNorth Selenaborough, NV 88450']
race ['White', nan] --> ['White']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['?', '?'] --> ['?']
pregnant ['f', 'f'] --> ['f']
education-num [13.0, 13.0] --> [13.0]
relationship ['Husband', 'Husband'] --> ['Husband']
skewness_glucose [5.185332343, 5.185332343] --> [5.185332343]
mean_glucose [90.3671875, nan] --> [90.3671875]
capital-gain [9386.0, 9386.0] --> [9386.0]
kurtosis_glucose [1.553546259, 1.553546259] --> [1.553546259]
education ['Bachelors', nan] --> ['Bachelors']
fnlwgt [35303.0, 35303.0] --> [35303.0]
class [1.0, 1.0] --> [1.0]
std_glucose [36.78566957, nan] --> [36.78566957]
income ['>50K', '>50K'] --> ['>50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [30.0, 30.0] --> [30.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['?', nan] --> ['?']
mean_oxygen [5.619565217000001, 5.619565217000001] --> [5.619565217000001]
std_oxygen [30.87884814, 30.87884814] --> [30.87884814]
kurtosis_oxygen [5.991010293, 5.991010293] --> [5.991010293]
skewness_oxygen [36.56053633, 36.56053633] --> [36.56053633]

Merging 2 rows of name James Limerick...

name ['James Limerick', 'James Limerick'] --> ['James Limerick']
address ['78039 Velez Streets\r\nNew Wendytown, CO 99241', '78039 Velez Streets\r\nNew Wendytown, CO 99241'] --> ['78039 Velez Streets\r\nNew Wendytown, CO 99241']
race ['Black', 'Black'] --> ['Black']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation [nan, 'Craft-repair'] --> ['Craft-repair']
pregnant ['f', 'f'] --> ['f']
education-num [10.0, 10.0] --> [10.0]
relationship ['Husband', 'Husband'] --> ['Husband']
skewness_glucose [0.210647601, 0.210647601] --> [0.210647601]
mean_glucose [126.8828125, 126.8828125] --> [126.8828125]
capital-gain [0.0, nan] --> [0.0]
kurtosis_glucose [0.046673846, nan] --> [0.046673846]
education ['Some-college', 'Some-college'] --> ['Some-college']
fnlwgt [178383.0, 178383.0] --> [178383.0]
class [0.0, 0.0] --> [0.0]
std_glucose [48.68402926, 48.68402926] --> [48.68402926]
income ['<=50K', nan] --> ['<=50K']
native-country ['United-States', nan] --> ['United-States']
hours-per-week [70.0, 70.0] --> [70.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Self-emp-inc', 'Self-emp-inc'] --> ['Self-emp-inc']
mean_oxygen [0.865384615, 0.0] --> [0.865384615]
std_oxygen [9.3767006, 0.0] --> [9.3767006]
kurtosis_oxygen [19.21055381, 0.0] --> [19.21055381]
skewness_oxygen [467.6307624, 0.0] --> [467.6307624]

Merging 2 rows of name Vincent Farmer...
name ['Vincent Farmer', 'Vincent Farmer'] --> ['Vincent Farmer']
address ['8178 Bell Passage\r\nNorth William, NE 41912', '8178 Bell Passage\r\nNorth William, NE 41912'] --> ['8178 Bell Passage\r\nNorth William, NE 41912']
race ['White', 'White'] --> ['White']
marital-status ['Never-married', 'Never-married'] --> ['Never-married']
occupation ['Prof-specialty', 'Prof-specialty'] --> ['Prof-specialty']
pregnant ['f', 'f'] --> ['f']
education-num [16.0, 16.0] --> [16.0]
relationship ['Not-in-family', 'Not-in-family'] --> ['Not-in-family']
skewness_glucose [nan, 0.5987826310000001] --> [0.5987826310000001]
mean_glucose [nan, 97.84375] --> [97.84375]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [0.499224287, 0.499224287] --> [0.499224287]
education ['Doctorate', 'Doctorate'] --> ['Doctorate']
fnlwgt [nan, 186385.0] --> [186385.0]
class [0.0, 0.0] --> [0.0]
std_glucose [nan, nan] --> [nan]
income [nan, '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [8.0, 8.0] --> [8.0]
capital-loss [nan, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [1.97993311, 1.97993311] --> [1.97993311]
std_oxygen [13.17953968, 13.17953968] --> [13.17953968]
kurtosis_oxygen [10.7578308, 10.7578308] --> [10.7578308]
skewness_oxygen [152.31530580000003, 152.31530580000003] --> [152.31530580000003]

Merging 2 rows of name Richard Keith...
name ['Richard Keith', 'Richard Keith'] --> ['Richard Keith']
address ['42463 Christina Run\r\nDanielmouth, WY 92187', '42463 Christina Run\r\nDanielmouth, WY 92187'] --> ['42463 Christina Run\r\nDanielmouth, WY 92187']
race [nan, 'White'] --> ['White']
marital-status ['Divorced', 'Divorced'] --> ['Divorced']
occupation ['Exec-managerial', 'Exec-managerial'] --> ['Exec-managerial']
pregnant ['f', 'f'] --> ['f']
education-num [11.0, 11.0] --> [11.0]
relationship ['Own-child', 'Own-child'] --> ['Own-child']
skewness_glucose [nan, -0.26160258] --> [-0.26160258]
mean_glucose [158.4296875, 158.4296875] --> [158.4296875]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [-0.283403937, -0.283403937] --> [-0.283403937]
education ['Assoc-voc', 'Assoc-voc'] --> ['Assoc-voc']
fnlwgt [282753.0, 282753.0] --> [282753.0]
class [0.0, 0.0] --> [0.0]
std_glucose [50.08019874, 50.08019874] --> [50.08019874]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country [nan, 'United-States'] --> ['United-States']
hours-per-week [nan, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Local-gov', 'Local-gov'] --> ['Local-gov']
mean_oxygen [4.919732441, 0.0] --> [4.919732441]
std_oxygen [27.85473988, 0.0] --> [27.85473988]
kurtosis_oxygen [5.9424108470000006, 0.0] --> [5.9424108470000006]
skewness_oxygen [35.41269686, 0.0] --> [35.41269686]

Merging 2 rows of name Darrell Dickey...
name ['Darrell Dickey', 'Darrell Dickey'] --> ['Darrell Dickey']
address ['8459 Johnny Port\r\nEast Angelica, NV 04193', '8459 Johnny Port\r\nEast Angelica, NV 04193'] --> ['8459 Johnny Port\r\nEast Angelica, NV 04193']
race ['White', 'White'] --> ['White']
marital-status [nan, 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Adm-clerical', 'Adm-clerical'] --> ['Adm-clerical']
pregnant ['f', 'f'] --> ['f']
education-num [9.0, 9.0] --> [9.0]
relationship ['Wife', 'Wife'] --> ['Wife']
skewness_glucose [-0.365369513, -0.365369513] --> [-0.365369513]
mean_glucose [nan, nan] --> [nan]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [0.002098728, 0.002098728] --> [0.002098728]
education ['HS-grad', 'HS-grad'] --> ['HS-grad']
fnlwgt [175821.0, 175821.0] --> [175821.0]
class [0.0, 0.0] --> [0.0]
std_glucose [5143.1044550000015, 5143.1044550000015] --> [5143.1044550000015]
income [nan, '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [nan, 34.0] --> [34.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [4.759197324, 4.759197324] --> [4.759197324]
std_oxygen [23.95851782, 23.95851782] --> [23.95851782]
kurtosis_oxygen [6.209460367999999, 6.209460367999999] --> [6.209460367999999]
skewness_oxygen [43.0902091, 43.0902091] --> [43.0902091]

Merging 2 rows of name Willie Gerace...
name ['Willie Gerace', 'Willie Gerace'] --> ['Willie Gerace']
address ['Unit 0472 Box 3935\r\nDPO AA 56086', 'Unit 0472 Box 3935\r\nDPO AA 56086'] --> ['Unit 0472 Box 3935\r\nDPO AA 56086']
race ['White', 'White'] --> ['White']
marital-status ['Divorced', 'Divorced'] --> ['Divorced']
occupation [nan, 'Farming-fishing'] --> ['Farming-fishing']
pregnant ['f', 'f'] --> ['f']
education-num [9.0, nan] --> [9.0]
relationship ['Unmarried', 'Unmarried'] --> ['Unmarried']
skewness_glucose [0.120914904, 0.120914904] --> [0.120914904]
mean_glucose [129.296875, 129.296875] --> [129.296875]
capital-gain [0.0, nan] --> [0.0]
kurtosis_glucose [-0.036039663, -0.036039663] --> [-0.036039663]
education ['HS-grad', 'HS-grad'] --> ['HS-grad']
fnlwgt [33001.0, 33001.0] --> [33001.0]
class [0.0, nan] --> [0.0]
std_glucose [47.47093838, 47.47093838] --> [47.47093838]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country [nan, 'United-States'] --> ['United-States']
hours-per-week [50.0, nan] --> [50.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [2.046822742, 2.046822742] --> [2.046822742]
std_oxygen [12.98891275, 12.98891275] --> [12.98891275]
kurtosis_oxygen [10.21195546, 10.21195546] --> [10.21195546]
skewness_oxygen [145.74362680000004, 145.74362680000004] --> [145.74362680000004]

Merging 2 rows of name Napoleon Branner...
name ['Napoleon Branner', 'Napoleon Branner'] --> ['Napoleon Branner']
address ['0837 Adams Prairie Suite 170\r\nNorth Jessicabury, CT 17631', '0837 Adams Prairie Suite 170\r\nNorth Jessicabury, CT 17631'] --> ['0837 Adams Prairie Suite 170\r\nNorth Jessicabury, CT 17631']
race ['White', 'White'] --> ['White']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation [nan, 'Transport-moving'] --> ['Transport-moving']
pregnant ['f', 'f'] --> ['f']
education-num [10.0, 10.0] --> [10.0]
relationship ['Husband', 'Husband'] --> ['Husband']
skewness_glucose [5.474289821, 5.474289821] --> [5.474289821]
mean_glucose [nan, 75.53125] --> [75.53125]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [1.80386797, 1.80386797] --> [1.80386797]
education ['Some-college', nan] --> ['Some-college']
fnlwgt [nan, 210525.0] --> [210525.0]
class [1.0, 1.0] --> [1.0]
std_glucose [38.67067233, 38.67067233] --> [38.67067233]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [nan, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [0.0, 21.51839465] --> [21.51839465]
std_oxygen [0.0, 54.84521085] --> [54.84521085]
kurtosis_oxygen [0.0, 2.694580166] --> [2.694580166]
skewness_oxygen [0.0, 6.3625074] --> [6.3625074]

Merging 2 rows of name Wallace Street...
name ['Wallace Street', 'Wallace Street'] --> ['Wallace Street']
address ['9909 John Creek\r\nEast Heather, NY 31266', '9909 John Creek\r\nEast Heather, NY 31266'] --> ['9909 John Creek\r\nEast Heather, NY 31266']
race ['Black', nan] --> ['Black']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Handlers-cleaners', 'Handlers-cleaners'] --> ['Handlers-cleaners']
pregnant ['f', 'f'] --> ['f']
education-num [10.0, 10.0] --> [10.0]
relationship ['Husband', 'Husband'] --> ['Husband']
skewness_glucose [-0.25225520100000004, -0.25225520100000004] --> [-0.25225520100000004]
mean_glucose [140.515625, 140.515625] --> [140.515625]
capital-gain [nan, 7298.0] --> [7298.0]
kurtosis_glucose [0.032943787, 0.032943787] --> [0.032943787]
education ['Some-college', nan] --> ['Some-college']
fnlwgt [189824.0, 189824.0] --> [189824.0]
class [nan, nan] --> [nan]
std_glucose [47.35536935, 47.35536935] --> [47.35536935]
income ['>50K', '>50K'] --> ['>50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Local-gov', 'Local-gov'] --> ['Local-gov']
mean_oxygen [3.772575251, 3.772575251] --> [3.772575251]
std_oxygen [19.14934573, 19.14934573] --> [19.14934573]
kurtosis_oxygen [6.289634408, 6.289634408] --> [6.289634408]
skewness_oxygen [47.73565619, 47.73565619] --> [47.73565619]

Merging 2 rows of name Luis Coulter...
name ['Luis Coulter', 'Luis Coulter'] --> ['Luis Coulter']
address ['238 Mark Vista Apt. 619\r\nPeckborough, MA 30987', '238 Mark Vista Apt. 619\r\nPeckborough, MA 30987'] --> ['238 Mark Vista Apt. 619\r\nPeckborough, MA 30987']
race ['White', 'White'] --> ['White']
marital-status ['Widowed', 'Widowed'] --> ['Widowed']
occupation ['Exec-managerial', 'Exec-managerial'] --> ['Exec-managerial']
pregnant ['f', nan] --> ['f']
education-num [13.0, nan] --> [13.0]
relationship [nan, 'Not-in-family'] --> ['Not-in-family']
skewness_glucose [0.93674104, 0.93674104] --> [0.93674104]
mean_glucose [129.671875, 129.671875] --> [129.671875]
capital-gain [10520.0, 10520.0] --> [10520.0]
kurtosis_glucose [0.330588431, 0.330588431] --> [0.330588431]
education ['Bachelors', 'Bachelors'] --> ['Bachelors']
fnlwgt [103344.0, nan] --> [103344.0]
class [0.0, 0.0] --> [0.0]
std_glucose [42.73137558, nan] --> [42.73137558]
income ['>50K', nan] --> ['>50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [50.0, 50.0] --> [50.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [1.876254181, 1.876254181] --> [1.876254181]
std_oxygen [11.88946041, 11.88946041] --> [11.88946041]
kurtosis_oxygen [11.82308563, 11.82308563] --> [11.82308563]
skewness_oxygen [199.969665, 199.969665] --> [199.969665]

Merging 2 rows of name Wesley Srey...
name ['Wesley Srey', 'Wesley Srey'] --> ['Wesley Srey']
address ['2824 Lisa Keys Apt. 217\r\nWest Savannah, AZ 38232', '2824 Lisa Keys Apt. 217\r\nWest Savannah, AZ 38232'] --> ['2824 Lisa Keys Apt. 217\r\nWest Savannah, AZ 38232']
race ['White', 'White'] --> ['White']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Handlers-cleaners', 'Handlers-cleaners'] --> ['Handlers-cleaners']
pregnant [nan, 'f'] --> ['f']
education-num [9.0, 9.0] --> [9.0]
relationship ['Husband', nan] --> ['Husband']
skewness_glucose [-0.5641410570000001, -0.5641410570000001] --> [-0.5641410570000001]
mean_glucose [120.9140625, 120.9140625] --> [120.9140625]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [-0.039545841, -0.039545841] --> [-0.039545841]
education ['HS-grad', 'HS-grad'] --> ['HS-grad']
fnlwgt [208249.0, 208249.0] --> [208249.0]
class [nan, 0.0] --> [0.0]
std_glucose [54.85022609, 54.85022609] --> [54.85022609]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [nan, 62.0] --> [62.0]
capital-loss [nan, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [11.44230769, 11.44230769] --> [11.44230769]
std_oxygen [43.47573632, 43.47573632] --> [43.47573632]
kurtosis_oxygen [3.76497994, 3.76497994] --> [3.76497994]
skewness_oxygen [12.96997299, 12.96997299] --> [12.96997299]

Merging 2 rows of name Alex Williams...
name ['Alex Williams', 'Alex Williams'] --> ['Alex Williams']
address ['19143 Alexander Inlet\r\nKimside, VA 59139', '19143 Alexander Inlet\r\nKimside, VA 59139'] --> ['19143 Alexander Inlet\r\nKimside, VA 59139']
race ['Asian-Pac-Islander', 'Asian-Pac-Islander'] --> ['Asian-Pac-Islander']
marital-status [nan, 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Craft-repair', 'Craft-repair'] --> ['Craft-repair']
pregnant ['f', 'f'] --> ['f']
education-num [11.0, 11.0] --> [11.0]
relationship ['Husband', 'Husband'] --> ['Husband']
skewness_glucose [0.263671669, 0.263671669] --> [0.263671669]
mean_glucose [147.8828125, 147.8828125] --> [147.8828125]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [-0.202439907, -0.202439907] --> [-0.202439907]
education ['Assoc-voc', nan] --> ['Assoc-voc']
fnlwgt [105586.0, 105586.0] --> [105586.0]
class [0.0, 0.0] --> [0.0]
std_glucose [48.16842539, nan] --> [48.16842539]
income ['>50K', nan] --> ['>50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Federal-gov', nan] --> ['Federal-gov']
mean_oxygen [2.658862876, 2.658862876] --> [2.658862876]
std_oxygen [15.61168673, 15.61168673] --> [15.61168673]
kurtosis_oxygen [9.055379919, 9.055379919] --> [9.055379919]
skewness_oxygen [106.1480213, 106.1480213] --> [106.1480213]

Merging 2 rows of name Gary High...
name ['Gary High', 'Gary High'] --> ['Gary High']
address ['117 Buckley Stravenue\r\nNorth Nicole, PA 59310', '117 Buckley Stravenue\r\nNorth Nicole, PA 59310'] --> ['117 Buckley Stravenue\r\nNorth Nicole, PA 59310']
race [nan, nan] --> [nan]
marital-status ['Divorced', nan] --> ['Divorced']
occupation ['Other-service', 'Other-service'] --> ['Other-service']
pregnant ['f', 'f'] --> ['f']
education-num [7.0, 7.0] --> [7.0]
relationship ['Unmarried', nan] --> ['Unmarried']
skewness_glucose [30.67276779, 30.67276779] --> [30.67276779]
mean_glucose [28.4296875, 28.4296875] --> [28.4296875]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [5.307001514, 5.307001514] --> [5.307001514]
education ['11th', '11th'] --> ['11th']
fnlwgt [103529.0, 103529.0] --> [103529.0]
class [1.0, 1.0] --> [1.0]
std_glucose [33.72816043, 33.72816043] --> [33.72816043]
income ['<=50K', nan] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [30.0, nan] --> [30.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [139.5928094, 139.5928094] --> [139.5928094]
std_oxygen [80.98272194, 80.98272194] --> [80.98272194]
kurtosis_oxygen [-0.239599914, -0.239599914] --> [-0.239599914]
skewness_oxygen [-1.28907553, -1.28907553] --> [-1.28907553]

Merging 2 rows of name Mark Partridge...
name ['Mark Partridge', 'Mark Partridge'] --> ['Mark Partridge']
address ['6877 Ortiz Garden\r\nLongborough, IN 76941', '6877 Ortiz Garden\r\nLongborough, IN 76941'] --> ['6877 Ortiz Garden\r\nLongborough, IN 76941']
race ['White', nan] --> ['White']
marital-status ['Never-married', 'Never-married'] --> ['Never-married']
occupation ['Handlers-cleaners', 'Handlers-cleaners'] --> ['Handlers-cleaners']
pregnant ['f', 'f'] --> ['f']
education-num [9.0, nan] --> [9.0]
relationship ['Own-child', nan] --> ['Own-child']
skewness_glucose [5.55712166, 5.55712166] --> [5.55712166]
mean_glucose [72.0546875, 72.0546875] --> [72.0546875]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [1.6491534230000002, nan] --> [1.6491534230000002]
education ['HS-grad', 'HS-grad'] --> ['HS-grad']
fnlwgt [181666.0, 181666.0] --> [181666.0]
class [1.0, 1.0] --> [1.0]
std_glucose [37.43396448, 37.43396448] --> [37.43396448]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [0.0, nan] --> [0.0]
workclass ['Private', nan] --> ['Private']
mean_oxygen [12.61622074, 12.61622074] --> [12.61622074]
std_oxygen [42.82000171, 42.82000171] --> [42.82000171]
kurtosis_oxygen [3.663286652, 3.663286652] --> [3.663286652]
skewness_oxygen [13.10299744, 13.10299744] --> [13.10299744]

Merging 2 rows of name Thaddeus Mackerl...
name ['Thaddeus Mackerl', 'Thaddeus Mackerl'] --> ['Thaddeus Mackerl']
address ['8122 Jessica Knolls Apt. 880\r\nDakotafurt, WV 62098', '8122 Jessica Knolls Apt. 880\r\nDakotafurt, WV 62098'] --> ['8122 Jessica Knolls Apt. 880\r\nDakotafurt, WV 62098']
race ['White', 'White'] --> ['White']
marital-status ['Widowed', 'Widowed'] --> ['Widowed']
occupation ['Craft-repair', 'Craft-repair'] --> ['Craft-repair']
pregnant ['f', nan] --> ['f']
education-num [9.0, 9.0] --> [9.0]
relationship [nan, 'Not-in-family'] --> ['Not-in-family']
skewness_glucose [0.6895578590000001, 0.6895578590000001] --> [0.6895578590000001]
mean_glucose [99.0078125, nan] --> [99.0078125]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [0.4012531070000001, 0.4012531070000001] --> [0.4012531070000001]
education ['HS-grad', nan] --> ['HS-grad']
fnlwgt [73309.0, 73309.0] --> [73309.0]
class [0.0, 0.0] --> [0.0]
std_glucose [44.00647965, 44.00647965] --> [44.00647965]
income ['>50K', '>50K'] --> ['>50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [55.0, nan] --> [55.0]
capital-loss [0.0, nan] --> [0.0]
workclass ['Self-emp-not-inc', 'Self-emp-not-inc'] --> ['Self-emp-not-inc']
mean_oxygen [1.5802675590000002, 1.5802675590000002] --> [1.5802675590000002]
std_oxygen [13.40110857, 13.40110857] --> [13.40110857]
kurtosis_oxygen [12.54548732, 12.54548732] --> [12.54548732]
skewness_oxygen [184.1413831, 184.1413831] --> [184.1413831]

Merging 2 rows of name Michael Kennedy...
name ['Michael Kennedy', 'Michael Kennedy'] --> ['Michael Kennedy']
address ['07750 Cody Heights Apt. 155\r\nBellside, ME 13593', '07750 Cody Heights Apt. 155\r\nBellside, ME 13593'] --> ['07750 Cody Heights Apt. 155\r\nBellside, ME 13593']
race [nan, 'Asian-Pac-Islander'] --> ['Asian-Pac-Islander']
marital-status [nan, 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Tech-support', 'Tech-support'] --> ['Tech-support']
pregnant ['f', 'f'] --> ['f']
education-num [14.0, 14.0] --> [14.0]
relationship ['Husband', 'Husband'] --> ['Husband']
skewness_glucose [0.08764916699999999, 0.08764916699999999] --> [0.08764916699999999]
mean_glucose [nan, 114.8515625] --> [114.8515625]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [0.14242548, 0.14242548] --> [0.14242548]
education ['Masters', 'Masters'] --> ['Masters']
fnlwgt [137354.0, 137354.0] --> [137354.0]
class [1.0, 1.0] --> [1.0]
std_glucose [4430.347931, 4430.347931] --> [4430.347931]
income ['>50K', '>50K'] --> ['>50K']
native-country [nan, 'Philippines'] --> ['Philippines']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [0.0, 3.16722408] --> [3.16722408]
std_oxygen [0.0, 22.30752972] --> [22.30752972]
kurtosis_oxygen [0.0, 7.591025041] --> [7.591025041]
skewness_oxygen [0.0, 59.74558737] --> [59.74558737]

Merging 2 rows of name Allen Brickley...
name ['Allen Brickley', 'Allen Brickley'] --> ['Allen Brickley']
address ['58775 Thomas Mills Apt. 873\r\nLake Richardhaven, KY 78090', '58775 Thomas Mills Apt. 873\r\nLake Richardhaven, KY 78090'] --> ['58775 Thomas Mills Apt. 873\r\nLake Richardhaven, KY 78090']
race ['White', 'White'] --> ['White']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Other-service', 'Other-service'] --> ['Other-service']
pregnant [nan, 'f'] --> ['f']
education-num [9.0, nan] --> [9.0]
relationship ['Husband', 'Husband'] --> ['Husband']
skewness_glucose [5.954116332000001, 5.954116332000001] --> [5.954116332000001]
mean_glucose [76.046875, 76.046875] --> [76.046875]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [1.690227856, 1.690227856] --> [1.690227856]
education [nan, 'HS-grad'] --> ['HS-grad']
fnlwgt [211075.0, 211075.0] --> [211075.0]
class [1.0, 1.0] --> [1.0]
std_glucose [nan, nan] --> [nan]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country [nan, 'United-States'] --> ['United-States']
hours-per-week [30.0, 30.0] --> [30.0]
capital-loss [0.0, nan] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [4.638795987, 0.0] --> [4.638795987]
std_oxygen [29.66484975, 0.0] --> [29.66484975]
kurtosis_oxygen [6.654852618, 0.0] --> [6.654852618]
skewness_oxygen [44.1848469, 0.0] --> [44.1848469]

Merging 2 rows of name Dana Guajardo...
name ['Dana Guajardo', 'Dana Guajardo'] --> ['Dana Guajardo']
address ['04397 Jessica Burg\r\nLake Jamesberg, DC 18335', '04397 Jessica Burg\r\nLake Jamesberg, DC 18335'] --> ['04397 Jessica Burg\r\nLake Jamesberg, DC 18335']
race ['White', 'White'] --> ['White']
marital-status ['Divorced', nan] --> ['Divorced']
occupation ['Exec-managerial', 'Exec-managerial'] --> ['Exec-managerial']
pregnant ['f', 'f'] --> ['f']
education-num [9.0, 9.0] --> [9.0]
relationship ['Not-in-family', nan] --> ['Not-in-family']
skewness_glucose [1.69068874, 1.69068874] --> [1.69068874]
mean_glucose [110.6796875, 110.6796875] --> [110.6796875]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [0.459937078, 0.459937078] --> [0.459937078]
education ['HS-grad', 'HS-grad'] --> ['HS-grad']
fnlwgt [165799.0, 165799.0] --> [165799.0]
class [1.0, nan] --> [1.0]
std_glucose [38.25264157, nan] --> [38.25264157]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [60.0, nan] --> [60.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [4.434782609, 4.434782609] --> [4.434782609]
std_oxygen [22.20179407, 22.20179407] --> [22.20179407]
kurtosis_oxygen [5.93974728, 5.93974728] --> [5.93974728]
skewness_oxygen [39.7813741, 39.7813741] --> [39.7813741]

Merging 2 rows of name Chong Carter...
name ['Chong Carter', 'Chong Carter'] --> ['Chong Carter']
address ['90475 Chase Loaf Apt. 245\r\nNew Lindaberg, MD 66533', '90475 Chase Loaf Apt. 245\r\nNew Lindaberg, MD 66533'] --> ['90475 Chase Loaf Apt. 245\r\nNew Lindaberg, MD 66533']
race ['Black', 'Black'] --> ['Black']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Machine-op-inspct', 'Machine-op-inspct'] --> ['Machine-op-inspct']
pregnant ['f', 'f'] --> ['f']
education-num [9.0, 9.0] --> [9.0]
relationship ['Husband', 'Husband'] --> ['Husband']
skewness_glucose [0.409207335, nan] --> [0.409207335]
mean_glucose [103.734375, 103.734375] --> [103.734375]
capital-gain [3137.0, nan] --> [3137.0]
kurtosis_glucose [0.230930067, nan] --> [0.230930067]
education ['HS-grad', 'HS-grad'] --> ['HS-grad']
fnlwgt [282549.0, 282549.0] --> [282549.0]
class [0.0, 0.0] --> [0.0]
std_glucose [43.42045248, 43.42045248] --> [43.42045248]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [nan, 0.0] --> [0.0]
workclass [nan, 'Private'] --> ['Private']
mean_oxygen [4.1479933110000005, 4.1479933110000005] --> [4.1479933110000005]
std_oxygen [30.34785515, 30.34785515] --> [30.34785515]
kurtosis_oxygen [7.203474403, 7.203474403] --> [7.203474403]
skewness_oxygen [50.07591058, 50.07591058] --> [50.07591058]

Merging 2 rows of name Paul Bryan...
name ['Paul Bryan', 'Paul Bryan'] --> ['Paul Bryan']
address ['PSC 1041, Box 9128\r\nAPO AP 21712', 'PSC 1041, Box 9128\r\nAPO AP 21712'] --> ['PSC 1041, Box 9128\r\nAPO AP 21712']
race ['White', 'White'] --> ['White']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Craft-repair', 'Craft-repair'] --> ['Craft-repair']
pregnant ['f', 'f'] --> ['f']
education-num [6.0, 6.0] --> [6.0]
relationship ['Husband', 'Husband'] --> ['Husband']
skewness_glucose [11.13702041, 11.13702041] --> [11.13702041]
mean_glucose [51.078125, nan] --> [51.078125]
capital-gain [0.0, nan] --> [0.0]
kurtosis_glucose [2.444445348, 2.444445348] --> [2.444445348]
education ['10th', nan] --> ['10th']
fnlwgt [183892.0, nan] --> [183892.0]
class [1.0, 1.0] --> [1.0]
std_glucose [34.00795159, 34.00795159] --> [34.00795159]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [34.64548495, 34.64548495] --> [34.64548495]
std_oxygen [69.53253903, 69.53253903] --> [69.53253903]
kurtosis_oxygen [1.663044173, 1.663044173] --> [1.663044173]
skewness_oxygen [1.066220886, 1.066220886] --> [1.066220886]

Merging 2 rows of name Robert Shoemaker...
name ['Robert Shoemaker', 'Robert Shoemaker'] --> ['Robert Shoemaker']
address ['447 Barnes Square\r\nChristown, WI 65803', '447 Barnes Square\r\nChristown, WI 65803'] --> ['447 Barnes Square\r\nChristown, WI 65803']
race ['White', 'White'] --> ['White']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Sales', 'Sales'] --> ['Sales']
pregnant [nan, 'f'] --> ['f']
education-num [9.0, 9.0] --> [9.0]
relationship ['Husband', 'Husband'] --> ['Husband']
skewness_glucose [nan, -0.512645854] --> [-0.512645854]
mean_glucose [nan, 136.125] --> [136.125]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [-0.170726216, -0.170726216] --> [-0.170726216]
education ['HS-grad', 'HS-grad'] --> ['HS-grad']
fnlwgt [241895.0, 241895.0] --> [241895.0]
class [0.0, 0.0] --> [0.0]
std_glucose [52.70036172, 52.70036172] --> [52.70036172]
income [nan, '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [1628.0, 1628.0] --> [1628.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [0.0, 1.239130435] --> [1.239130435]
std_oxygen [0.0, 11.72552631] --> [11.72552631]
kurtosis_oxygen [0.0, 13.70876223] --> [13.70876223]
skewness_oxygen [0.0, 232.7005116] --> [232.7005116]

Merging 2 rows of name Bruce Daniels...
name ['Bruce Daniels', 'Bruce Daniels'] --> ['Bruce Daniels']
address ['0550 Edward Rue\r\nWatsonton, KS 63725', '0550 Edward Rue\r\nWatsonton, KS 63725'] --> ['0550 Edward Rue\r\nWatsonton, KS 63725']
race ['White', nan] --> ['White']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Prof-specialty', 'Prof-specialty'] --> ['Prof-specialty']
pregnant ['f', 'f'] --> ['f']
education-num [14.0, 14.0] --> [14.0]
relationship ['Husband', 'Husband'] --> ['Husband']
skewness_glucose [-0.098337696, nan] --> [-0.098337696]
mean_glucose [114.421875, nan] --> [114.421875]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [0.084368555, 0.084368555] --> [0.084368555]
education ['Masters', 'Masters'] --> ['Masters']
fnlwgt [167265.0, 167265.0] --> [167265.0]
class [0.0, nan] --> [0.0]
std_glucose [49.41353075, 49.41353075] --> [49.41353075]
income ['>50K', '>50K'] --> ['>50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [60.0, 60.0] --> [60.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['State-gov', 'State-gov'] --> ['State-gov']
mean_oxygen [2.397993311, 2.397993311] --> [2.397993311]
std_oxygen [14.629269099999998, 14.629269099999998] --> [14.629269099999998]
kurtosis_oxygen [8.826905692, 8.826905692] --> [8.826905692]
skewness_oxygen [102.7848295, 102.7848295] --> [102.7848295]

Merging 2 rows of name Edmund Watson...
name ['Edmund Watson', 'Edmund Watson'] --> ['Edmund Watson']
address ['4783 Julie Walk\r\nWilliamschester, CO 11012', '4783 Julie Walk\r\nWilliamschester, CO 11012'] --> ['4783 Julie Walk\r\nWilliamschester, CO 11012']
race ['White', 'White'] --> ['White']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation [nan, 'Exec-managerial'] --> ['Exec-managerial']
pregnant ['f', 'f'] --> ['f']
education-num [16.0, 16.0] --> [16.0]
relationship ['Husband', 'Husband'] --> ['Husband']
skewness_glucose [0.484807778, 0.484807778] --> [0.484807778]
mean_glucose [nan, 105.6484375] --> [105.6484375]
capital-gain [nan, 0.0] --> [0.0]
kurtosis_glucose [0.397426291, 0.397426291] --> [0.397426291]
education [nan, 'Doctorate'] --> ['Doctorate']
fnlwgt [50164.0, 50164.0] --> [50164.0]
class [nan, 0.0] --> [0.0]
std_glucose [45.77109996, 45.77109996] --> [45.77109996]
income ['>50K', '>50K'] --> ['>50K']
native-country [nan, 'United-States'] --> ['United-States']
hours-per-week [60.0, 60.0] --> [60.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [0.673913043, 0.673913043] --> [0.673913043]
std_oxygen [10.17788384, 10.17788384] --> [10.17788384]
kurtosis_oxygen [20.26470731, 20.26470731] --> [20.26470731]
skewness_oxygen [453.4714079, 453.4714079] --> [453.4714079]

Merging 2 rows of name Bobby Hawk...
name ['Bobby Hawk', 'Bobby Hawk'] --> ['Bobby Hawk']
address ['58166 Thomas Turnpike Suite 922\r\nMelissaburgh, MS 59207', '58166 Thomas Turnpike Suite 922\r\nMelissaburgh, MS 59207'] --> ['58166 Thomas Turnpike Suite 922\r\nMelissaburgh, MS 59207']
race ['White', 'White'] --> ['White']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Tech-support', 'Tech-support'] --> ['Tech-support']
pregnant ['f', 'f'] --> ['f']
education-num [nan, 12.0] --> [12.0]
relationship ['Wife', 'Wife'] --> ['Wife']
skewness_glucose [9.087356462999999, nan] --> [9.087356462999999]
mean_glucose [63.0859375, 63.0859375] --> [63.0859375]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [2.6948427880000003, 2.6948427880000003] --> [2.6948427880000003]
education [nan, 'Assoc-acdm'] --> ['Assoc-acdm']
fnlwgt [257302.0, 257302.0] --> [257302.0]
class [1.0, 1.0] --> [1.0]
std_glucose [39.57607929, 39.57607929] --> [39.57607929]
income ['<=50K', nan] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [38.0, 38.0] --> [38.0]
capital-loss [0.0, nan] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [0.0, 19.627090300000006] --> [19.627090300000006]
std_oxygen [0.0, 52.92638355] --> [52.92638355]
kurtosis_oxygen [0.0, 2.890254342] --> [2.890254342]
skewness_oxygen [0.0, 7.578930279] --> [7.578930279]

Merging 2 rows of name Francis Duong...
name ['Francis Duong', 'Francis Duong'] --> ['Francis Duong']
address ['182 Ashley Bypass Apt. 025\r\nAshleyland, KY 05875', '182 Ashley Bypass Apt. 025\r\nAshleyland, KY 05875'] --> ['182 Ashley Bypass Apt. 025\r\nAshleyland, KY 05875']
race ['White', 'White'] --> ['White']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation [nan, 'Transport-moving'] --> ['Transport-moving']
pregnant ['f', 'f'] --> ['f']
education-num [9.0, 9.0] --> [9.0]
relationship ['Husband', nan] --> ['Husband']
skewness_glucose [-0.336344208, -0.336344208] --> [-0.336344208]
mean_glucose [132.71875, 132.71875] --> [132.71875]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [0.0032674640000000003, 0.0032674640000000003] --> [0.0032674640000000003]
education [nan, 'HS-grad'] --> ['HS-grad']
fnlwgt [48189.0, 48189.0] --> [48189.0]
class [0.0, 0.0] --> [0.0]
std_glucose [nan, nan] --> [nan]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [45.0, 45.0] --> [45.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass [nan, 'Private'] --> ['Private']
mean_oxygen [2.297658863, 2.297658863] --> [2.297658863]
std_oxygen [14.81056619, 14.81056619] --> [14.81056619]
kurtosis_oxygen [11.02512252, 11.02512252] --> [11.02512252]
skewness_oxygen [150.11763630000004, 150.11763630000004] --> [150.11763630000004]

Merging 2 rows of name Paul Karas...
name ['Paul Karas', 'Paul Karas'] --> ['Paul Karas']
address ['5486 Rosales Plain\r\nCollierfurt, OR 27682', '5486 Rosales Plain\r\nCollierfurt, OR 27682'] --> ['5486 Rosales Plain\r\nCollierfurt, OR 27682']
race ['White', 'White'] --> ['White']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Exec-managerial', 'Exec-managerial'] --> ['Exec-managerial']
pregnant [nan, 'f'] --> ['f']
education-num [13.0, 13.0] --> [13.0]
relationship ['Husband', 'Husband'] --> ['Husband']
skewness_glucose [1.189220477, 1.189220477] --> [1.189220477]
mean_glucose [92.328125, 92.328125] --> [92.328125]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [0.466215795, 0.466215795] --> [0.466215795]
education ['Bachelors', nan] --> ['Bachelors']
fnlwgt [201117.0, nan] --> [201117.0]
class [0.0, 0.0] --> [0.0]
std_glucose [43.60352433, nan] --> [43.60352433]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [50.0, 50.0] --> [50.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', nan] --> ['Private']
mean_oxygen [0.0, 1.475752508] --> [1.475752508]
std_oxygen [0.0, 11.6533794] --> [11.6533794]
kurtosis_oxygen [0.0, 14.96006331] --> [14.96006331]
skewness_oxygen [0.0, 281.4831447] --> [281.4831447]

Merging 2 rows of name John Merkle...
name ['John Merkle', 'John Merkle'] --> ['John Merkle']
address ['48375 John Fords Suite 181\r\nLucasbury, ID 98399', '48375 John Fords Suite 181\r\nLucasbury, ID 98399'] --> ['48375 John Fords Suite 181\r\nLucasbury, ID 98399']
race ['White', 'White'] --> ['White']
marital-status ['Divorced', 'Divorced'] --> ['Divorced']
occupation ['Sales', 'Sales'] --> ['Sales']
pregnant ['f', nan] --> ['f']
education-num [nan, 11.0] --> [11.0]
relationship ['Not-in-family', 'Not-in-family'] --> ['Not-in-family']
skewness_glucose [-0.297782152, nan] --> [-0.297782152]
mean_glucose [115.46875, nan] --> [115.46875]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [0.102520507, 0.102520507] --> [0.102520507]
education ['Assoc-voc', nan] --> ['Assoc-voc']
fnlwgt [80479.0, 80479.0] --> [80479.0]
class [0.0, 0.0] --> [0.0]
std_glucose [50.83535579, 50.83535579] --> [50.83535579]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', nan] --> ['Private']
mean_oxygen [2.050167224, 2.050167224] --> [2.050167224]
std_oxygen [20.75411451, 20.75411451] --> [20.75411451]
kurtosis_oxygen [10.59644076, 10.59644076] --> [10.59644076]
skewness_oxygen [113.9303538, 113.9303538] --> [113.9303538]

Merging 2 rows of name Nicholas Reimer...
name ['Nicholas Reimer', 'Nicholas Reimer'] --> ['Nicholas Reimer']
address ['458 Moyer Mills Apt. 798\r\nChristianborough, AZ 57786', '458 Moyer Mills Apt. 798\r\nChristianborough, AZ 57786'] --> ['458 Moyer Mills Apt. 798\r\nChristianborough, AZ 57786']
race [nan, nan] --> [nan]
marital-status ['Never-married', 'Never-married'] --> ['Never-married']
occupation ['Handlers-cleaners', 'Handlers-cleaners'] --> ['Handlers-cleaners']
pregnant ['f', 'f'] --> ['f']
education-num [7.0, 7.0] --> [7.0]
relationship ['Not-in-family', 'Not-in-family'] --> ['Not-in-family']
skewness_glucose [13.10581926, 13.10581926] --> [13.10581926]
mean_glucose [17.0234375, 17.0234375] --> [17.0234375]
capital-gain [nan, 0.0] --> [0.0]
kurtosis_glucose [3.716950468, 3.716950468] --> [3.716950468]
education ['11th', '11th'] --> ['11th']
fnlwgt [493443.0, 493443.0] --> [493443.0]
class [1.0, 1.0] --> [1.0]
std_glucose [nan, nan] --> [nan]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [40.0, nan] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass [nan, 'Private'] --> ['Private']
mean_oxygen [95.91220736, 95.91220736] --> [95.91220736]
std_oxygen [66.37242762, 66.37242762] --> [66.37242762]
kurtosis_oxygen [0.48443973, 0.48443973] --> [0.48443973]
skewness_oxygen [-0.438687261, -0.438687261] --> [-0.438687261]

Merging 2 rows of name Edgar Nelson...
name ['Edgar Nelson', 'Edgar Nelson'] --> ['Edgar Nelson']
address ['1082 Alvarado Freeway\r\nBergermouth, VA 18698', '1082 Alvarado Freeway\r\nBergermouth, VA 18698'] --> ['1082 Alvarado Freeway\r\nBergermouth, VA 18698']
race [nan, 'White'] --> ['White']
marital-status ['Never-married', 'Never-married'] --> ['Never-married']
occupation ['Prof-specialty', 'Prof-specialty'] --> ['Prof-specialty']
pregnant [nan, 'f'] --> ['f']
education-num [nan, 13.0] --> [13.0]
relationship ['Not-in-family', 'Not-in-family'] --> ['Not-in-family']
skewness_glucose [-0.320279745, -0.320279745] --> [-0.320279745]
mean_glucose [117.3125, 117.3125] --> [117.3125]
capital-gain [4650.0, 4650.0] --> [4650.0]
kurtosis_glucose [0.272270124, 0.272270124] --> [0.272270124]
education ['Bachelors', 'Bachelors'] --> ['Bachelors']
fnlwgt [242619.0, 242619.0] --> [242619.0]
class [0.0, 0.0] --> [0.0]
std_glucose [47.242517600000006, 47.242517600000006] --> [47.242517600000006]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country [nan, 'United-States'] --> ['United-States']
hours-per-week [nan, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [2.119565217, 2.119565217] --> [2.119565217]
std_oxygen [13.57346856, 13.57346856] --> [13.57346856]
kurtosis_oxygen [10.2987034, 10.2987034] --> [10.2987034]
skewness_oxygen [138.69779540000002, 138.69779540000002] --> [138.69779540000002]

Merging 2 rows of name Joel Cramer...
name ['Joel Cramer', 'Joel Cramer'] --> ['Joel Cramer']
address ['2074 Hernandez Creek\r\nLake Christopherfort, NC 20732', '2074 Hernandez Creek\r\nLake Christopherfort, NC 20732'] --> ['2074 Hernandez Creek\r\nLake Christopherfort, NC 20732']
race ['White', 'White'] --> ['White']
marital-status ['Never-married', 'Never-married'] --> ['Never-married']
occupation ['Prof-specialty', 'Prof-specialty'] --> ['Prof-specialty']
pregnant ['f', 'f'] --> ['f']
education-num [10.0, 10.0] --> [10.0]
relationship ['Own-child', nan] --> ['Own-child']
skewness_glucose [1.669439566, nan] --> [1.669439566]
mean_glucose [92.328125, 92.328125] --> [92.328125]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [nan, 0.532109398] --> [0.532109398]
education ['Some-college', nan] --> ['Some-college']
fnlwgt [225724.0, 225724.0] --> [225724.0]
class [0.0, 0.0] --> [0.0]
std_glucose [3869.151017, 3869.151017] --> [3869.151017]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [25.0, 25.0] --> [25.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [3.660535117, 3.660535117] --> [3.660535117]
std_oxygen [24.73221427, 24.73221427] --> [24.73221427]
kurtosis_oxygen [7.24769215, 7.24769215] --> [7.24769215]
skewness_oxygen [54.05264117, 54.05264117] --> [54.05264117]

Merging 2 rows of name Curtis Benson...
name ['Curtis Benson', 'Curtis Benson'] --> ['Curtis Benson']

marital-status ['Never-married', 'Never-married'] --> ['Never-married']
occupation ['Other-service', 'Other-service'] --> ['Other-service']
pregnant ['f', 'f'] --> ['f']
education-num [11.0, 11.0] --> [11.0]
relationship ['Own-child', nan] --> ['Own-child']
skewness_glucose [0.213604545, 0.213604545] --> [0.213604545]
mean_glucose [94.8125, 94.8125] --> [94.8125]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [0.4985249470000001, nan] --> [0.4985249470000001]
education ['Assoc-voc', 'Assoc-voc'] --> ['Assoc-voc']
fnlwgt [170800.0, nan] --> [170800.0]
class [0.0, 0.0] --> [0.0]
std_glucose [nan, 50.88878038] --> [50.88878038]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [12.0, 12.0] --> [12.0]
capital-loss [0.0, nan] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [0.488294314, 0.488294314] --> [0.488294314]
std_oxygen [9.561140874, 9.561140874] --> [9.561140874]
kurtosis_oxygen [22.47981278, 22.47981278] --> [22.47981278]
skewness_oxygen [538.0158217999998, 538.0158217999998] --> [538.0158217999998]

Merging 2 rows of name Terrance Smith...
name ['Terrance Smith', 'Terrance Smith'] --> ['Terrance Smith']
address ['30338 Miller Coves\r\nLetown, TN 69998', '30338 Miller Coves\r\nLetown, TN 69998'] --> ['30338 Miller Coves\r\nLetown, TN 69998']
race [nan, 'White'] --> ['White']
marital-status ['Never-married', 'Never-married'] --> ['Never-married']
occupation ['Other-service', nan] --> ['Other-service']
pregnant ['FALSE', 'FALSE'] --> ['FALSE']
education-num [9.0, 9.0] --> [9.0]
relationship ['Own-child', 'Own-child'] --> ['Own-child']
skewness_glucose [0.144185739, 0.144185739] --> [0.144185739]
mean_glucose [126.9296875, 126.9296875] --> [126.9296875]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [0.076327609, 0.076327609] --> [0.076327609]
education [nan, nan] --> [nan]
fnlwgt [117595.0, 117595.0] --> [117595.0]
class [nan, 0.0] --> [0.0]
std_glucose [44.28956275, nan] --> [44.28956275]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [24.0, 24.0] --> [24.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [1.394648829, 1.394648829] --> [1.394648829]
std_oxygen [11.63864102, 11.63864102] --> [11.63864102]
kurtosis_oxygen [13.08523408, 13.08523408] --> [13.08523408]
skewness_oxygen [223.4211301, 223.4211301] --> [223.4211301]

Merging 2 rows of name Edward Hood...
name ['Edward Hood', 'Edward Hood'] --> ['Edward Hood']
address ['87749 Angela Glens Apt. 048\r\nNew Christopherview, UT 54245', '87749 Angela Glens Apt. 048\r\nNew Christopherview, UT 54245'] --> ['87749 Angela Glens Apt. 048\r\nNew Christopherview, UT 54245']
race ['White', 'White'] --> ['White']
marital-status [nan, 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Transport-moving', 'Transport-moving'] --> ['Transport-moving']
pregnant ['f', 'f'] --> ['f']
education-num [7.0, 7.0] --> [7.0]
relationship ['Husband', nan] --> ['Husband']
skewness_glucose [1.532026927, 1.532026927] --> [1.532026927]
mean_glucose [94.65625, 94.65625] --> [94.65625]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [1.120508084, 1.120508084] --> [1.120508084]
education ['11th', '11th'] --> ['11th']
fnlwgt [150993.0, 150993.0] --> [150993.0]
class [1.0, 1.0] --> [1.0]
std_glucose [48.96577847, 48.96577847] --> [48.96577847]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [45.0, 45.0] --> [45.0]
capital-loss [0.0, nan] --> [0.0]
workclass ['Self-emp-not-inc', nan] --> ['Self-emp-not-inc']
mean_oxygen [0.0, 3.712374582] --> [3.712374582]
std_oxygen [0.0, 23.56963384] --> [23.56963384]
kurtosis_oxygen [0.0, 8.139562245] --> [8.139562245]
skewness_oxygen [0.0, 70.77428481] --> [70.77428481]

Merging 2 rows of name Bernard Hilser...
name ['Bernard Hilser', 'Bernard Hilser'] --> ['Bernard Hilser']
address ['11425 Taylor Fall\r\nMikeside, SC 82575', '11425 Taylor Fall\r\nMikeside, SC 82575'] --> ['11425 Taylor Fall\r\nMikeside, SC 82575']
race ['White', 'White'] --> ['White']
marital-status [nan, 'Never-married'] --> ['Never-married']
occupation ['Sales', 'Sales'] --> ['Sales']
pregnant [nan, 'f'] --> ['f']
education-num [9.0, 9.0] --> [9.0]
relationship ['Own-child', 'Own-child'] --> ['Own-child']
skewness_glucose [0.25922918100000003, 0.25922918100000003] --> [0.25922918100000003]
mean_glucose [119.0546875, 119.0546875] --> [119.0546875]
capital-gain [nan, 0.0] --> [0.0]
kurtosis_glucose [nan, nan] --> [nan]
education [nan, 'HS-grad'] --> ['HS-grad']
fnlwgt [201799.0, 201799.0] --> [201799.0]
class [0.0, 0.0] --> [0.0]
std_glucose [-4212.913715, -4212.913715] --> [-4212.913715]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [1.5903010030000002, 1.5903010030000002] --> [1.5903010030000002]
std_oxygen [14.48604586, 14.48604586] --> [14.48604586]
kurtosis_oxygen [11.68206794, 11.68206794] --> [11.68206794]
skewness_oxygen [158.7660883, 158.7660883] --> [158.7660883]
Applying changes...
Data set age: [2019, 10, 27]
[2019, 10, 27] - [1965, 1, 21] = [54, 9, 6] --> age = 54
[2019, 10, 27] - [1967, 5, 1] = [52, 5, 26] --> age = 52
[2019, 10, 27] - [1972, 4, 15] = [47, 6, 12] --> age = 47
[2019, 10, 27] - [1967, 4, 8] = [52, 6, 19] --> age = 52
[2019, 10, 27] - [1967, 3, 28] = [52, 7, -1] --> age = 52
[2019, 10, 27] - [1958, 7, 14] = [61, 3, 13] --> age = 61
[2019, 10, 27] - [1951, 12, 6] = [68, -2, 21] --> age = 67
[2019, 10, 27] - [1983, 6, 6] = [36, 4, 21] --> age = 36
[2019, 10, 27] - [1981, 7, 15] = [38, 3, 12] --> age = 38
[2019, 10, 27] - [1962, 5, 14] = [57, 5, 13] --> age = 57
[2019, 10, 27] - [1954, 3, 19] = [65, 7, 8] --> age = 65
[2019, 10, 27] - [1961, 7, 9] = [58, 3, 18] --> age = 58
[2019, 10, 27] - [1967, 10, 30] = [52, 0, -3] --> age = 51
[2019, 10, 27] - [1971, 10, 31] = [48, 0, -4] --> age = 47
[2019, 10, 27] - [1971, 7, 29] = [48, 3, -2] --> age = 48
[2019, 10, 27] - [1968, 9, 3] = [51, 1, 24] --> age = 51
[2019, 10, 27] - [1955, 12, 11] = [64, -2, 16] --> age = 63
[2019, 10, 27] - [1967, 1, 11] = [52, 9, 16] --> age = 52
[2019, 10, 27] - [1956, 5, 4] = [63, 5, 23] --> age = 63
[2019, 10, 27] - [1979, 5, 2] = [40, 5, 25] --> age = 40
[2019, 10, 27] - [1945, 11, 9] = [74, -1, 18] --> age = 73
[2019, 10, 27] - [1982, 5, 26] = [37, 5, 1] --> age = 37
[2019, 10, 27] - [1985, 9, 23] = [34, 1, 4] --> age = 34
[2019, 10, 27] - [1984, 5, 18] = [35, 5, 9] --> age = 35
[2019, 10, 27] - [1986, 6, 29] = [33, 4, -2] --> age = 33
[2019, 10, 27] - [1976, 5, 9] = [43, 5, 18] --> age = 43
[2019, 10, 27] - [1973, 11, 14] = [46, -1, 13] --> age = 45
[2019, 10, 27] - [1952, 6, 27] = [67, 4, 0] --> age = 67
[2019, 10, 27] - [1960, 4, 28] = [59, 6, -1] --> age = 59
[2019, 10, 27] - [1967, 5, 1] = [52, 5, 26] --> age = 52
[2019, 10, 27] - [1964, 2, 14] = [55, 8, 13] --> age = 55
[2019, 10, 27] - [2001, 5, 21] = [18, 5, 6] --> age = 18
[2019, 10, 27] - [1972, 8, 28] = [47, 2, -1] --> age = 47
[2019, 10, 27] - [1932, 8, 30] = [87, 2, -3] --> age = 87
[2019, 10, 27] - [1973, 8, 12] = [46, 2, 15] --> age = 46
[2019, 10, 27] - [1968, 2, 27] = [51, 8, 0] --> age = 51
[2019, 10, 27] - [1974, 11, 13] = [45, -1, 14] --> age = 44
[2019, 10, 27] - [1968, 10, 12] = [51, 0, 15] --> age = 51
[2019, 10, 27] - [1969, 2, 1] = [50, 8, 26] --> age = 50
[2019, 10, 27] - [2004, 12, 7] = [15, -2, 20] --> age = 14
[2019, 10, 27] - [1966, 12, 15] = [53, -2, 12] --> age = 52
[2019, 10, 27] - [1970, 4, 9] = [49, 6, 18] --> age = 49
[2019, 10, 27] - [1985, 4, 25] = [34, 6, 2] --> age = 34
[2019, 10, 27] - [1971, 6, 29] = [48, 4, -2] --> age = 48
[2019, 10, 27] - [1966, 6, 30] = [53, 4, -3] --> age = 53
[2019, 10, 27] - [1949, 7, 16] = [70, 3, 11] --> age = 70
[2019, 10, 27] - [1972, 7, 15] = [47, 3, 12] --> age = 47
[2019, 10, 27] - [1971, 2, 4] = [48, 8, 23] --> age = 48
[2019, 10, 27] - [1960, 2, 11] = [59, 8, 16] --> age = 59
[2019, 10, 27] - [1954, 3, 27] = [65, 7, 0] --> age = 65
[2019, 10, 27] - [1965, 8, 13] = [54, 2, 14] --> age = 54
[2019, 10, 27] - [1977, 6, 28] = [42, 4, -1] --> age = 42
[2019, 10, 27] - [1980, 6, 22] = [39, 4, 5] --> age = 39
[2019, 10, 27] - [1971, 9, 18] = [48, 1, 9] --> age = 48
[2019, 10, 27] - [1996, 2, 7] = [23, 8, 20] --> age = 23
[2019, 10, 27] - [1972, 8, 25] = [47, 2, 2] --> age = 47
[2019, 10, 27] - [1971, 1, 10] = [48, 9, 17] --> age = 48
[2019, 10, 27] - [1960, 11, 8] = [59, -1, 19] --> age = 58
[2019, 10, 27] - [1980, 3, 14] = [39, 7, 13] --> age = 39
[2019, 10, 27] - [1959, 6, 30] = [60, 4, -3] --> age = 60
[2019, 10, 27] - [1977, 4, 26] = [42, 6, 1] --> age = 42
[2019, 10, 27] - [1972, 12, 28] = [47, -2, -1] --> age = 46
[2019, 10, 27] - [1966, 7, 17] = [53, 3, 10] --> age = 53
[2019, 10, 27] - [1956, 11, 6] = [63, -1, 21] --> age = 62
[2019, 10, 27] - [1966, 1, 8] = [53, 9, 19] --> age = 53
[2019, 10, 27] - [1967, 12, 11] = [52, -2, 16] --> age = 51
[2019, 10, 27] - [1963, 6, 3] = [56, 4, 24] --> age = 56
[2019, 10, 27] - [1961, 7, 9] = [58, 3, 18] --> age = 58
[2019, 10, 27] - [1983, 3, 19] = [36, 7, 8] --> age = 36
[2019, 10, 27] - [1961, 2, 22] = [58, 8, 5] --> age = 58
[2019, 10, 27] - [1972, 7, 16] = [47, 3, 11] --> age = 47
[2019, 10, 27] - [1964, 12, 14] = [55, -2, 13] --> age = 54
[2019, 10, 27] - [1993, 9, 20] = [26, 1, 7] --> age = 26
[2019, 10, 27] - [1959, 10, 1] = [60, 0, 26] --> age = 60
[2019, 10, 27] - [1967, 11, 23] = [52, -1, 4] --> age = 51
[2019, 10, 27] - [1964, 10, 2] = [55, 0, 25] --> age = 55
[2019, 10, 27] - [1968, 6, 12] = [51, 4, 15] --> age = 51
[2019, 10, 27] - [1977, 3, 17] = [42, 7, 10] --> age = 42
[2019, 10, 27] - [1970, 7, 12] = [49, 3, 15] --> age = 49
[2019, 10, 27] - [1961, 4, 16] = [58, 6, 11] --> age = 58
[2019, 10, 27] - [1960, 2, 27] = [59, 8, 0] --> age = 59
[2019, 10, 27] - [1959, 2, 27] = [60, 8, 0] --> age = 60
[2019, 10, 27] - [1976, 6, 17] = [43, 4, 10] --> age = 43
[2019, 10, 27] - [1957, 8, 8] = [62, 2, 19] --> age = 62
[2019, 10, 27] - [1992, 3, 15] = [27, 7, 12] --> age = 27
[2019, 10, 27] - [1976, 12, 29] = [43, -2, -2] --> age = 42
[2019, 10, 27] - [1961, 8, 19] = [58, 2, 8] --> age = 58
[2019, 10, 27] - [1991, 11, 24] = [28, -1, 3] --> age = 27
[2019, 10, 27] - [1965, 7, 6] = [54, 3, 21] --> age = 54
[2019, 10, 27] - [1978, 1, 3] = [41, 9, 24] --> age = 41
[2019, 10, 27] - [1962, 12, 24] = [57, -2, 3] --> age = 56
[2019, 10, 27] - [1955, 2, 15] = [64, 8, 12] --> age = 64
[2019, 10, 27] - [1972, 12, 16] = [47, -2, 11] --> age = 46
[2019, 10, 27] - [1965, 10, 1] = [54, 0, 26] --> age = 54
[2019, 10, 27] - [1968, 10, 20] = [51, 0, 7] --> age = 51
[2019, 10, 27] - [1943, 5, 21] = [76, 5, 6] --> age = 76
[2019, 10, 27] - [1977, 12, 31] = [42, -2, -4] --> age = 41
[2019, 10, 27] - [1988, 6, 12] = [31, 4, 15] --> age = 31
[2019, 10, 27] - [1971, 12, 22] = [48, -2, 5] --> age = 47
[2019, 10, 27] - [1964, 4, 24] = [55, 6, 3] --> age = 55
[2019, 10, 27] - [1986, 1, 6] = [33, 9, 21] --> age = 33
[2019, 10, 27] - [1948, 9, 3] = [71, 1, 24] --> age = 71
[2019, 10, 27] - [1976, 11, 3] = [43, -1, 24] --> age = 42
[2019, 10, 27] - [1966, 3, 23] = [53, 7, 4] --> age = 53
[2019, 10, 27] - [1958, 5, 16] = [61, 5, 11] --> age = 61
[2019, 10, 27] - [1954, 2, 28] = [65, 8, -1] --> age = 65
[2019, 10, 27] - [1935, 7, 25] = [84, 3, 2] --> age = 84
[2019, 10, 27] - [1981, 5, 3] = [38, 5, 24] --> age = 38
[2019, 10, 27] - [1959, 4, 20] = [60, 6, 7] --> age = 60
[2019, 10, 27] - [1977, 1, 27] = [42, 9, 0] --> age = 42
[2019, 10, 27] - [1962, 11, 19] = [57, -1, 8] --> age = 56
[2019, 10, 27] - [1964, 2, 15] = [55, 8, 12] --> age = 55
[2019, 10, 27] - [1954, 12, 31] = [65, -2, -4] --> age = 64
[2019, 10, 27] - [1953, 11, 5] = [66, -1, 22] --> age = 65
[2019, 10, 27] - [1976, 7, 24] = [43, 3, 3] --> age = 43
[2019, 10, 27] - [1968, 11, 23] = [51, -1, 4] --> age = 50
[2019, 10, 27] - [1963, 5, 22] = [56, 5, 5] --> age = 56
[2019, 10, 27] - [1960, 6, 4] = [59, 4, 23] --> age = 59
[2019, 10, 27] - [1968, 8, 28] = [51, 2, -1] --> age = 51
[2019, 10, 27] - [1976, 3, 5] = [43, 7, 22] --> age = 43
[2019, 10, 27] - [1949, 3, 17] = [70, 7, 10] --> age = 70
[2019, 10, 27] - [1964, 9, 4] = [55, 1, 23] --> age = 55
[2019, 10, 27] - [1973, 4, 13] = [46, 6, 14] --> age = 46
[2019, 10, 27] - [1974, 2, 15] = [45, 8, 12] --> age = 45
[2019, 10, 27] - [1957, 1, 28] = [62, 9, -1] --> age = 62
[2019, 10, 27] - [1961, 7, 4] = [58, 3, 23] --> age = 58
[2019, 10, 27] - [1963, 9, 19] = [56, 1, 8] --> age = 56
[2019, 10, 27] - [1979, 8, 25] = [40, 2, 2] --> age = 40
[2019, 10, 27] - [1945, 11, 2] = [74, -1, 25] --> age = 73
[2019, 10, 27] - [1978, 7, 17] = [41, 3, 10] --> age = 41
[2019, 10, 27] - [1952, 3, 25] = [67, 7, 2] --> age = 67
Detecting duplicates based on names...
Found 50 duplicates, merging them...

Merging 2 rows of name Joel Anthony...
name ['Joel Anthony', 'Joel Anthony'] --> ['Joel Anthony']
address ['PSC 4700, Box 8559\r\nAPO AP 96472', 'PSC 4700, Box 8559\r\nAPO AP 96472'] --> ['PSC 4700, Box 8559\r\nAPO AP 96472']
race ['White', 'White'] --> ['White']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Transport-moving', 'Transport-moving'] --> ['Transport-moving']
pregnant ['F', 'F'] --> ['F']
education-num [6.0, 6.0] --> [6.0]
relationship ['Husband', nan] --> ['Husband']
skewness_glucose [nan, -0.042160545] --> [-0.042160545]
mean_glucose [138.640625, 138.640625] --> [138.640625]
capital-gain [0.0, nan] --> [0.0]
kurtosis_glucose [-0.11747599, -0.11747599] --> [-0.11747599]
education ['10th', '10th'] --> ['10th']
fnlwgt [179813.0, nan] --> [179813.0]
class [0.0, 0.0] --> [0.0]
std_glucose [4568.775383, 4568.775383] --> [4568.775383]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [10.0, 10.0] --> [10.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass [nan, 'Local-gov'] --> ['Local-gov']
mean_oxygen [1.464046823, 0.0] --> [1.464046823]
std_oxygen [10.95832231, 0.0] --> [10.95832231]
kurtosis_oxygen [13.81053577, 0.0] --> [13.81053577]
skewness_oxygen [262.1144977, 0.0] --> [262.1144977]

Merging 2 rows of name Timothy Harris...
name ['Timothy Harris', 'Timothy Harris'] --> ['Timothy Harris']
address ['627 Maureen Hollow Suite 115\r\nDianetown, TN 28384', '627 Maureen Hollow Suite 115\r\nDianetown, TN 28384'] --> ['627 Maureen Hollow Suite 115\r\nDianetown, TN 28384']
race ['White', 'White'] --> ['White']
marital-status ['Never-married', 'Never-married'] --> ['Never-married']
occupation ['Adm-clerical', 'Adm-clerical'] --> ['Adm-clerical']
pregnant ['f', 'f'] --> ['f']
education-num [13.0, 13.0] --> [13.0]
relationship [nan, 'Not-in-family'] --> ['Not-in-family']
skewness_glucose [nan, -0.20754873] --> [-0.20754873]
mean_glucose [127.859375, 127.859375] --> [127.859375]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [0.087845459, 0.087845459] --> [0.087845459]
education ['Bachelors', 'Bachelors'] --> ['Bachelors']
fnlwgt [129707.0, 129707.0] --> [129707.0]
class [0.0, 0.0] --> [0.0]
std_glucose [53.550609, 53.550609] --> [53.550609]
income ['>50K', '>50K'] --> ['>50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [nan, nan] --> [nan]
capital-loss [nan, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [69.34280936, 69.34280936] --> [69.34280936]
std_oxygen [84.85495912, 84.85495912] --> [84.85495912]
kurtosis_oxygen [0.6065968079999999, 0.6065968079999999] --> [0.6065968079999999]
skewness_oxygen [-1.322520378, -1.322520378] --> [-1.322520378]

Merging 2 rows of name Francis Miller...
name ['Francis Miller', 'Francis Miller'] --> ['Francis Miller']
address ['318 Anderson Prairie Apt. 298\r\nNew Robert, MO 00914', '318 Anderson Prairie Apt. 298\r\nNew Robert, MO 00914'] --> ['318 Anderson Prairie Apt. 298\r\nNew Robert, MO 00914']
race ['Black', 'Black'] --> ['Black']
marital-status [nan, 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Adm-clerical', 'Adm-clerical'] --> ['Adm-clerical']
pregnant ['FALSE', 'FALSE'] --> ['FALSE']
education-num [12.0, 12.0] --> [12.0]
relationship ['Husband', 'Husband'] --> ['Husband']
skewness_glucose [1.873638881, 1.873638881] --> [1.873638881]
mean_glucose [73.4921875, 73.4921875] --> [73.4921875]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [nan, 1.158861114] --> [1.158861114]
education ['Assoc-acdm', 'Assoc-acdm'] --> ['Assoc-acdm']
fnlwgt [282830.0, 282830.0] --> [282830.0]
class [nan, 0.0] --> [0.0]
std_glucose [47.03788302, 47.03788302] --> [47.03788302]
income ['>50K', '>50K'] --> ['>50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [nan, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Federal-gov', 'Federal-gov'] --> ['Federal-gov']
mean_oxygen [142.04515049999995, 142.04515049999995] --> [142.04515049999995]
std_oxygen [88.91256632, 88.91256632] --> [88.91256632]
kurtosis_oxygen [-0.673754581, -0.673754581] --> [-0.673754581]
skewness_oxygen [-1.058917559, -1.058917559] --> [-1.058917559]

Merging 2 rows of name Michael Clark...
name ['Michael Clark', 'Michael Clark'] --> ['Michael Clark']
address ['0576 Jason Lake\r\nMichelletown, WY 32585', '0576 Jason Lake\r\nMichelletown, WY 32585'] --> ['0576 Jason Lake\r\nMichelletown, WY 32585']
race [nan, 'White'] --> ['White']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Machine-op-inspct', 'Machine-op-inspct'] --> ['Machine-op-inspct']
pregnant ['FALSE', 'FALSE'] --> ['FALSE']
education-num [9.0, nan] --> [9.0]
relationship [nan, 'Husband'] --> ['Husband']
skewness_glucose [nan, 0.610928137] --> [0.610928137]
mean_glucose [152.46875, 152.46875] --> [152.46875]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [-0.559570859, -0.559570859] --> [-0.559570859]
education ['HS-grad', 'HS-grad'] --> ['HS-grad']
fnlwgt [53833.0, 53833.0] --> [53833.0]
class [0.0, 0.0] --> [0.0]
std_glucose [45.48951416, 45.48951416] --> [45.48951416]
income ['>50K', '>50K'] --> ['>50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass [nan, 'Private'] --> ['Private']
mean_oxygen [36.64214047, 36.64214047] --> [36.64214047]
std_oxygen [72.52210386, 72.52210386] --> [72.52210386]
kurtosis_oxygen [1.683488859, 1.683488859] --> [1.683488859]
skewness_oxygen [1.189934375, 1.189934375] --> [1.189934375]

Merging 2 rows of name Scott Breeding...
name ['Scott Breeding', 'Scott Breeding'] --> ['Scott Breeding']
address ['5249 Deanna Gardens Suite 614\r\nSouth Breanna, NM 14463', '5249 Deanna Gardens Suite 614\r\nSouth Breanna, NM 14463'] --> ['5249 Deanna Gardens Suite 614\r\nSouth Breanna, NM 14463']
race ['White', 'White'] --> ['White']
marital-status [nan, 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Transport-moving', nan] --> ['Transport-moving']
pregnant ['f', 'f'] --> ['f']
education-num [9.0, 9.0] --> [9.0]
relationship ['Husband', 'Husband'] --> ['Husband']
skewness_glucose [0.235172101, 0.235172101] --> [0.235172101]
mean_glucose [nan, 124.2265625] --> [124.2265625]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [nan, 0.132288777] --> [0.132288777]
education ['HS-grad', 'HS-grad'] --> ['HS-grad']
fnlwgt [202450.0, 202450.0] --> [202450.0]
class [0.0, 0.0] --> [0.0]
std_glucose [44.60349882, 44.60349882] --> [44.60349882]
income [nan, '>50K'] --> ['>50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [65.0, 65.0] --> [65.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [2.455685619, 0.0] --> [2.455685619]

skewness_oxygen [178.05562450000005, 178.05562450000005] --> [178.05562450000005]

Merging 2 rows of name Robert Michels...
name ['Robert Michels', 'Robert Michels'] --> ['Robert Michels']
address ['81903 Derrick Prairie Suite 019\r\nDonaldburgh, HI 14855', '81903 Derrick Prairie Suite 019\r\nDonaldburgh, HI 14855'] --> ['81903 Derrick Prairie Suite 019\r\nDonaldburgh, HI 14855']
race ['White', 'White'] --> ['White']
marital-status [nan, 'Never-married'] --> ['Never-married']
occupation ['Adm-clerical', 'Adm-clerical'] --> ['Adm-clerical']
pregnant [nan, 'f'] --> ['f']
education-num [nan, 11.0] --> [11.0]
relationship ['Not-in-family', 'Not-in-family'] --> ['Not-in-family']
skewness_glucose [3.891114308, 3.891114308] --> [3.891114308]
mean_glucose [68.90625, 68.90625] --> [68.90625]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [1.940449831, 1.940449831] --> [1.940449831]
education [nan, 'Assoc-voc'] --> ['Assoc-voc']
fnlwgt [216608.0, 216608.0] --> [216608.0]
class [1.0, 1.0] --> [1.0]
std_glucose [50.1353539, 50.1353539] --> [50.1353539]
income [nan, '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [75.96655518, 75.96655518] --> [75.96655518]
std_oxygen [79.82689603, 79.82689603] --> [79.82689603]
kurtosis_oxygen [0.6940736959999999, 0.6940736959999999] --> [0.6940736959999999]
skewness_oxygen [-0.785507585, -0.785507585] --> [-0.785507585]

Merging 2 rows of name Jacob Guthrie...
name ['Jacob Guthrie', 'Jacob Guthrie'] --> ['Jacob Guthrie']
address ['253 Olivia Dam Suite 625\r\nJohnport, MA 89697', '253 Olivia Dam Suite 625\r\nJohnport, MA 89697'] --> ['253 Olivia Dam Suite 625\r\nJohnport, MA 89697']
race ['White', 'White'] --> ['White']
marital-status [nan, 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation [nan, 'Exec-managerial'] --> ['Exec-managerial']
pregnant ['f', 'f'] --> ['f']
education-num [14.0, 14.0] --> [14.0]
relationship ['Husband', 'Husband'] --> ['Husband']
skewness_glucose [-0.155807949, -0.155807949] --> [-0.155807949]
mean_glucose [120.328125, 120.328125] --> [120.328125]
capital-gain [nan, 0.0] --> [0.0]
kurtosis_glucose [0.136992008, 0.136992008] --> [0.136992008]
education ['Masters', 'Masters'] --> ['Masters']
fnlwgt [58913.0, 58913.0] --> [58913.0]
class [0.0, 0.0] --> [0.0]
std_glucose [nan, nan] --> [nan]
income [nan, '>50K'] --> ['>50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [42.0, 42.0] --> [42.0]
capital-loss [nan, 0.0] --> [0.0]
workclass ['State-gov', 'State-gov'] --> ['State-gov']
mean_oxygen [2.1622073580000003, 2.1622073580000003] --> [2.1622073580000003]
std_oxygen [12.52864717, 12.52864717] --> [12.52864717]
kurtosis_oxygen [10.34805337, 10.34805337] --> [10.34805337]
skewness_oxygen [157.8507549, 157.8507549] --> [157.8507549]

Merging 2 rows of name John Pearson...
name ['John Pearson', 'John Pearson'] --> ['John Pearson']
address ['1863 Stephanie Fall\r\nSouth Charlotte, MT 01050', '1863 Stephanie Fall\r\nSouth Charlotte, MT 01050'] --> ['1863 Stephanie Fall\r\nSouth Charlotte, MT 01050']
race [nan, 'Black'] --> ['Black']
marital-status ['Divorced', 'Divorced'] --> ['Divorced']
occupation ['Adm-clerical', 'Adm-clerical'] --> ['Adm-clerical']
pregnant [nan, 'f'] --> ['f']
education-num [12.0, 12.0] --> [12.0]
relationship ['Not-in-family', 'Not-in-family'] --> ['Not-in-family']
skewness_glucose [nan, 0.341018939] --> [0.341018939]
mean_glucose [108.4609375, nan] --> [108.4609375]
capital-gain [0.0, nan] --> [0.0]
kurtosis_glucose [0.27047605, 0.27047605] --> [0.27047605]
education ['Assoc-acdm', 'Assoc-acdm'] --> ['Assoc-acdm']
fnlwgt [29020.0, 29020.0] --> [29020.0]
class [0.0, 0.0] --> [0.0]
std_glucose [4689.231386, 4689.231386] --> [4689.231386]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [45.0, 45.0] --> [45.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass [nan, 'Private'] --> ['Private']
mean_oxygen [1.758361204, 1.758361204] --> [1.758361204]
std_oxygen [16.00222514, 16.00222514] --> [16.00222514]
kurtosis_oxygen [10.88765036, 10.88765036] --> [10.88765036]
skewness_oxygen [130.5337639, 130.5337639] --> [130.5337639]

Merging 2 rows of name Miguel Harrison...
name ['Miguel Harrison', 'Miguel Harrison'] --> ['Miguel Harrison']
address ['25535 Bird Rue\r\nHarrisfort, NJ 71162', '25535 Bird Rue\r\nHarrisfort, NJ 71162'] --> ['25535 Bird Rue\r\nHarrisfort, NJ 71162']
race ['White', 'White'] --> ['White']
marital-status ['Separated', nan] --> ['Separated']
occupation ['Other-service', 'Other-service'] --> ['Other-service']
pregnant ['f', 'f'] --> ['f']
education-num [7.0, 7.0] --> [7.0]
relationship ['Unmarried', 'Unmarried'] --> ['Unmarried']
skewness_glucose [-0.076720581, -0.076720581] --> [-0.076720581]
mean_glucose [141.140625, 141.140625] --> [141.140625]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [-0.323419544, nan] --> [-0.323419544]
education ['11th', '11th'] --> ['11th']
fnlwgt [215219.0, 215219.0] --> [215219.0]
class [0.0, 0.0] --> [0.0]
std_glucose [nan, 53.90149209] --> [53.90149209]
income ['<=50K', nan] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [30.0, nan] --> [30.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Self-emp-not-inc', 'Self-emp-not-inc'] --> ['Self-emp-not-inc']
mean_oxygen [117.5994983, 117.5994983] --> [117.5994983]
std_oxygen [73.84700785, 73.84700785] --> [73.84700785]
kurtosis_oxygen [-0.8910250679999999, -0.8910250679999999] --> [-0.8910250679999999]
skewness_oxygen [-1.024357737, -1.024357737] --> [-1.024357737]

Merging 2 rows of name Sam Fink...
name ['Sam Fink', 'Sam Fink'] --> ['Sam Fink']
address ['79322 Brown Coves\r\nNew Chadbury, WA 28239', '79322 Brown Coves\r\nNew Chadbury, WA 28239'] --> ['79322 Brown Coves\r\nNew Chadbury, WA 28239']
race ['Amer-Indian-Eskimo', 'Amer-Indian-Eskimo'] --> ['Amer-Indian-Eskimo']
marital-status [nan, 'Never-married'] --> ['Never-married']
occupation ['Prof-specialty', 'Prof-specialty'] --> ['Prof-specialty']
pregnant ['f', 'f'] --> ['f']
education-num [13.0, 13.0] --> [13.0]
relationship [nan, 'Not-in-family'] --> ['Not-in-family']
skewness_glucose [0.303841397, 0.303841397] --> [0.303841397]
mean_glucose [nan, 106.0078125] --> [106.0078125]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [0.421391527, 0.421391527] --> [0.421391527]
education ['Bachelors', 'Bachelors'] --> ['Bachelors']
fnlwgt [nan, 40808.0] --> [40808.0]
class [0.0, 0.0] --> [0.0]
std_glucose [43.59660539, 43.59660539] --> [43.59660539]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country [nan, 'United-States'] --> ['United-States']
hours-per-week [43.0, 43.0] --> [43.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass [nan, 'Federal-gov'] --> ['Federal-gov']
mean_oxygen [4.076923077, 4.076923077] --> [4.076923077]
std_oxygen [21.61697051, 21.61697051] --> [21.61697051]
kurtosis_oxygen [6.875727424, 6.875727424] --> [6.875727424]
skewness_oxygen [53.06174724, 53.06174724] --> [53.06174724]

Merging 3 rows of name Jorge Clark...
name ['Jorge Clark', 'Jorge Clark', 'Jorge Clark'] --> ['Jorge Clark']
address ['038 Diaz Motorway Apt. 382\r\nGrayberg, OK 51763', '038 Diaz Motorway Apt. 382\r\nGrayberg, OK 51763', '038 Diaz Motorway Apt. 382\r\nGrayberg, OK 51763'] --> ['038 Diaz Motorway Apt. 382\r\nGrayberg, OK 51763']
race ['Black', 'Black', 'Black'] --> ['Black']
marital-status ['Married-civ-spouse', nan, 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Machine-op-inspct', 'Machine-op-inspct', 'Machine-op-inspct'] --> ['Machine-op-inspct']
pregnant [nan, 'f', 'f'] --> ['f']
education-num [5.0, 5.0, 5.0] --> [5.0]
relationship [nan, 'Husband', 'Husband'] --> ['Husband']
skewness_glucose [-0.5958970029999999, -0.5958970029999999, -0.5958970029999999] --> [-0.5958970029999999]
mean_glucose [nan, 125.65625, nan] --> [125.65625]
capital-gain [0.0, nan, 0.0] --> [0.0]
kurtosis_glucose [-0.144638989, -0.144638989, -0.144638989] --> [-0.144638989]
education [nan, nan, '9th'] --> ['9th']
fnlwgt [123572.0, 123572.0, 123572.0] --> [123572.0]
class [nan, 0.0, nan] --> [0.0]
std_glucose [nan, 57.05745973, 57.05745973] --> [57.05745973]
income ['<=50K', '<=50K', '<=50K'] --> ['<=50K']
native-country [nan, 'United-States', 'United-States'] --> ['United-States']
hours-per-week [40.0, 40.0, nan] --> [40.0]
capital-loss [0.0, 0.0, 0.0] --> [0.0]
workclass ['Private', 'Private', 'Private'] --> ['Private']
mean_oxygen [4.568561873, 4.568561873, 4.568561873] --> [4.568561873]
std_oxygen [24.92868386, 24.92868386, 24.92868386] --> [24.928683859999996]
kurtosis_oxygen [6.964876061, 6.964876061, 6.964876061] --> [6.964876061000001]
skewness_oxygen [53.00506896, 53.00506896, 53.00506896] --> [53.005068959999996]

Merging 2 rows of name Tim Evans...
name ['Tim Evans', 'Tim Evans'] --> ['Tim Evans']
address ['835 Karen Harbor\r\nJeremyfort, MD 62505', '835 Karen Harbor\r\nJeremyfort, MD 62505'] --> ['835 Karen Harbor\r\nJeremyfort, MD 62505']
race ['Asian-Pac-Islander', 'Asian-Pac-Islander'] --> ['Asian-Pac-Islander']
marital-status ['Never-married', 'Never-married'] --> ['Never-married']
occupation ['Adm-clerical', 'Adm-clerical'] --> ['Adm-clerical']
pregnant ['f', 'f'] --> ['f']
education-num [13.0, 13.0] --> [13.0]
relationship ['Not-in-family', 'Not-in-family'] --> ['Not-in-family']
skewness_glucose [0.617989372, 0.617989372] --> [0.617989372]
mean_glucose [89.3828125, 89.3828125] --> [89.3828125]
capital-gain [nan, 0.0] --> [0.0]
kurtosis_glucose [0.526118258, 0.526118258] --> [0.526118258]
education ['Bachelors', 'Bachelors'] --> ['Bachelors']
fnlwgt [82393.0, nan] --> [82393.0]
class [0.0, 0.0] --> [0.0]
std_glucose [48.02198733, 48.02198733] --> [48.02198733]
income [nan, nan] --> [nan]
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [50.0, 50.0] --> [50.0]
capital-loss [nan, nan] --> [nan]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [2.698160535, 2.698160535] --> [2.698160535]
std_oxygen [16.54011127, 16.54011127] --> [16.54011127]
kurtosis_oxygen [8.193532612, 8.193532612] --> [8.193532612]
skewness_oxygen [81.19045168, 81.19045168] --> [81.19045168]

Merging 2 rows of name Michael Gullixson...
name ['Michael Gullixson', 'Michael Gullixson'] --> ['Michael Gullixson']
address ['PSC 1957, Box 9961\r\nAPO AA 77831', 'PSC 1957, Box 9961\r\nAPO AA 77831'] --> ['PSC 1957, Box 9961\r\nAPO AA 77831']
race ['White', 'White'] --> ['White']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Craft-repair', 'Craft-repair'] --> ['Craft-repair']
pregnant ['f', 'f'] --> ['f']
education-num [9.0, 9.0] --> [9.0]
relationship ['Husband', 'Husband'] --> ['Husband']
skewness_glucose [0.8927561209999999, nan] --> [0.8927561209999999]
mean_glucose [130.84375, 130.84375] --> [130.84375]
capital-gain [nan, 3464.0] --> [3464.0]
kurtosis_glucose [nan, 0.111273221] --> [0.111273221]
education ['HS-grad', 'HS-grad'] --> ['HS-grad']
fnlwgt [248059.0, 248059.0] --> [248059.0]
class [0.0, 0.0] --> [0.0]
std_glucose [nan, 42.34280442] --> [42.34280442]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [nan, 0.0] --> [0.0]
workclass ['Private', nan] --> ['Private']
mean_oxygen [1.31270903, 1.31270903] --> [1.31270903]
std_oxygen [12.22199368, 12.22199368] --> [12.22199368]
kurtosis_oxygen [13.2768296, 13.2768296] --> [13.2768296]
skewness_oxygen [216.3994259, 216.3994259] --> [216.3994259]

Merging 2 rows of name Brian Jenkins...
name ['Brian Jenkins', 'Brian Jenkins'] --> ['Brian Jenkins']
address ['USCGC Fisher\r\nFPO AP 18083', 'USCGC Fisher\r\nFPO AP 18083'] --> ['USCGC Fisher\r\nFPO AP 18083']
race ['White', 'White'] --> ['White']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation [nan, 'Prof-specialty'] --> ['Prof-specialty']
pregnant ['F', 'F'] --> ['F']
education-num [nan, 13.0] --> [13.0]
relationship ['Husband', 'Husband'] --> ['Husband']
skewness_glucose [0.400884056, 0.400884056] --> [0.400884056]
mean_glucose [109.625, 109.625] --> [109.625]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [0.39334188, 0.39334188] --> [0.39334188]
education ['Bachelors', 'Bachelors'] --> ['Bachelors']
fnlwgt [305597.0, 305597.0] --> [305597.0]
class [0.0, 0.0] --> [0.0]
std_glucose [nan, 47.07656662] --> [47.07656662]
income ['>50K', '>50K'] --> ['>50K']
native-country [nan, 'United-States'] --> ['United-States']
hours-per-week [45.0, 45.0] --> [45.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass [nan, 'Private'] --> ['Private']
mean_oxygen [7.655518395, 7.655518395] --> [7.655518395]
std_oxygen [30.2410062, 30.2410062] --> [30.2410062]
kurtosis_oxygen [4.507979076, 4.507979076] --> [4.507979076]
skewness_oxygen [21.71686729, 21.71686729] --> [21.71686729]

Merging 2 rows of name Rocky Goldberg...
name ['Rocky Goldberg', 'Rocky Goldberg'] --> ['Rocky Goldberg']
address ['24248 Emma Parkways\r\nSharonchester, NY 50371', '24248 Emma Parkways\r\nSharonchester, NY 50371'] --> ['24248 Emma Parkways\r\nSharonchester, NY 50371']
race ['White', nan] --> ['White']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Prof-specialty', 'Prof-specialty'] --> ['Prof-specialty']
pregnant ['f', 'f'] --> ['f']
education-num [10.0, nan] --> [10.0]
relationship [nan, 'Husband'] --> ['Husband']
skewness_glucose [-0.188586242, -0.188586242] --> [-0.188586242]
mean_glucose [128.828125, 128.828125] --> [128.828125]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [nan, 0.116606257] --> [0.116606257]
education ['Some-college', 'Some-college'] --> ['Some-college']
fnlwgt [213307.0, nan] --> [213307.0]
class [0.0, 0.0] --> [0.0]
std_glucose [51.29664179, 51.29664179] --> [51.29664179]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['State-gov', 'State-gov'] --> ['State-gov']
mean_oxygen [6.321906355, 6.321906355] --> [6.321906355]
std_oxygen [29.00122628, 29.00122628] --> [29.00122628]
kurtosis_oxygen [5.546768247, 5.546768247] --> [5.546768247]
skewness_oxygen [32.960998, 32.960998] --> [32.960998]

Merging 2 rows of name David Maclean...
name ['David Maclean', 'David Maclean'] --> ['David Maclean']
address ['Unit 3639 Box 6879\r\nDPO AE 55396', 'Unit 3639 Box 6879\r\nDPO AE 55396'] --> ['Unit 3639 Box 6879\r\nDPO AE 55396']
race ['White', 'White'] --> ['White']
marital-status ['Never-married', 'Never-married'] --> ['Never-married']
occupation [nan, 'Sales'] --> ['Sales']
pregnant ['f', 'f'] --> ['f']
education-num [10.0, 10.0] --> [10.0]
relationship ['Unmarried', 'Unmarried'] --> ['Unmarried']
skewness_glucose [nan, -0.4672574370000001] --> [-0.4672574370000001]
mean_glucose [142.2421875, 142.2421875] --> [142.2421875]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [-0.258324648, -0.258324648] --> [-0.258324648]
education [nan, 'Some-college'] --> ['Some-college']
fnlwgt [416165.0, 416165.0] --> [416165.0]
class [0.0, 0.0] --> [0.0]
std_glucose [58.18837219, 58.18837219] --> [58.18837219]
income [nan, '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [32.0, 32.0] --> [32.0]
capital-loss [0.0, nan] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [68.82190635, 68.82190635] --> [68.82190635]
std_oxygen [86.24383583, 86.24383583] --> [86.24383583]
kurtosis_oxygen [0.587272528, 0.587272528] --> [0.587272528]
skewness_oxygen [-1.428443443, -1.428443443] --> [-1.428443443]

Merging 2 rows of name Julian Davis...
name ['Julian Davis', 'Julian Davis'] --> ['Julian Davis']
address ['81111 Harris Place Apt. 942\r\nLake Mary, CA 04047', '81111 Harris Place Apt. 942\r\nLake Mary, CA 04047'] --> ['81111 Harris Place Apt. 942\r\nLake Mary, CA 04047']
race [nan, 'Black'] --> ['Black']
marital-status ['Never-married', 'Never-married'] --> ['Never-married']
occupation ['Machine-op-inspct', 'Machine-op-inspct'] --> ['Machine-op-inspct']
pregnant [nan, 'f'] --> ['f']
education-num [7.0, 7.0] --> [7.0]
relationship ['Not-in-family', 'Not-in-family'] --> ['Not-in-family']
skewness_glucose [8.597450881, 8.597450881] --> [8.597450881]
mean_glucose [nan, 69.6640625] --> [69.6640625]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [nan, 2.119994577] --> [2.119994577]
education ['11th', '11th'] --> ['11th']
fnlwgt [125194.0, 125194.0] --> [125194.0]
class [1.0, 1.0] --> [1.0]
std_glucose [36.82481274, 36.82481274] --> [36.82481274]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country [nan, 'United-States'] --> ['United-States']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [0.0, 17.56688963] --> [17.56688963]
std_oxygen [0.0, 48.91450162] --> [48.91450162]
kurtosis_oxygen [0.0, 2.8855919830000003] --> [2.8855919830000003]
skewness_oxygen [0.0, 7.547988962000001] --> [7.547988962000001]

Merging 2 rows of name Paul Yoshida...
name ['Paul Yoshida', 'Paul Yoshida'] --> ['Paul Yoshida']
address ['94391 Kline Tunnel\r\nNorth Angela, LA 13541', '94391 Kline Tunnel\r\nNorth Angela, LA 13541'] --> ['94391 Kline Tunnel\r\nNorth Angela, LA 13541']
race ['White', 'White'] --> ['White']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Sales', 'Sales'] --> ['Sales']
pregnant ['f', 'f'] --> ['f']
education-num [10.0, 10.0] --> [10.0]
relationship ['Wife', 'Wife'] --> ['Wife']
skewness_glucose [-0.106943499, -0.106943499] --> [-0.106943499]
mean_glucose [134.09375, nan] --> [134.09375]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [nan, -0.06476509] --> [-0.06476509]
education ['Some-college', 'Some-college'] --> ['Some-college']
fnlwgt [28952.0, nan] --> [28952.0]
class [0.0, 0.0] --> [0.0]
std_glucose [48.34938558, 48.34938558] --> [48.34938558]
income [nan, '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [39.0, 39.0] --> [39.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [4.304347826, 4.304347826] --> [4.304347826]
std_oxygen [24.68031756, 24.68031756] --> [24.68031756]
kurtosis_oxygen [7.429773097000001, 7.429773097000001] --> [7.429773097000001]

skewness_oxygen [60.3107299, 60.3107299] --> [60.3107299]

Merging 2 rows of name Maurice Riley...
name ['Maurice Riley', 'Maurice Riley'] --> ['Maurice Riley']
address ['USS Allen\r\nFPO AP 87677', 'USS Allen\r\nFPO AP 87677'] --> ['USS Allen\r\nFPO AP 87677']
race ['White', 'White'] --> ['White']
marital-status ['Never-married', nan] --> ['Never-married']
occupation ['Adm-clerical', 'Adm-clerical'] --> ['Adm-clerical']
pregnant ['F', 'F'] --> ['F']
education-num [10.0, nan] --> [10.0]
relationship ['Not-in-family', 'Not-in-family'] --> ['Not-in-family']
skewness_glucose [-0.095817466, -0.095817466] --> [-0.095817466]
mean_glucose [136.6171875, 136.6171875] --> [136.6171875]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [0.120976311, 0.120976311] --> [0.120976311]
education [nan, nan] --> [nan]
fnlwgt [183945.0, 183945.0] --> [183945.0]
class [0.0, 0.0] --> [0.0]
std_glucose [44.2867293, 44.2867293] --> [44.2867293]
income ['<=50K', nan] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [60.0, 60.0] --> [60.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', nan] --> ['Private']
mean_oxygen [3.306020067, 3.306020067] --> [3.306020067]
std_oxygen [21.81424308, 21.81424308] --> [21.81424308]
kurtosis_oxygen [7.619408353, 7.619408353] --> [7.619408353]
skewness_oxygen [63.38810252, 63.38810252] --> [63.38810252]

Merging 2 rows of name Carlos Edwards...
name ['Carlos Edwards', 'Carlos Edwards'] --> ['Carlos Edwards']
address ['61308 Rodriguez Ways\r\nLawsonside, WA 31045', '61308 Rodriguez Ways\r\nLawsonside, WA 31045'] --> ['61308 Rodriguez Ways\r\nLawsonside, WA 31045']
race [nan, 'White'] --> ['White']
marital-status ['Divorced', 'Divorced'] --> ['Divorced']
occupation ['Exec-managerial', 'Exec-managerial'] --> ['Exec-managerial']
pregnant ['f', 'f'] --> ['f']
education-num [9.0, 9.0] --> [9.0]
relationship [nan, 'Unmarried'] --> ['Unmarried']
skewness_glucose [-0.619413393, nan] --> [-0.619413393]
mean_glucose [130.03125, 130.03125] --> [130.03125]
capital-gain [0.0, nan] --> [0.0]
kurtosis_glucose [0.003571563, 0.003571563] --> [0.003571563]
education ['HS-grad', 'HS-grad'] --> ['HS-grad']
fnlwgt [231991.0, 231991.0] --> [231991.0]
class [0.0, 0.0] --> [0.0]
std_glucose [-5361.799743000001, -5361.799743000001] --> [-5361.799743000001]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country [nan, 'United-States'] --> ['United-States']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [2.160535117, 0.0] --> [2.160535117]
std_oxygen [14.5989639, 0.0] --> [14.5989639]
kurtosis_oxygen [10.20066563, 0.0] --> [10.20066563]
skewness_oxygen [130.7025902, 0.0] --> [130.7025902]

Merging 2 rows of name Donald Honda...
name ['Donald Honda', 'Donald Honda'] --> ['Donald Honda']
address ['1636 Kline Street Apt. 137\r\nHesterport, VT 97939', '1636 Kline Street Apt. 137\r\nHesterport, VT 97939'] --> ['1636 Kline Street Apt. 137\r\nHesterport, VT 97939']
race ['Black', 'Black'] --> ['Black']
marital-status ['Never-married', 'Never-married'] --> ['Never-married']
occupation ['Other-service', 'Other-service'] --> ['Other-service']
pregnant ['f', 'f'] --> ['f']
education-num [9.0, 9.0] --> [9.0]
relationship ['Unmarried', 'Unmarried'] --> ['Unmarried']
skewness_glucose [1.52441022, nan] --> [1.52441022]
mean_glucose [100.1484375, 100.1484375] --> [100.1484375]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [0.618729646, nan] --> [0.618729646]
education ['HS-grad', 'HS-grad'] --> ['HS-grad']
fnlwgt [401508.0, 401508.0] --> [401508.0]
class [0.0, nan] --> [0.0]
std_glucose [nan, nan] --> [nan]
income ['<=50K', nan] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [40.0, nan] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [1.732441472, 1.732441472] --> [1.732441472]
std_oxygen [16.48695596, 16.48695596] --> [16.48695596]
kurtosis_oxygen [12.49892652, 12.49892652] --> [12.49892652]
skewness_oxygen [168.36809240000005, 168.36809240000005] --> [168.36809240000005]

Merging 2 rows of name William West...
name ['William West', 'William West'] --> ['William West']
address ['Unit 2944 Box 8698\r\nDPO AE 53865', 'Unit 2944 Box 8698\r\nDPO AE 53865'] --> ['Unit 2944 Box 8698\r\nDPO AE 53865']
race ['White', 'White'] --> ['White']
marital-status ['Never-married', 'Never-married'] --> ['Never-married']
occupation [nan, 'Craft-repair'] --> ['Craft-repair']
pregnant ['f', 'f'] --> ['f']
education-num [5.0, 5.0] --> [5.0]
relationship ['Own-child', 'Own-child'] --> ['Own-child']
skewness_glucose [0.53176279, 0.53176279] --> [0.53176279]
mean_glucose [114.8828125, 114.8828125] --> [114.8828125]
capital-gain [nan, nan] --> [nan]
kurtosis_glucose [nan, 0.437513489] --> [0.437513489]
education ['9th', nan] --> ['9th']
fnlwgt [149427.0, 149427.0] --> [149427.0]
class [0.0, 0.0] --> [0.0]
std_glucose [44.84950897, 44.84950897] --> [44.84950897]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country [nan, 'United-States'] --> ['United-States']
hours-per-week [45.0, 45.0] --> [45.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [2.572742475, 2.572742475] --> [2.572742475]
std_oxygen [15.70768381, 15.70768381] --> [15.70768381]
kurtosis_oxygen [9.863247015, 9.863247015] --> [9.863247015]
skewness_oxygen [122.6499072, 122.6499072] --> [122.6499072]

Merging 2 rows of name Lemuel Williams...
name ['Lemuel Williams', 'Lemuel Williams'] --> ['Lemuel Williams']
address ['984 Scott Viaduct Suite 612\r\nNorth John, OH 75129', '984 Scott Viaduct Suite 612\r\nNorth John, OH 75129'] --> ['984 Scott Viaduct Suite 612\r\nNorth John, OH 75129']
race ['White', 'White'] --> ['White']
marital-status [nan, 'Never-married'] --> ['Never-married']
occupation ['Handlers-cleaners', 'Handlers-cleaners'] --> ['Handlers-cleaners']
pregnant [nan, 'f'] --> ['f']
education-num [10.0, 10.0] --> [10.0]
relationship ['Own-child', 'Own-child'] --> ['Own-child']
skewness_glucose [0.334338894, 0.334338894] --> [0.334338894]
mean_glucose [121.453125, 121.453125] --> [121.453125]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [0.223677959, 0.223677959] --> [0.223677959]
education [nan, 'Some-college'] --> ['Some-college']
fnlwgt [118693.0, 118693.0] --> [118693.0]
class [0.0, 0.0] --> [0.0]
std_glucose [nan, nan] --> [nan]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country [nan, 'United-States'] --> ['United-States']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [0.0, 0.0] --> [0.0]
std_oxygen [0.0, 0.0] --> [0.0]
kurtosis_oxygen [0.0, 0.0] --> [0.0]
skewness_oxygen [0.0, 0.0] --> [0.0]

Merging 2 rows of name Joshua Thomas...
name ['Joshua Thomas', 'Joshua Thomas'] --> ['Joshua Thomas']
address ['655 William Ranch\r\nRichardton, OK 48783', '655 William Ranch\r\nRichardton, OK 48783'] --> ['655 William Ranch\r\nRichardton, OK 48783']
race ['White', 'White'] --> ['White']
marital-status ['Divorced', 'Divorced'] --> ['Divorced']
occupation ['Machine-op-inspct', nan] --> ['Machine-op-inspct']
pregnant [nan, 'f'] --> ['f']
education-num [10.0, 10.0] --> [10.0]
relationship ['Not-in-family', 'Not-in-family'] --> ['Not-in-family']
skewness_glucose [nan, 18.75114241] --> [18.75114241]
mean_glucose [nan, 24.484375] --> [24.484375]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [4.347698018, 4.347698018] --> [4.347698018]
education [nan, 'Some-college'] --> ['Some-college']
fnlwgt [143342.0, 143342.0] --> [143342.0]
class [1.0, 1.0] --> [1.0]
std_glucose [41.16544067, 41.16544067] --> [41.16544067]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country [nan, 'United-States'] --> ['United-States']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [109.7892977, 109.7892977] --> [109.7892977]
std_oxygen [82.21609152, 82.21609152] --> [82.21609152]
kurtosis_oxygen [0.010425467, 0.010425467] --> [0.010425467]
skewness_oxygen [-1.259046483, -1.259046483] --> [-1.259046483]

Merging 2 rows of name Kenneth Mcwhorter...
name ['Kenneth Mcwhorter', 'Kenneth Mcwhorter'] --> ['Kenneth Mcwhorter']
address ['1965 Thomas Drives Apt. 443\r\nEast Angela, ND 15911', '1965 Thomas Drives Apt. 443\r\nEast Angela, ND 15911'] --> ['1965 Thomas Drives Apt. 443\r\nEast Angela, ND 15911']
race ['White', 'White'] --> ['White']
marital-status ['Married-civ-spouse', nan] --> ['Married-civ-spouse']
occupation ['?', '?'] --> ['?']
pregnant ['f', nan] --> ['f']
education-num [9.0, 9.0] --> [9.0]
relationship ['Husband', nan] --> ['Husband']
skewness_glucose [0.198736381, 0.198736381] --> [0.198736381]
mean_glucose [102.1953125, 102.1953125] --> [102.1953125]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [0.4382639820000001, 0.4382639820000001] --> [0.4382639820000001]
education ['HS-grad', 'HS-grad'] --> ['HS-grad']
fnlwgt [54851.0, nan] --> [54851.0]
class [0.0, 0.0] --> [0.0]
std_glucose [51.75665093, 51.75665093] --> [51.75665093]
income [nan, '<=50K'] --> ['<=50K']
native-country [nan, 'United-States'] --> ['United-States']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['?', '?'] --> ['?']
mean_oxygen [2.345317726, 2.345317726] --> [2.345317726]
std_oxygen [18.33076767, 18.33076767] --> [18.33076767]
kurtosis_oxygen [8.817626823, 8.817626823] --> [8.817626823]
skewness_oxygen [84.94159447, 84.94159447] --> [84.94159447]

Merging 2 rows of name Ronald Vernon...
name ['Ronald Vernon', 'Ronald Vernon'] --> ['Ronald Vernon']
address ['4575 Lopez Spurs Apt. 645\r\nJessicachester, DE 45671', '4575 Lopez Spurs Apt. 645\r\nJessicachester, DE 45671'] --> ['4575 Lopez Spurs Apt. 645\r\nJessicachester, DE 45671']
race ['White', 'White'] --> ['White']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation [nan, 'Craft-repair'] --> ['Craft-repair']
pregnant ['f', 'f'] --> ['f']
education-num [9.0, 9.0] --> [9.0]
relationship ['Husband', nan] --> ['Husband']
skewness_glucose [nan, 0.566454534] --> [0.566454534]
mean_glucose [143.609375, nan] --> [143.609375]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [-0.16055097699999998, -0.16055097699999998] --> [-0.16055097699999998]
education ['HS-grad', 'HS-grad'] --> ['HS-grad']
fnlwgt [nan, 192939.0] --> [192939.0]
class [0.0, 0.0] --> [0.0]
std_glucose [46.58564599, 46.58564599] --> [46.58564599]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [nan, 50.0] --> [50.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Self-emp-not-inc', 'Self-emp-not-inc'] --> ['Self-emp-not-inc']
mean_oxygen [2.439799331, 2.439799331] --> [2.439799331]
std_oxygen [16.71681972, 16.71681972] --> [16.71681972]
kurtosis_oxygen [10.81322553, 10.81322553] --> [10.81322553]
skewness_oxygen [137.6597166, 137.6597166] --> [137.6597166]

Merging 2 rows of name Charles Malone...
name ['Charles Malone', 'Charles Malone'] --> ['Charles Malone']
address ['432 Martha Estate\r\nNew Joshua, MI 56599', '432 Martha Estate\r\nNew Joshua, MI 56599'] --> ['432 Martha Estate\r\nNew Joshua, MI 56599']
race ['White', 'White'] --> ['White']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Machine-op-inspct', nan] --> ['Machine-op-inspct']
pregnant ['f', 'f'] --> ['f']
education-num [9.0, 9.0] --> [9.0]
relationship ['Husband', 'Husband'] --> ['Husband']
skewness_glucose [-0.063665266, -0.063665266] --> [-0.063665266]
mean_glucose [123.8046875, 123.8046875] --> [123.8046875]
capital-gain [2885.0, nan] --> [2885.0]
kurtosis_glucose [0.185522381, 0.185522381] --> [0.185522381]
education ['HS-grad', 'HS-grad'] --> ['HS-grad']
fnlwgt [187821.0, 187821.0] --> [187821.0]
class [0.0, nan] --> [0.0]
std_glucose [47.10726765, 47.10726765] --> [47.10726765]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [nan, nan] --> [nan]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [101.6973244, 101.6973244] --> [101.6973244]
std_oxygen [72.73267606, 72.73267606] --> [72.73267606]
kurtosis_oxygen [-0.641247754, -0.641247754] --> [-0.641247754]
skewness_oxygen [-1.48776587, -1.48776587] --> [-1.48776587]

Merging 2 rows of name Daryl Lippert...
name ['Daryl Lippert', 'Daryl Lippert'] --> ['Daryl Lippert']
address ['916 Saunders Via Apt. 074\r\nPort Renee, IA 68482', '916 Saunders Via Apt. 074\r\nPort Renee, IA 68482'] --> ['916 Saunders Via Apt. 074\r\nPort Renee, IA 68482']
race ['Black', 'Black'] --> ['Black']
marital-status ['Never-married', 'Never-married'] --> ['Never-married']
occupation ['Machine-op-inspct', nan] --> ['Machine-op-inspct']
pregnant ['f', 'f'] --> ['f']
education-num [9.0, 9.0] --> [9.0]
relationship ['Other-relative', 'Other-relative'] --> ['Other-relative']
skewness_glucose [13.91928796, nan] --> [13.91928796]
mean_glucose [54.296875, nan] --> [54.296875]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [3.117393103, 3.117393103] --> [3.117393103]
education ['HS-grad', 'HS-grad'] --> ['HS-grad']
fnlwgt [162604.0, 162604.0] --> [162604.0]
class [1.0, 1.0] --> [1.0]
std_glucose [34.24894145, nan] --> [34.24894145]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [62.39130435, 0.0] --> [62.39130435]
std_oxygen [75.5878239, 0.0] --> [75.5878239]
kurtosis_oxygen [1.066153855, 0.0] --> [1.066153855]
skewness_oxygen [0.016718351, 0.0] --> [0.016718351]

Merging 2 rows of name Carl Dobransky...
name ['Carl Dobransky', 'Carl Dobransky'] --> ['Carl Dobransky']
address ['3007 Patrick Forks Suite 085\r\nAdrianburgh, AK 12745', '3007 Patrick Forks Suite 085\r\nAdrianburgh, AK 12745'] --> ['3007 Patrick Forks Suite 085\r\nAdrianburgh, AK 12745']
race ['White', nan] --> ['White']
marital-status ['Divorced', nan] --> ['Divorced']
occupation ['Machine-op-inspct', 'Machine-op-inspct'] --> ['Machine-op-inspct']
pregnant ['f', 'f'] --> ['f']
education-num [9.0, 9.0] --> [9.0]
relationship ['Own-child', 'Own-child'] --> ['Own-child']
skewness_glucose [18.82047551, 18.82047551] --> [18.82047551]
mean_glucose [nan, 43.3046875] --> [43.3046875]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [3.87815475, nan] --> [3.87815475]
education ['HS-grad', 'HS-grad'] --> ['HS-grad']
fnlwgt [234220.0, 234220.0] --> [234220.0]
class [1.0, 1.0] --> [1.0]
std_glucose [33.89633982, 33.89633982] --> [33.89633982]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['Cuba', 'Cuba'] --> ['Cuba']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [39.47993311, 0.0] --> [39.47993311]
std_oxygen [62.31246459, 0.0] --> [62.31246459]
kurtosis_oxygen [1.826541499, 0.0] --> [1.826541499]
skewness_oxygen [2.669156358, 0.0] --> [2.669156358]

Merging 2 rows of name Robert Williams...
name ['Robert Williams', 'Robert Williams'] --> ['Robert Williams']
address ['862 Caitlin Loop Apt. 381\r\nRebeccaville, MI 84841', '862 Caitlin Loop Apt. 381\r\nRebeccaville, MI 84841'] --> ['862 Caitlin Loop Apt. 381\r\nRebeccaville, MI 84841']
race ['White', 'White'] --> ['White']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Farming-fishing', 'Farming-fishing'] --> ['Farming-fishing']
pregnant ['f', 'f'] --> ['f']
education-num [9.0, nan] --> [9.0]
relationship ['Husband', 'Husband'] --> ['Husband']
skewness_glucose [-0.16871837899999995, -0.16871837899999995] --> [-0.16871837899999995]
mean_glucose [112.6328125, 112.6328125] --> [112.6328125]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [0.111596657, nan] --> [0.111596657]
education ['HS-grad', 'HS-grad'] --> ['HS-grad']
fnlwgt [204402.0, 204402.0] --> [204402.0]
class [0.0, nan] --> [0.0]
std_glucose [4836.480369, 4836.480369] --> [4836.480369]
income [nan, '>50K'] --> ['>50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [84.0, 84.0] --> [84.0]
capital-loss [nan, nan] --> [nan]
workclass ['Self-emp-not-inc', 'Self-emp-not-inc'] --> ['Self-emp-not-inc']
mean_oxygen [7.637123746, 7.637123746] --> [7.637123746]
std_oxygen [33.72238759, 33.72238759] --> [33.72238759]
kurtosis_oxygen [4.554693126, 4.554693126] --> [4.554693126]
skewness_oxygen [20.25513679, 20.25513679] --> [20.25513679]

Merging 2 rows of name Mark Janes...
name ['Mark Janes', 'Mark Janes'] --> ['Mark Janes']
address ['59024 Tammy Rapid Suite 544\r\nJohnport, SD 14437', '59024 Tammy Rapid Suite 544\r\nJohnport, SD 14437'] --> ['59024 Tammy Rapid Suite 544\r\nJohnport, SD 14437']
race [nan, 'White'] --> ['White']
marital-status ['Widowed', 'Widowed'] --> ['Widowed']
occupation ['Adm-clerical', 'Adm-clerical'] --> ['Adm-clerical']
pregnant ['f', 'f'] --> ['f']
education-num [13.0, nan] --> [13.0]
relationship ['Not-in-family', 'Not-in-family'] --> ['Not-in-family']
skewness_glucose [2.199301473, 2.199301473] --> [2.199301473]
mean_glucose [116.46875, 116.46875] --> [116.46875]
capital-gain [nan, 0.0] --> [0.0]
kurtosis_glucose [0.386351829, 0.386351829] --> [0.386351829]
education ['Bachelors', 'Bachelors'] --> ['Bachelors']
fnlwgt [226916.0, 226916.0] --> [226916.0]
class [nan, 0.0] --> [0.0]
std_glucose [35.6322224, 35.6322224] --> [35.6322224]
income ['>50K', '>50K'] --> ['>50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [0.0, nan] --> [0.0]
workclass ['Federal-gov', 'Federal-gov'] --> ['Federal-gov']
mean_oxygen [1.54180602, 1.54180602] --> [1.54180602]
std_oxygen [14.17310886, 14.17310886] --> [14.17310886]
kurtosis_oxygen [12.02291447, 12.02291447] --> [12.02291447]
skewness_oxygen [164.2964136, 164.2964136] --> [164.2964136]

Merging 2 rows of name James Lehoux...
name ['James Lehoux', 'James Lehoux'] --> ['James Lehoux']
address ['73788 Grace Throughway Apt. 100\r\nLake Kimberly, VT 09065', '73788 Grace Throughway Apt. 100\r\nLake Kimberly, VT 09065'] --> ['73788 Grace Throughway Apt. 100\r\nLake Kimberly, VT 09065']
race ['Black', 'Black'] --> ['Black']
marital-status [nan, 'Never-married'] --> ['Never-married']
occupation ['Craft-repair', 'Craft-repair'] --> ['Craft-repair']
pregnant ['f', 'f'] --> ['f']
education-num [9.0, nan] --> [9.0]
relationship ['Own-child', 'Own-child'] --> ['Own-child']
skewness_glucose [0.120479725, 0.120479725] --> [0.120479725]
mean_glucose [108.296875, 108.296875] --> [108.296875]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [0.462361504, 0.462361504] --> [0.462361504]
education ['HS-grad', 'HS-grad'] --> ['HS-grad']
fnlwgt [272856.0, 272856.0] --> [272856.0]
class [0.0, 0.0] --> [0.0]
std_glucose [-4740.539252000001, -4740.539252000001] --> [-4740.539252000001]
income ['<=50K', nan] --> ['<=50K']
native-country ['England', 'England'] --> ['England']
hours-per-week [50.0, 50.0] --> [50.0]
capital-loss [nan, 0.0] --> [0.0]

workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [3.022575251, 3.022575251] --> [3.022575251]
std_oxygen [19.59541425, 19.59541425] --> [19.59541425]
kurtosis_oxygen [8.179942886000001, 8.179942886000001] --> [8.179942886000001]
skewness_oxygen [75.08747933, 75.08747933] --> [75.08747933]

Merging 2 rows of name Leon Ack...
name ['Leon Ack', 'Leon Ack'] --> ['Leon Ack']
address ['12348 Ford Bypass\r\nPort Zacharyville, RI 36085', '12348 Ford Bypass\r\nPort Zacharyville, RI 36085'] --> ['12348 Ford Bypass\r\nPort Zacharyville, RI 36085']
race ['White', 'White'] --> ['White']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation [nan, 'Exec-managerial'] --> ['Exec-managerial']
pregnant ['f', 'f'] --> ['f']
education-num [nan, 13.0] --> [13.0]
relationship ['Wife', 'Wife'] --> ['Wife']
skewness_glucose [32.24540555, 32.24540555] --> [32.24540555]
mean_glucose [29.6875, 29.6875] --> [29.6875]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [5.166467548, 5.166467548] --> [5.166467548]
education ['Bachelors', 'Bachelors'] --> ['Bachelors']
fnlwgt [225660.0, 225660.0] --> [225660.0]
class [nan, 1.0] --> [1.0]
std_glucose [29.2907702, 29.2907702] --> [29.2907702]
income ['>50K', '>50K'] --> ['>50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [nan, 45.0] --> [45.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass [nan, 'Private'] --> ['Private']
mean_oxygen [19.28344482, 19.28344482] --> [19.28344482]
std_oxygen [49.85474647, 49.85474647] --> [49.85474647]
kurtosis_oxygen [3.045731387, 3.045731387] --> [3.045731387]
skewness_oxygen [8.938013716, 8.938013716] --> [8.938013716]

Merging 2 rows of name Lewis Morrison...
name ['Lewis Morrison', 'Lewis Morrison'] --> ['Lewis Morrison']
address ['4154 Briana Loaf\r\nNew Teresa, PA 03995', '4154 Briana Loaf\r\nNew Teresa, PA 03995'] --> ['4154 Briana Loaf\r\nNew Teresa, PA 03995']
race ['White', 'White'] --> ['White']
marital-status ['Divorced', 'Divorced'] --> ['Divorced']
occupation ['Prof-specialty', 'Prof-specialty'] --> ['Prof-specialty']
pregnant [nan, 'f'] --> ['f']
education-num [10.0, 10.0] --> [10.0]
relationship ['Not-in-family', 'Not-in-family'] --> ['Not-in-family']
skewness_glucose [1.983815279, nan] --> [1.983815279]
mean_glucose [nan, 89.6796875] --> [89.6796875]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [0.687681573, 0.687681573] --> [0.687681573]
education ['Some-college', 'Some-college'] --> ['Some-college']
fnlwgt [nan, 89389.0] --> [89389.0]
class [0.0, 0.0] --> [0.0]
std_glucose [39.71970811, 39.71970811] --> [39.71970811]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country [nan, 'United-States'] --> ['United-States']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass [nan, 'Private'] --> ['Private']
mean_oxygen [1.610367893, 1.610367893] --> [1.610367893]
std_oxygen [11.37791204, 11.37791204] --> [11.37791204]
kurtosis_oxygen [12.51309092, 12.51309092] --> [12.51309092]
skewness_oxygen [223.9366994, 223.9366994] --> [223.9366994]

Merging 2 rows of name Vernon Sagon...
name ['Vernon Sagon', 'Vernon Sagon'] --> ['Vernon Sagon']
address ['81395 Aguilar Mission Suite 404\r\nNew Caitlin, IA 75654', '81395 Aguilar Mission Suite 404\r\nNew Caitlin, IA 75654'] --> ['81395 Aguilar Mission Suite 404\r\nNew Caitlin, IA 75654']
race ['White', 'White'] --> ['White']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Craft-repair', 'Craft-repair'] --> ['Craft-repair']
pregnant ['f', nan] --> ['f']
education-num [13.0, 13.0] --> [13.0]
relationship ['Husband', 'Husband'] --> ['Husband']
skewness_glucose [1.022974544, 1.022974544] --> [1.022974544]
mean_glucose [105.625, 105.625] --> [105.625]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [0.3694075570000001, 0.3694075570000001] --> [0.3694075570000001]
education [nan, 'Bachelors'] --> ['Bachelors']
fnlwgt [149388.0, 149388.0] --> [149388.0]
class [0.0, 0.0] --> [0.0]
std_glucose [41.35724695, 41.35724695] --> [41.35724695]
income ['>50K', '>50K'] --> ['>50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [0.0, nan] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [0.952341137, 0.0] --> [0.952341137]
std_oxygen [12.5853037, 0.0] --> [12.5853037]
kurtosis_oxygen [15.38298083, 0.0] --> [15.38298083]
skewness_oxygen [255.8740901, 0.0] --> [255.8740901]

Merging 2 rows of name John Pierce...
name ['John Pierce', 'John Pierce'] --> ['John Pierce']
address ['4433 Ryan Courts\r\nDonnamouth, DE 83886', '4433 Ryan Courts\r\nDonnamouth, DE 83886'] --> ['4433 Ryan Courts\r\nDonnamouth, DE 83886']
race ['White', 'White'] --> ['White']
marital-status [nan, 'Divorced'] --> ['Divorced']
occupation ['Prof-specialty', 'Prof-specialty'] --> ['Prof-specialty']
pregnant ['f', 'f'] --> ['f']
education-num [13.0, 13.0] --> [13.0]
relationship ['Own-child', 'Own-child'] --> ['Own-child']
skewness_glucose [0.018174548, 0.018174548] --> [0.018174548]
mean_glucose [110.75, 110.75] --> [110.75]
capital-gain [nan, 0.0] --> [0.0]
kurtosis_glucose [0.276673145, 0.276673145] --> [0.276673145]
education ['Bachelors', 'Bachelors'] --> ['Bachelors']
fnlwgt [nan, 66118.0] --> [66118.0]
class [nan, 0.0] --> [0.0]
std_glucose [49.62279592, 49.62279592] --> [49.62279592]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country [nan, 'United-States'] --> ['United-States']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [nan, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [5.753344482, 5.753344482] --> [5.753344482]
std_oxygen [29.10964506, 29.10964506] --> [29.10964506]
kurtosis_oxygen [6.073729256, 6.073729256] --> [6.073729256]
skewness_oxygen [39.28302728, 39.28302728] --> [39.28302728]

Merging 2 rows of name Larry Wolf...
name ['Larry Wolf', 'Larry Wolf'] --> ['Larry Wolf']
address ['9525 Anderson Turnpike\r\nColeview, LA 79130', '9525 Anderson Turnpike\r\nColeview, LA 79130'] --> ['9525 Anderson Turnpike\r\nColeview, LA 79130']
race ['Black', 'Black'] --> ['Black']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Other-service', 'Other-service'] --> ['Other-service']
pregnant [nan, 'f'] --> ['f']
education-num [9.0, 9.0] --> [9.0]
relationship ['Husband', 'Husband'] --> ['Husband']
skewness_glucose [-0.143023485, -0.143023485] --> [-0.143023485]
mean_glucose [nan, 100.984375] --> [100.984375]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [0.540276064, 0.540276064] --> [0.540276064]
education ['HS-grad', 'HS-grad'] --> ['HS-grad']
fnlwgt [nan, nan] --> [nan]
class [0.0, 0.0] --> [0.0]
std_glucose [56.60830112, 56.60830112] --> [56.60830112]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [0.0, 5.711538462] --> [5.711538462]
std_oxygen [0.0, 28.86552666] --> [28.86552666]
kurtosis_oxygen [0.0, 6.334580937999999] --> [6.334580937999999]
skewness_oxygen [0.0, 42.09565428] --> [42.09565428]

Merging 3 rows of name James Angelo...
name ['James Angelo', 'James Angelo', 'James Angelo'] --> ['James Angelo']
address ['41824 Lucas Street Suite 822\r\nGilbertberg, FL 83075', '41824 Lucas Street Suite 822\r\nGilbertberg, FL 83075', '41824 Lucas Street Suite 822\r\nGilbertberg, FL 83075'] --> ['41824 Lucas Street Suite 822\r\nGilbertberg, FL 83075']
race ['White', 'White', 'White'] --> ['White']
marital-status ['Divorced', 'Divorced', 'Divorced'] --> ['Divorced']
occupation ['Sales', nan, 'Sales'] --> ['Sales']
pregnant ['f', 'f', nan] --> ['f']
education-num [13.0, nan, 13.0] --> [13.0]
relationship ['Not-in-family', 'Not-in-family', 'Not-in-family'] --> ['Not-in-family']
skewness_glucose [46.86685291, nan, nan] --> [46.86685291]
mean_glucose [31.0859375, 31.0859375, 31.0859375] --> [31.0859375]
capital-gain [0.0, 0.0, 0.0] --> [0.0]
kurtosis_glucose [6.651450409, 6.651450409, 6.651450409] --> [6.651450409]
education ['Bachelors', 'Bachelors', 'Bachelors'] --> ['Bachelors']
fnlwgt [70720.0, 70720.0, nan] --> [70720.0]
class [1.0, nan, nan] --> [1.0]
std_glucose [29.67901914, 29.67901914, 29.67901914] --> [29.679019139999998]
income ['>50K', '>50K', '>50K'] --> ['>50K']
native-country ['United-States', nan, nan] --> ['United-States']
hours-per-week [55.0, nan, 55.0] --> [55.0]
capital-loss [0.0, 0.0, 0.0] --> [0.0]
workclass ['Private', 'Private', 'Private'] --> ['Private']
mean_oxygen [127.24581940000002, 127.24581940000002, 127.24581940000002] --> [127.24581940000002]
std_oxygen [78.08266634, 78.08266634, 78.08266634] --> [78.08266634]
kurtosis_oxygen [-0.137218605, -0.137218605, -0.137218605] --> [-0.137218605]
skewness_oxygen [-0.99087053, -0.99087053, -0.99087053] --> [-0.99087053]

Merging 2 rows of name Randy Parizo...
name ['Randy Parizo', 'Randy Parizo'] --> ['Randy Parizo']
address ['PSC 5801, Box 8140\r\nAPO AP 55578', 'PSC 5801, Box 8140\r\nAPO AP 55578'] --> ['PSC 5801, Box 8140\r\nAPO AP 55578']
race ['White', 'White'] --> ['White']
marital-status ['Never-married', 'Never-married'] --> ['Never-married']
occupation ['Other-service', 'Other-service'] --> ['Other-service']
pregnant ['f', 'f'] --> ['f']
education-num [9.0, 9.0] --> [9.0]
relationship ['Own-child', 'Own-child'] --> ['Own-child']
skewness_glucose [1.409660357, nan] --> [1.409660357]
mean_glucose [77.921875, 77.921875] --> [77.921875]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [1.464574632, nan] --> [1.464574632]
education ['HS-grad', 'HS-grad'] --> ['HS-grad']
fnlwgt [183930.0, 183930.0] --> [183930.0]
class [1.0, nan] --> [1.0]
std_glucose [-5683.495972, -5683.495972] --> [-5683.495972]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [12.0, 12.0] --> [12.0]
capital-loss [0.0, nan] --> [0.0]
workclass ['Private', nan] --> ['Private']
mean_oxygen [37.22324415, 37.22324415] --> [37.22324415]
std_oxygen [69.76036019, 69.76036019] --> [69.76036019]
kurtosis_oxygen [1.729314585, 1.729314585] --> [1.729314585]
skewness_oxygen [1.678063525, 1.678063525] --> [1.678063525]

Merging 2 rows of name Peter Holt...
name ['Peter Holt', 'Peter Holt'] --> ['Peter Holt']
address ['980 Heath Vista\r\nElizabethbury, ND 69070', '980 Heath Vista\r\nElizabethbury, ND 69070'] --> ['980 Heath Vista\r\nElizabethbury, ND 69070']
race [nan, 'White'] --> ['White']
marital-status [nan, 'Never-married'] --> ['Never-married']
occupation ['Farming-fishing', 'Farming-fishing'] --> ['Farming-fishing']
pregnant ['f', 'f'] --> ['f']
education-num [10.0, 10.0] --> [10.0]
relationship [nan, 'Unmarried'] --> ['Unmarried']
skewness_glucose [6.897894438, 6.897894438] --> [6.897894438]
mean_glucose [62.1640625, 62.1640625] --> [62.1640625]
capital-gain [nan, 0.0] --> [0.0]
kurtosis_glucose [2.438793131, 2.438793131] --> [2.438793131]
education ['Some-college', 'Some-college'] --> ['Some-college']
fnlwgt [nan, 181820.0] --> [181820.0]
class [1.0, 1.0] --> [1.0]
std_glucose [45.52056152, 45.52056152] --> [45.52056152]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [45.0, 45.0] --> [45.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass [nan, 'Private'] --> ['Private']
mean_oxygen [16.84615385, 16.84615385] --> [16.84615385]
std_oxygen [49.43283417, 49.43283417] --> [49.43283417]
kurtosis_oxygen [3.102149052, 3.102149052] --> [3.102149052]
skewness_oxygen [8.877464039, 8.877464039] --> [8.877464039]

Merging 2 rows of name Jason Sanders...
name ['Jason Sanders', 'Jason Sanders'] --> ['Jason Sanders']
address ['100 Griffin Glen Suite 394\r\nBrownville, OR 48534', '100 Griffin Glen Suite 394\r\nBrownville, OR 48534'] --> ['100 Griffin Glen Suite 394\r\nBrownville, OR 48534']
race [nan, 'White'] --> ['White']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Craft-repair', 'Craft-repair'] --> ['Craft-repair']
pregnant ['f', 'f'] --> ['f']
education-num [9.0, 9.0] --> [9.0]
relationship ['Husband', 'Husband'] --> ['Husband']
skewness_glucose [0.3968333570000001, 0.3968333570000001] --> [0.3968333570000001]
mean_glucose [156.25, 156.25] --> [156.25]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [nan, -0.238223518] --> [-0.238223518]
education ['HS-grad', 'HS-grad'] --> ['HS-grad']
fnlwgt [136878.0, nan] --> [136878.0]
class [0.0, 0.0] --> [0.0]
std_glucose [44.64390356, 44.64390356] --> [44.64390356]
income ['>50K', '>50K'] --> ['>50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [60.0, 60.0] --> [60.0]
capital-loss [nan, 0.0] --> [0.0]
workclass ['Self-emp-inc', nan] --> ['Self-emp-inc']
mean_oxygen [2.824414716, 0.0] --> [2.824414716]
std_oxygen [16.99860134, 0.0] --> [16.99860134]
kurtosis_oxygen [9.44711572, 0.0] --> [9.44711572]
skewness_oxygen [110.0677345, 0.0] --> [110.0677345]

Merging 2 rows of name Joel Cramer...
name ['Joel Cramer', 'Joel Cramer'] --> ['Joel Cramer']
address ['7928 Garcia Bypass\r\nNew Andreaton, MO 45444', '7928 Garcia Bypass\r\nNew Andreaton, MO 45444'] --> ['7928 Garcia Bypass\r\nNew Andreaton, MO 45444']
race ['White', 'White'] --> ['White']
marital-status ['Never-married', 'Never-married'] --> ['Never-married']
occupation ['Adm-clerical', 'Adm-clerical'] --> ['Adm-clerical']
pregnant ['f', nan] --> ['f']
education-num [10.0, 10.0] --> [10.0]
relationship [nan, nan] --> [nan]
skewness_glucose [nan, 44.145531] --> [44.145531]
mean_glucose [27.8515625, nan] --> [27.8515625]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [6.197866078, 6.197866078] --> [6.197866078]
education ['Some-college', 'Some-college'] --> ['Some-college']
fnlwgt [351040.0, 351040.0] --> [351040.0]
class [1.0, 1.0] --> [1.0]
std_glucose [2766.543699, 2766.543699] --> [2766.543699]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['Puerto-Rico', nan] --> ['Puerto-Rico']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [75.80016722, 75.80016722] --> [75.80016722]
std_oxygen [69.46730686, 69.46730686] --> [69.46730686]
kurtosis_oxygen [0.963370687, 0.963370687] --> [0.963370687]
skewness_oxygen [0.015395832, 0.015395832] --> [0.015395832]

Merging 3 rows of name James Angelo...
name ['James Angelo', 'James Angelo', 'James Angelo'] --> ['James Angelo']
address ['41824 Lucas Street Suite 822\r\nGilbertberg, FL 83075', '41824 Lucas Street Suite 822\r\nGilbertberg, FL 83075', '41824 Lucas Street Suite 822\r\nGilbertberg, FL 83075'] --> ['41824 Lucas Street Suite 822\r\nGilbertberg, FL 83075']
race ['White', 'White', 'White'] --> ['White']
marital-status ['Divorced', 'Divorced', 'Divorced'] --> ['Divorced']
occupation ['Sales', nan, 'Sales'] --> ['Sales']
pregnant ['f', 'f', nan] --> ['f']
education-num [13.0, nan, 13.0] --> [13.0]
relationship ['Not-in-family', 'Not-in-family', 'Not-in-family'] --> ['Not-in-family']
skewness_glucose [46.86685291, nan, nan] --> [46.86685291]
mean_glucose [31.0859375, 31.0859375, 31.0859375] --> [31.0859375]
capital-gain [0.0, 0.0, 0.0] --> [0.0]
kurtosis_glucose [6.651450409, 6.651450409, 6.651450409] --> [6.651450409]
education ['Bachelors', 'Bachelors', 'Bachelors'] --> ['Bachelors']
fnlwgt [70720.0, 70720.0, nan] --> [70720.0]
class [1.0, nan, nan] --> [1.0]
std_glucose [29.67901914, 29.67901914, 29.67901914] --> [29.679019139999998]
income ['>50K', '>50K', '>50K'] --> ['>50K']
native-country ['United-States', nan, nan] --> ['United-States']
hours-per-week [55.0, nan, 55.0] --> [55.0]
capital-loss [0.0, 0.0, 0.0] --> [0.0]
workclass ['Private', 'Private', 'Private'] --> ['Private']
mean_oxygen [127.24581940000002, 127.24581940000002, 127.24581940000002] --> [127.24581940000002]
std_oxygen [78.08266634, 78.08266634, 78.08266634] --> [78.08266634]
kurtosis_oxygen [-0.137218605, -0.137218605, -0.137218605] --> [-0.137218605]
skewness_oxygen [-0.99087053, -0.99087053, -0.99087053] --> [-0.99087053]

Merging 2 rows of name Randy Maynard...
name ['Randy Maynard', 'Randy Maynard'] --> ['Randy Maynard']
address ['PSC 7763, Box 2698\r\nAPO AA 93977', 'PSC 7763, Box 2698\r\nAPO AA 93977'] --> ['PSC 7763, Box 2698\r\nAPO AA 93977']
race ['White', 'White'] --> ['White']
marital-status ['Married-civ-spouse', 'Married-civ-spouse'] --> ['Married-civ-spouse']
occupation ['Exec-managerial', 'Exec-managerial'] --> ['Exec-managerial']
pregnant ['f', 'f'] --> ['f']
education-num [13.0, 13.0] --> [13.0]
relationship ['Husband', 'Husband'] --> ['Husband']
skewness_glucose [nan, 0.7507348079999999] --> [0.7507348079999999]
mean_glucose [85.4453125, 85.4453125] --> [85.4453125]
capital-gain [7688.0, 7688.0] --> [7688.0]
kurtosis_glucose [0.562735832, 0.562735832] --> [0.562735832]
education ['Bachelors', 'Bachelors'] --> ['Bachelors']
fnlwgt [nan, 261929.0] --> [261929.0]
class [0.0, 0.0] --> [0.0]
std_glucose [44.47151627, 44.47151627] --> [44.47151627]
income ['>50K', '>50K'] --> ['>50K']
native-country ['United-States', nan] --> ['United-States']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [nan, nan] --> [nan]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [1.938963211, 1.938963211] --> [1.938963211]
std_oxygen [11.54475602, 11.54475602] --> [11.54475602]
kurtosis_oxygen [11.83729655, 11.83729655] --> [11.83729655]
skewness_oxygen [209.1108545, 209.1108545] --> [209.1108545]

Merging 2 rows of name Keith Munoz...
name ['Keith Munoz', 'Keith Munoz'] --> ['Keith Munoz']
address ['052 Blake Mill\r\nNorth Kristymouth, PA 59661', '052 Blake Mill\r\nNorth Kristymouth, PA 59661'] --> ['052 Blake Mill\r\nNorth Kristymouth, PA 59661']
race [nan, 'White'] --> ['White']
marital-status ['Divorced', 'Divorced'] --> ['Divorced']
occupation ['Adm-clerical', nan] --> ['Adm-clerical']
pregnant ['f', 'f'] --> ['f']
education-num [9.0, 9.0] --> [9.0]
relationship ['Unmarried', 'Unmarried'] --> ['Unmarried']
skewness_glucose [-0.339663861, -0.339663861] --> [-0.339663861]
mean_glucose [118.6875, nan] --> [118.6875]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [0.079110661, nan] --> [0.079110661]
education ['HS-grad', 'HS-grad'] --> ['HS-grad']
fnlwgt [nan, 109097.0] --> [109097.0]
class [0.0, 0.0] --> [0.0]
std_glucose [-5209.512783, -5209.512783] --> [-5209.512783]
income [nan, '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [48.0, 48.0] --> [48.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass ['Private', 'Private'] --> ['Private']
mean_oxygen [3.764214047, 3.764214047] --> [3.764214047]
std_oxygen [20.50062215, 20.50062215] --> [20.50062215]
kurtosis_oxygen [7.197558738, 7.197558738] --> [7.197558738]
skewness_oxygen [58.91821754, 58.91821754] --> [58.91821754]

Merging 2 rows of name Jermaine Wagner...
name ['Jermaine Wagner', 'Jermaine Wagner'] --> ['Jermaine Wagner']
address ['9219 Joshua Fork\r\nChristinefort, SC 91786', '9219 Joshua Fork\r\nChristinefort, SC 91786'] --> ['9219 Joshua Fork\r\nChristinefort, SC 91786']
race [nan, nan] --> [nan]
marital-status ['Never-married', 'Never-married'] --> ['Never-married']
occupation ['Other-service', 'Other-service'] --> ['Other-service']
pregnant [nan, 'f'] --> ['f']
education-num [10.0, 10.0] --> [10.0]
relationship ['Own-child', 'Own-child'] --> ['Own-child']
skewness_glucose [nan, 16.5225833] --> [16.5225833]
mean_glucose [38.0546875, 38.0546875] --> [38.0546875]
capital-gain [0.0, 0.0] --> [0.0]
kurtosis_glucose [3.884819846, 3.884819846] --> [3.884819846]
education ['Some-college', 'Some-college'] --> ['Some-college']
fnlwgt [204641.0, 204641.0] --> [204641.0]

class [nan, 1.0] --> [1.0]
std_glucose [37.99430644, 37.99430644] --> [37.99430644]
income ['<=50K', '<=50K'] --> ['<=50K']
native-country ['United-States', 'United-States'] --> ['United-States']
hours-per-week [40.0, 40.0] --> [40.0]
capital-loss [0.0, 0.0] --> [0.0]
workclass [nan, 'Private'] --> ['Private']
mean_oxygen [34.35451505, 34.35451505] --> [34.35451505]
std_oxygen [59.02645009, 59.02645009] --> [59.02645009]
kurtosis_oxygen [1.850542127, 1.850542127] --> [1.850542127]
skewness_oxygen [2.812553835, 2.812553835] --> [2.812553835]
Applying changes...
Filling missing data with linear regression values...
Filling missing data with median values...
id --> 670.0
name --> Jorge Clark
address --> 038 Diaz Motorway Apt. 382
Grayberg, OK 51763
race --> White
marital-status --> Married-civ-spouse
occupation --> Craft-repair
pregnant --> 0.0
education-num --> 10.0
relationship --> Husband
skewness_glucose --> 0.40531565
mean_glucose --> 110.0546875
capital-gain --> 0.0
kurtosis_glucose --> 0.306143575
education --> HS-grad
fnlwgt --> 176813.5
class --> 0.0
std_glucose --> 44.64390356
income --> <=50K
native-country --> United-States
hours-per-week --> 40.0
capital-loss --> 0.0
workclass --> Private
mean_oxygen --> 3.598662207
std_oxygen --> 21.85235724
kurtosis_oxygen --> 7.395703266
skewness_oxygen --> 59.38975335

In [27]:
# Print train data after fix
print("========================== Train Data Statistics - AFTER FIX ======================")
print_col_values(data)

========================== Train Data Statistics - AFTER FIX ======================
••► address_x (1311)

••► address_y (1311)

••► age: min = 12, 5% = 31, 95% = 70, max = 113, mean = 51.7007, median = 52

••► capital-gain: min = 0, 5% = 0, 95% = 4467.2025, max = 8614, mean = 377.5377, median = 0

••► capital-loss: min = 0, 5% = 0, 95% = 0, max = 0, mean = 0, median = 0

••► class: min = 0, 5% = 0, 95% = 1, max = 1, mean = 0.2643, median = 0

••► date_of_birth (1256)

••► education (17): ['Some-college', 'HS-grad', nan, 'Bachelors', '11th', 'Masters', 'Assoc-voc', '9th', '10th', 'Assoc-acdm', '12th', 'Prof-school', 'Doctorate', '1st-4th', '7th-8th', '5th-6th', 'Preschool']

••► education-num: min = 6, 5% = 6, 95% = 14, max = 16, mean = 10.2034, median = 10

••► fnlwgt: min = 41658.25, 5% = 41741.1625, 95% = 363341.1375, max = 556652, mean = 185901.5112, median = 176813.5

••► hours-per-week: min = 16, 5% = 16, 95% = 60, max = 99, mean = 40.4134, median = 40

••► id_x: min = 100, 5% = 165.6, 95% = 1344.4, max = 1410, mean = 755.1706, median = 756

••► id_y: min = 65.6, 5% = 65.84, 95% = 1289.4, max = 1360, mean = 673.8398, median = 670

••► income (3): ['<=50K', '>50K', nan]

••► kurtosis_glucose: min = 0.0006, 5% = 0.0395, 95% = 5.3106, max = 7.8796, mean = 1.2623, median = 0.4395

••► kurtosis_oxygen: min = 0, 5% = 0.7307, 95% = 15.1846, max = 30.0773, mean = 7.6178, median = 7.6236

••► marital-status (7): ['Never-married', 'Married-civ-spouse', 'Widowed', 'Divorced', 'Married-spouse-absent', 'Separated', 'Married-AF-spouse']

••► mean_glucose: min = 28.0578, 5% = 28.1403, 95% = 139.9234, max = 174.4453, mean = 101.0844, median = 110.0547

••► mean_oxygen: min = 1.0876, 5% = 1.0892, 95% = 109.1406, max = 199.5778, mean = 19.7421, median = 3.5987

••► name (1311)

••► native-country (31): ['United-States', 'Mexico', 'Poland', 'Philippines', 'Portugal', '?', 'Ecuador', 'El-Salvador', 'India', 'Dominican-Republic', 'Canada', 'England', 'South', 'Cuba', 'France', 'Germany', 'Guatemala', 'Yugoslavia', 'Nicaragua', 'Japan', 'Taiwan', 'Iran', 'Vietnam', 'Jamaica', 'Puerto-Rico', 'Outlying-US(Guam-USVI-etc)', 'Greece', 'Trinadad&Tobago', 'Haiti', 'Peru', 'Thailand']

••► occupation (14): ['Adm-clerical', '?', 'Machine-op-inspct', 'Sales', 'Craft-repair', 'Other-service', 'Exec-managerial', 'Handlers-cleaners', 'Tech-support', 'Prof-specialty', 'Transport-moving', 'Protective-serv', 'Farming-fishing', 'Priv-house-serv']

••► pregnant: min = 0, 5% = 0, 95% = 0, max = 1, mean = 0.0251, median = 0

••► race (6): ['White', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Black', 'Other', nan]

••► relationship (7): ['Own-child', 'Husband', 'Not-in-family', 'Wife', 'Unmarried', 'Other-relative', nan]

••► sex (2): ['Male', 'Female']

••► skewness_glucose: min = 0.002, 5% = 0.0628, 95% = 33.1514, max = 57.1752, mean = 6.8668, median = 1.3055

••► skewness_oxygen: min = 0, 5% = 1.5955, 95% = 274.1112, max = 526.4135, mean = 97.1655, median = 74.2623

••► std_glucose: min = 0.0617, 5% = 29.4198, 95% = 79.283, max = 119.6707, mean = 46.0884, median = 45.9192

••► std_oxygen: min = 11.1242, 5% = 11.1394, 95% = 80.4154, max = 109.7126, mean = 32.507, median = 21.8524

••► workclass (8): ['State-gov', '?', 'Private', 'Self-emp-inc', 'Self-emp-not-inc', 'Local-gov', 'Federal-gov', 'Never-worked']

In [28]:
# Real data after fix
print("========================== Train Data Statistics - AFTER FIX ======================")
print_col_values(rdata)

========================== Train Data Statistics - AFTER FIX ======================
••► address_x (1263)

••► address_y (1263)

••► age: min = 14, 5% = 32, 95% = 71, max = 98, mean = 51.9042, median = 52

••► capital-gain: min = 0, 5% = 0, 95% = 4548.405, max = 8614, mean = 377.4552, median = 0

••► capital-loss: min = 0, 5% = 0, 95% = 0, max = 0, mean = 0, median = 0

••► class: min = 0, 5% = 0, 95% = 1, max = 1, mean = 0.2644, median = 0

••► date_of_birth (1213)

••► education (16): ['Some-college', 'HS-grad', 'Bachelors', '11th', 'Masters', 'Assoc-voc', '9th', '10th', 'Assoc-acdm', '12th', 'Prof-school', 'Doctorate', '1st-4th', '7th-8th', '5th-6th', 'Preschool']

••► education-num: min = 6, 5% = 6, 95% = 14, max = 16, mean = 10.209, median = 10

••► fnlwgt: min = 41658.25, 5% = 41811.9, 95% = 363595.275, max = 556652, mean = 186447.8519, median = 176711

••► hours-per-week: min = 16, 5% = 16, 95% = 60, max = 99, mean = 40.2985, median = 40

••► id_x: min = 0, 5% = 66.2, 95% = 1244.9, max = 1310, mean = 654.038, median = 652

••► id_y: min = 65.6, 5% = 66.1, 95% = 1291.9, max = 1360, mean = 682.0576, median = 683

••► income (2): ['<=50K', '>50K']

••► kurtosis_glucose: min = 0.0006, 5% = 0.0379, 95% = 5.2858, max = 7.8796, mean = 1.2549, median = 0.4365

••► kurtosis_oxygen: min = 0.0201, 5% = 0.7429, 95% = 15.2951, max = 30.0773, mean = 7.6532, median = 7.6517

••► marital-status (7): ['Never-married', 'Married-civ-spouse', 'Widowed', 'Divorced', 'Married-spouse-absent', 'Separated', 'Married-AF-spouse']

••► mean_glucose: min = 28.0578, 5% = 28.0716, 95% = 139.8344, max = 174.4453, mean = 101.1513, median = 110.2578

••► mean_oxygen: min = 1.0876, 5% = 1.0879, 95% = 106.7145, max = 199.5778, mean = 19.4037, median = 3.5627

••► name (1263)

••► native-country (30): ['United-States', 'Mexico', 'Poland', 'Philippines', 'Portugal', 'Ecuador', 'El-Salvador', 'India', 'Dominican-Republic', 'Canada', 'South', 'Cuba', 'France', 'Germany', 'Guatemala', 'Yugoslavia', 'Nicaragua', 'Japan', 'Taiwan', 'Iran', 'Vietnam', 'Jamaica', 'England', 'Outlying-US(Guam-USVI-etc)', 'Puerto-Rico', 'Trinadad&Tobago', 'Haiti', 'Greece', 'Peru', 'Thailand']

••► occupation (13): ['Adm-clerical', 'Craft-repair', 'Machine-op-inspct', 'Sales', 'Other-service', 'Exec-managerial', 'Handlers-cleaners', 'Tech-support', 'Prof-specialty', 'Transport-moving', 'Protective-serv', 'Farming-fishing', 'Priv-house-serv']

••► pregnant (5): ['f', 'FALSE', 'F', 't', 'TRUE']

••► race (5): ['White', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Black', 'Other']

••► relationship (6): ['Own-child', 'Husband', 'Wife', 'Not-in-family', 'Unmarried', 'Other-relative']

••► sex (2): ['Female', 'Male']

••► skewness_glucose: min = 0.002, 5% = 0.0621, 95% = 32.967, max = 57.1752, mean = 6.8202, median = 1.305

••► skewness_oxygen: min = 0.0037, 5% = 1.6631, 95% = 275.7932, max = 526.4135, mean = 97.6572, median = 74.4388

••► std_glucose: min = 24.8982, 5% = 31.3414, 95% = 59.1233, max = 81.503, mean = 46.0289, median = 44.8342

••► std_oxygen: min = 11.1242, 5% = 11.1268, 95% = 80.0154, max = 109.7126, mean = 32.2616, median = 21.8212

••► workclass (7): ['State-gov', 'Private', 'Self-emp-inc', 'Self-emp-not-inc', 'Local-gov', 'Federal-gov', 'Never-worked']

In [29]:
data.head(50)

,id_x,name,address_x,age,sex,date_of_birth,id_y,address_y,race,marital-status,...,std_glucose,income,native-country,hours-per-week,capital-loss,workclass,mean_oxygen,std_oxygen,kurtosis_oxygen,skewness_oxygen
0,100,Philip Miller,"76348 Tran Harbor Apt. 760\r\nHarrisonton, GA ...",43,Male,1976-08-05,281.0,"7910 Rosales Plain Apt. 454\r\nPort Carl, GA 6...",White,Never-married,...,35.629364,<=50K,United-States,16.0,0.0,State-gov,3.311873,19.789627,7.709831,68.631028
1,101,Mitch Wilson,"309 James Hill Apt. 427\r\nPort Veronica, AR 6...",47,Male,1972-08-04,1092.0,055 Morgan Plains Suite 225\r\nEast Darrylmout...,White,Married-civ-spouse,...,34.900962,<=50K,United-States,40.0,0.0,?,1.799331,14.546599,10.377052,127.849582
2,102,James Olsen,"768 Brett Keys Suite 702\r\nSouth Tarashire, I...",22,Male,1997-02-23,180.0,"PSC 7359, Box 2088\r\nAPO AE 62717",White,Never-married,...,52.997015,<=50K,United-States,40.0,0.0,Private,6.313545,28.933747,4.957514,25.549865
3,103,Maurice Riley,"58487 Schneider Street\r\nGriffinfurt, RI 56689",41,Male,1978-04-03,90.0,USS Allen\r\nFPO AP 87677,White,Never-married,...,44.286729,<=50K,United-States,60.0,0.0,Private,3.306020,21.814243,7.619408,63.388103
4,104,Larry Stanley,"505 Mary Greens Suite 084\r\nNew Michael, CO 4...",49,Male,1969-12-24,410.0,"491 Fields Key Suite 544\r\nGracestad, MT 13456",White,Married-civ-spouse,...,51.490736,<=50K,United-States,40.0,0.0,State-gov,17.957358,54.002406,2.802044,6.229853
5,105,Stanley Orndorff,"836 Donna Vista Suite 550\r\nMikestad, NE 27413",53,Male,1966-05-22,282.0,"1989 Dylan Inlet Apt. 862\r\nCoreystad, MA 30654",White,Never-married,...,47.861009,>50K,United-States,45.0,0.0,Private,2.219064,13.922402,9.655650,123.287033
6,106,Mark Bierlein,"144 Gary Trail Suite 203\r\nNew Christopher, D...",38,Female,1980-11-20,679.0,Unit 7145 Box 9167\r\nDPO AA 86245,White,Married-civ-spouse,...,52.020039,<=50K,United-States,48.0,0.0,Private,3.000000,17.994193,8.505253,85.741876
7,107,Matthew Spence,"6415 Martin Dale Apt. 748\r\nBrandonhaven, NH ...",46,Male,1972-12-18,178.0,741 Alvarez Village Suite 345\r\nNew Stephanie...,White,Widowed,...,41.638119,<=50K,United-States,40.0,0.0,Private,40.301003,71.851596,1.547338,0.974635
8,108,Willie Williams,"458 Moreno Unions Suite 381\r\nSouth Pamela, M...",43,Male,1976-09-30,442.0,"149 Parker Tunnel\r\nRyanside, VA 94814",White,Never-married,...,37.858543,<=50K,United-States,40.0,0.0,Private,1.087625,12.929366,15.195374,254.685045
9,109,Curtis Johnson,"6711 Cristina River Apt. 482\r\nKimberlyfurt, ...",50,Male,1969-07-12,111.0,08244 Burton Junctions Suite 409\r\nScottmouth...,White,Never-married,...,50.446403,<=50K,United-States,40.0,0.0,Private,4.761706,24.852493,6.614463,48.131944
10,110,Adrian Strohm,"68090 Edwards Fall\r\nLake Paige, MS 70271",80,Male,1939-02-09,1314.0,"44759 Michael Crossing\r\nChapmanfurt, SC 23735",White,Married-civ-spouse,...,40.268035,>50K,United-States,40.0,0.0,Private,2.927258,20.546274,8.344271,76.764691
11,111,Vernon Sagon,"4161 Gordon Crescent\r\nPort Katherineton, MN ...",52,Male,1967-01-20,906.0,81395 Aguilar Mission Suite 404\r\nNew Caitlin...,White,Married-civ-spouse,...,41.357247,>50K,United-States,40.0,0.0,Private,1.087625,12.585304,15.382981,255.874090
12,112,Todd Gilles,"55210 Morrow Glen\r\nMillerport, VT 71363",63,Male,1956-01-31,766.0,"300 Robert Plaza Suite 415\r\nCastillostad, SC...",White,Married-civ-spouse,...,49.309289,<=50K,United-States,16.0,0.0,Self-emp-inc,3.053512,17.216227,7.924418,77.152930
13,113,Joseph Spector,"526 Young Shoal Suite 154\r\nPort Lorishire, R...",77,Male,1942-09-15,1052.0,Unit 6246 Box 4124\r\nDPO AE 49772,White,Never-married,...,33.117861,<=50K,United-States,20.0,0.0,?,1.168060,14.207999,13.751268,201.916585
14,114,Kristopher Catrone,"598 Mary Prairie\r\nDanahaven, MT 34410",45,Male,1974-06-07,489.0,"721 Griffin Course Apt. 814\r\nNorth Josebury,...",White,Married-civ-spouse,...,49.675743,>50K,United-States,48.0,0.0,Private,1.673077,11.443520,12.137807,216.017811
15,115,Lynn Quist,"2232 Flores Ridge\r\nSanchezstad, IL 31455",32,Male,1987-05-28,1206.0,"668 Leonard Spring Suite 947\r\nKathleenhaven,...",White,Never-married,...,46.230686,<=50K,United-States,40.0,0.0,Private,2.967391,18.337137,8.355472,83.331324
16,116,Eduardo Paci,7245 Harper Fields Apt. 575\r\nNorth Thomasshi...,68,Female,1951-09-04,998.0,"34386 Shepard Lodge Apt. 889\r\nEast Erin, RI ...",White,Married-civ-spouse,...,53.734825,>50K,United-States,38.0,0.0,Self-emp-not-inc,1.753344,15.909764,11.896421,158.139311
17,117,Elvin Troutman,"6647 Ball Ford\r\nDuffyside, NC 87161",64,Female,1955-11-14,1313.0,47716 Reynolds Tunnel Suite 466\r\nSouth Joshu...,White,Never-married,...,58.986360,<=50K,United-States,60.0,0.0,Private,1.512542,11.575794,12.875121,223.321600
18,118,John Briscoe,"9140 Harris Street\r\nNorth Marthahaven, KS 10518",65,Male,1954-07-25,456.0,"396 Nguyen Row\r\nGarrettberg, CT 57382",White,Never-married,...,52.796197,<=50K,United-States,40.0,0.0,Private,2.358696,21.724967,9.550653,92.165774
19,119,John Cuff,"87184 Jesus Pines Apt. 478\r\nEdwardtown, AK 5...",47,Female,1972-01-29,853.0,"10243 Williams Flats\r\nLongshire, OR 37126",White,Married-civ-spouse,...,55.821843,<=50K,United-States,45.0,0.0,Self-emp-not-inc,16.672241,53.283848,3.089930,8.037394
20,120,John Pierce,"2009 Garza Roads\r\nSamuelburgh, IN 64482",51,Male,1968-01-13,1177.0,"4433 Ryan Courts\r\nDonnamouth, DE 83886",White,Divorced,...,49.622796,<=50K,United-States,40.0,0.0,Private,5.753344,29.109645,6.073729,39.283027
21,121,Emanuel Jenkins,"6154 James Drives Suite 011\r\nShannonfurt, CA...",46,Male,1973-10-05,1243.0,"160 Taylor Gardens\r\nPort Brian, MO 75116",White,Divorced,...,57.156378,<=50K,United-States,40.0,0.0,Private,6.251672,29.915254,5.574107,32.551068
22,122,Paul Corey,"PSC 2244, Box 6510\r\nAPO AE 22370",59,Male,1960-01-13,1150.0,"0439 Baker Course\r\nBurkechester, CT 11984",White,Never-married,...,52.228577,<=50K,United-States,40.0,0.0,Private,10.773411,40.108377,3.922105,14.915962
23,123,Andrew Erickson,USNV Smith\r\nFPO AE 80235,60,Female,1958-11-09,441.0,"257 Tyler Creek Suite 312\r\nWatsonmouth, MI 0...",White,Married-civ-spouse,...,47.632606,<=50K,United-States,40.0,0.0,Private,2.151338,20.552437,9.920468,99.747079
24,124,Alex Coates,"1452 Jennifer Haven Suite 737\r\nNorth Daniel,...",51,Female,1968-09-14,212.0,"4187 Karen Via Suite 438\r\nKellyberg, WI 22338",White,Married-civ-spouse,...,41.400907,>50K,United-States,48.0,0.0,Private,2.440635,15.165607,9.604935,115.673773
25,125,Frankie Cook,"13756 Anita Ford Apt. 259\r\nNorth Aaron, PA 4...",48,Male,1971-10-01,728.0,"23338 Anthony Radial Apt. 750\r\nLake Erik, WA...",White,Married-civ-spouse,...,50.735082,<=50K,United-States,40.0,0.0,Private,2.132107,15.041557,10.839312,142.944434
26,126,James Oglesby,7015 Calderon Pike Suite 739\r\nSouth Michaels...,66,Female,1953-09-30,821.0,"PSC 5491, Box 5970\r\nAPO AE 70688",White,Married-civ-spouse,...,47.204032,>50K,United-States,40.0,0.0,Private,4.102843,26.634595,7.178031,53.899064
27,127,Terry Rock,"91358 Paul Camp Apt. 753\r\nEast Traci, OK 64296",46,Female,1972-11-01,65.6,"14807 Butler Springs\r\nNicholasbury, WY 45512",White,Married-civ-spouse,...,37.654155,<=50K,United-States,48.0,0.0,Self-emp-not-inc,6.367057,32.826440,5.393686,28.806546
28,128,Anthony Pisciotta,"907 Allen Coves\r\nNorth Christina, AR 21605",52,Male,1967-02-25,470.0,"2286 Phillips Squares Suite 449\r\nJamesberg, ...",White,Married-civ-spouse,...,51.517497,<=50K,Mexico,43.0,0.0,Private,1.808528,14.074549,10.780494,140.993671
29,129,Eric Steuer,"737 Booth Run\r\nLake Sherrybury, IN 15806",42,Male,1976-11-19,362.0,"053 Maria Freeway\r\nCortezfurt, NC 14978",White,Never-married,...,51.153947,<=50K,United-States,16.0,0.0,Private,1.087625,11.124224,30.077328,274.111189
30,130,Jose Perkins,"1752 Isabella Route\r\nSouth Steven, NE 16247",51,Male,1967-12-29,399.0,"5770 Lori Land\r\nNorth Philipmouth, WV 05787",White,Married-civ-spouse,...,48.470503,>50K,United-States,60.0,0.0,Private,5.409699,28.781864,6.132047,39.032383
31,131,Wayne Brown,"9612 Nelson Ridge Suite 913\r\nGordontown, IA ...",47,Female,1972-06-11,617.0,"3628 Reese Haven\r\nSouth Melissaside, GA 83688",White,Never-married,...,45.113875,<=50K,United-States,40.0,0.0,Private,1.932274,16.661029,10.873864,130.190519
32,132,Hans Sackett,"05091 Mary Circles\r\nVeronicafort, ND 49693",52,Male,1967-07-05,208.0,"99338 Raymond Junction\r\nLake Edwardmouth, MA...",White,Married-civ-spouse,...,35.149089,<=50K,United-States,30.0,0.0,Self-emp-not-inc,1.102843,11.124224,15.295069,309.534450
33,133,Harry Mcgraw,"0297 Peter Landing Apt. 356\r\nDerektown, ND 1...",56,Male,1963-09-27,227.0,"441 Monroe Prairie Apt. 973\r\nWest Ruth, RI 7...",White,Married-civ-spouse,...,45.105215,<=50K,United-States,40.0,0.0,State-gov,74.515050,75.759095,0.713123,-0.585219
34,134,James Hunt,"93487 Kim Prairie Suite 163\r\nVillanuevaland,...",66,Male,1952-12-17,786.0,7188 Murray Parkways Apt. 495\r\nBlackburnhave...,White,Divorced,...,-3553.638445,<=50K,United-States,40.0,0.0,Local-gov,45.357023,74.777454,1.261686,-0.064243
35,135,Luke Smart,"56200 Skinner Loaf\r\nLake Kennethshire, MS 89242",58,Male,1960-11-23,1067.0,23110 Brooks Rapid Suite 473\r\nLake Katieport...,White,Widowed,...,9.540510,<=50K,United-States,24.0,0.0,Local-gov,1.087625,11.124224,20.125765,418.792727
36,136,Caleb Johnson,"28237 Bradley Hollow\r\nEast Danielle, ME 02948",46,Female,1973-03-02,106.0,"6704 Jon Valley\r\nSouth Stanleyland, MT 39326",White,Married-civ-spouse,...,52.603116,<=50K,United-States,40.0,0.0,Private,2.051839,17.385285,10.632605,123.004078
37,137,Eric Guerrero,"3350 Cameron Flat\r\nNorth Julie, CO 29849",60,Male,1959-06-28,236.0,"1950 Michael Bridge\r\nStewartton, NH 60931",White,Married-civ-spouse,...,49.607374,<=50K,United-States,40.0,0.0,Private,91.700669,91.157142,0.020086,-1.015767
38,138,Paul Griggs,Unit 0378 Box 7825\r\nDPO AE 23465,70,Male,1949-05-13,893.0,"1148 Kelly Plains\r\nNorth Amyport, NY 00741",White,Never-married,...,46.865097,<=50K,United-States,40.0,0.0,Private,26.287625,60.055792,1.985768,2.296079
39,139,Jimmy Jones,"338 Erica Court Apt. 560\r\nAngelachester, MS ...",48,Male,1971-07-13,867.0,"52106 Bailey Walk\r\nBeckerhaven, CA 93435",White,Married-civ-spouse,...,50.203847,>50K,United-States,40.0,0.0,Private,2.431438,14.253480,8.875417,107.305865
40,140,John Bormann,"71353 Miller Point\r\nLake John, PA 33429",63,Male,1956-05-15,674.0,"258 Regina Ways Apt. 737\r\nMichaelchester, OR...",White,Married-civ-spouse,...,52.463966,>50K,Poland,40.0,0.0,Private,3.415552,22.261716,7.409318,58.677853
41,141,Karl Fredrick,"15818 Jones Land Suite 907\r\nWilliamside, MI ...",38,Female,1981-09-05,95.0,"1476 Michael Springs\r\nNew Mary, GA 98764",White,Married-civ-spouse,...,36.698036,<=50K,United-States,40.0,0.0,Private,15.576087,45.384018,3.261571,10.432695
42,142,James Bailey,"1283 Mata Via Apt. 312\r\nNew Brianton, WI 01269",54,Female,1965-02-14,302.0,"9072 Charles Burg Apt. 032\r\nShannonburgh, NY...",White,Divorced,...,45.821058,>50K,United-States,55.0,0.0,Private,3.943144,20.588664,6.503843,48.725340
43,143,Rickey Bell,USS Jones\r\nFPO AE 94883,42,Male,1977-09-18,488.0,"PSC 1057, Box 0591\r\nAPO AE 69779",White,Married-civ-spouse,...,52.362090,<=50K,Mexico,40.0,0.0,Private,6.807692,30.265295,5.292332,29.829981
44,144,James Dyer,"204 Young Hill Suite 981\r\nMarychester, FL 77735",50,Female,1969-01-05,152.0,"33646 Adams Ford\r\nNorth Christina, TN 05065",White,Never-married,...,41.537443,<=50K,United-States,40.0,0.0,State-gov,1.087625,11.124224,21.441596,274.111189
45,145,Charles Carver,"94834 Shaw Harbors\r\nWest Ryanfort, LA 86095",63,Female,1956-06-01,629.0,"4787 Nichole Extensions\r\nJacobborough, AZ 29271",Asian-Pac-Islander,Married-civ-spouse,...,48.703503,>50K,Philippines,35.0,0.0,Private,2.307692,18.391296,9.139240,90.083909
46,146,William Nolan,19564 Jennifer Fork Apt. 738\r\nWhiteheadchest...,65,Male,1954-01-16,314.0,"71999 Reynolds Track\r\nPort Thomas, NM 41767",White,Never-married,...,51.797716,<=50K,United-States,16.0,0.0,State-gov,2.242475,20.113052,9.429414,91.158131
47,147,Steven Skinner,"72646 Richardson Plaza\r\nCynthiamouth, OH 94749",56,Male,1963-08-28,1034.0,"700 Kathleen Skyway\r\nDavisborough, TX 47147",White,Never-married,...,79.282977,<=50K,United-States,23.0,0.0,Private,6.816054,31.837741,5.340636,29.963207
48,148,David Thornton,"326 Williams Rapid\r\nNorth Sandra, ID 16392",55,Male,1964-06-18,660.0,9694 Anderson Tunnel Suite 144\r\nNorth Terris...,White,Married-civ-spouse,...,54.475929,<=50K,United-States,16.0,0.0,Local-gov,1.087625,13.918740,15.295530,247.169710
49,149,Matthew Mccormick,"67285 Robert Fords\r\nSouth Stacyshire, AL 52614",32,Male,1987-05-08,494.0,"781 Amy Hills\r\nJosephview, NJ 50506",White,Widowed,...,49.724465,<=50K,United-States,40.0,0.0,Private,1.087625,11.124224,18.171043,359.270375

# Documentation

## Integrácia dát a prípadná deduplikácia záznamov

Tabuľky sme spájali podľa atribútu `name`. Spojili sme tabuľky `data`, ktorá obsahuje upravené data a tabuľku `data2reg0595`, ktorá obsahuje funkciami opravené dáta z tabuľky `data2`
Spájanie tabuliek robíme až po spracovaní pôvodných tabuliek a oprave dát

## Realizácia krokov predspracovania dát a ich zdokumentovanie

Na odstránenie vychýlených hodnôt sme použili metódy **nahradenie vychýlenej hodnoty hraničnými hodnotami rozdelenia** a **transformácia atribútu s vychýlenými hodnotami pomocou zvolenej funkcie** - konkrétne pomocou logaritmu.

Pomocou percentilu sme upravovali väčšinu číselných hodnôt pretože obsahovali aj záporné čisla.
Odchylku v atribúte `mean_oxygen` sme opravili pomocou logaritmu pretože všetky jeho hodnoty boli kladné

Na riešenie chýbajúcich hodnôt sme použili metódy **nahradenie chýbajúcej hodnoty mediánom** a **nahradenie chýbajúcej hodnoty pomocou lineárnej regresie**

Nahradenie hodnôt regresiou sme použili v prípade hodnôt `mean_glucose` a `std_glucose` kde vidno že v priemere je `mean_glucose` násobok hodnoty `std_glucose`

Na zvyšné hodnoty sme použili dopočítavanie mediánom.

## Opätovná realizácia podstatných častí prieskumnej analýzy

**Všeobecné**
- Niektoré stĺpce obsahovali medzeru pred hodnotou. Tieto medzeri sme odstránili

- Spájanie riadkov v prípade duplicitných záznamov: pokiaľ záznam obsahuje “nan” alebo “?”, doplní sa z iného záznamu. Pokiaľ oba záznamy obsahujú hodnotu v stĺpci, numerické hodnoty zapíšu priemer hodnôt a nenumerické hodnoty vyberú prvú z možností 

**Date_of_birth**
- Dátum je spracovaný do formátu yyyy-mm-dd. Boli z neho odstránené časy narodenia. „/“ bola nahradená „-“. Rok narodenia zapísaný v tvare napr. 68 (1968) bol podľa veku upravený na požadovaný formát.

**Age**
- Z upravených dátumov narodenia sa dopočítal chýbajúci vek

**Sex**
- Zjednotené na "Male" "Female" 

**Pregnant**
- Hodnoty boli zjednotené na „True“ a „False“

**Education_num**
- `nan` hodnoty boli nahradené mediánom

**Income**
- Zjednotené na 2 hodnoty “>50K“ a „<=50K” pomocou mediánu

**Class**
- Hodnoty sme zmenili na integer a obsahujú len hodnoty “1” a “0”

**Std_glucose**
- Chýbajúce hodnoty boli dopočítané priemerom. Odľahlé hodnoty sme nahradili hraničnou hodnotou rozdelenia  - 95 percentilom a 5 percentilom

**Skewness_oxygen**
- Chýbajúce hodnoty boli dopočítané priemerom. Odľahlé hodnoty sme nahradili hraničnou hodnotou rozdelenia  - 95 percentilom

**mean_oxygen**
- Chýbajúce hodnoty boli dopočítané priemerom. Odľahlé hodnoty sme nahradili logaritmom hodnôt.

**Skewness_glucose**
- Chýbajúce hodnoty boli dopočítané priemerom. Odľahlé hodnoty sme nahradili hraničnou hodnotou rozdelenia  - 95 percentilom

**Std_oxygen, mean_glucose, kurtosis_glucose, kurtosis_oxygen**
- Chýbajúce hodnoty boli nahradené priemerom

**Capital_loss, capital_gain, fnlwgt, hour-per-week**
- Chýbajúce hodnoty boli nahradené mediánom

**Education, marital_status, native-country, occupation, race, relationship, workclass**
- Chýbajúce hodnoty boli doplnené najčastejšie sa vyskytujúcim prvkom

## Znovupoužiteľnosť predspracovania

Keďže je naša oprava dát písaná vo funkciach je dobre použiteľná aj na ďalšie datasety.

- Funkcia `fix_date_format` opraví akýkoľvek formát dátumu do nášho požadovaného formátu.

- Funkcia `calc_missing_ages_from_date_of_birth` dopočíta chýbajúce údaje o veku pomocou dátumu narodenia.

- `merge_duplicate_rows` je funkcia, ktorá nájde duplicitné záznamy podľa mena pacienta a spojí ich do jedného záznamu.  Z číselných hodnôt sa vypočíta priemer bez nulových hodnôt a z nečíselných hodnôt sa zapíše prvá vyskitnutá hodnota.

- `fix_pregnant` zmení hodnoty stĺpca **pregnant** na jednoznačné `nan`, `0` a `1` počiatočné hodnoty.

- `replace_missing_data_with_medians` pre čiselné atribúty doplní medián atribútu a pre nečiselné hodnoty doplní prvok s najčastejším výskytom v datasete

- `replace_missing_data_with_regr` slúži na doplnenie chýbajúcich dát pomocou lineárnej regresie

Tieto funkcie sú aplikovatelné na akýkoľvek dataset a mali by byť schopné opraviť / doplniť hodnoty, pre ktoré sú navrhnuté:

- `replace_outlying_log` opravuje vychýlené hodnoty pomocou logaritmu
- `replace_outlying_0595` opravuje vychýlené hodnoty pomocou percentilu

Na opravu vychýlených hodnôt sa bude musieť dávat pozor, ktorá funkcia sa používa.

Oprava pomocou percentilu je použitelná kedykoľvek, ale oprava pomocou logaritmu by sa teoreticky dalo len použiť na dáta, ktoré obsahujú len kladné hodnoty čísla. Na riešenie tohto problému urobíme logaritmus z absolútnych hodnôt dát.